[2022-01-06 08:06] Darshnadas commented on #878
Hi @feiskyer sorry for replying late, but can you help me understand this issue more briefly? This is my first time working on this type of issue, it will be really helpful if you can explain by `release-notes` installed and what has to be done? Can you explain me more clearly?

[2022-01-06 12:40] feiskyer commented on #878
Generally, it could be done in 4 steps:

1) collect the branch name and github tags
2) Install by `GO111MODULE=on go install k8s.io/release/cmd/release-notes@latest`
3) run `release-notes ...` as shared above
4) publish the contents of result in github releases

[2022-01-06 12:51] feiskyer commented on #917
At least the default one when `loadBalancerClass` is not specified and skip when it is set to other values.

For non-default ones, we need to validate what sets of LoadBalancers could be worked together, including different SKUs (Basic LB, Standard LB, Gateway LB, Global LB) and different nodepools (VM IP config, VM IP address, Pod IP address).

[2022-01-06 14:45] Darshnadas commented on #878
For all the releases? does it have to publish separately or at once for all the releases it can published?

[2022-01-07 04:49] luncj commented on #878
When we push a new release tag, it should trigger the action to generate release-note and publish release. Right?

https://github.com/softprops/action-gh-release may help (example: https://github.com/linkerd/linkerd2/blob/main/.github/workflows/release.yml).

[2022-01-07 14:24] Darshnadas commented on #878
Hi, @luncj I will read them and again get back to you or @feiskyer. It'll be easier if I start a slack thread regarding this issue, will it be okay?

[2022-01-10 05:49] gossion opened #984 "network resource in a different subscription but in the same tenant"
#### What happened:
when using vnet from a different subscription (but in the same tenant), as configured below:
[code]

I found that routetable was created in sub1, which is not aligned with vnet subscription.
#### What you expected to happen:
Expect routetable to be created in sub2 where vnet locates.

#### How to reproduce it (as minimally and precisely as possible):

#### Anything else we need

[2022-01-10 17:20] aramase commented on #704
/remove-lifecycle stale

[2022-01-12 02:42] MartinForReal commented on #984
/assign

[2022-01-18 02:10] feiskyer commented on #814
/milestone v1.24

[2022-01-18 02:32] feiskyer commented on #698
Sorry for the late response, @keymon just to confirm, are you using internal LoadBalancer, or you mean the "Internet" rule behaviors different from "0.0.0.0/0" rule?

https://github.com/kubernetes-sigs/cloud-provider-azure/blob/17d5b7cd1f70e07444599a61c6d5e403a5009504/pkg/provider/azure_loadbalancer.go#L2256-L2260

[2022-01-18 09:44] keymon commented on #698
We are using internal loadbalancer. The issue description details the case.
.

[2022-01-18 11:12] luncj commented on #878
Hi, @Darshnadas. Is there any progress? I will help solve this issue along with #879.

[2022-01-19 01:33] MartinForReal commented on #984
/reopen

[2022-01-19 05:00] #878 closed

[2022-01-19 05:33] luncj commented on #879
fixed via #1014

[2022-01-19 05:49] luncj opened #1018 "Automatic cherry pick commits to active releases"
#### What would you like to be added:

- `hack/cherry-pick.sh <pr> <target-branch>`: checkout a new branch based on `<target-branch>`, then cherry-pick the commits from specified `<pr>`, and create a GitHub PR.

ref:
- https://github.com/kubernetes/kubernetes/blob/master/hack/cherry_pick_pull.sh

#### Why is this needed:

https://github.com/kubernetes/kubernetes/issues/10730#issue-93131739

[2022-01-19 08:00] feiskyer commented on #698
Thanks for the confirmation. As Kubernetes default sourceRanges is "0.0.0.0/0" for external IPs, the check for `servicehelpers.IsAllowAll(sourceRanges)` is required for public LB. And L2257 ensures internal IPs are not exposed to Internet by default.

To fix this issue, we should differentiate whether "0.0.0.0/0" is coming from service spec or from default value. If it is from service.spec, then w

[2022-01-19 08:03] feiskyer commented on #698
@MartinForReal could you help to fix this issue?

[2022-01-19 08:22] feiskyer commented on #1018
I think we could add a script for cherry-picking, but automatically cherry-pick may be hard as there are high chances of conflicts in different branches.

Could we add a cherry-pick-pull.sh script?

[2022-01-19 08:25] MartinForReal commented on #698
/assign

[2022-01-19 08:57] luncj commented on #1018
Agreed. It's inevitable that we need to resolve the conflicts manually. The `create new branch` / `get commits from PR` / `try apply commits if no conflict occurs` / `create PR` parts could be automatic anyway.

[2022-01-19 13:51] luncj commented on #1018
https://prow.k8s.io/command-help#cherrypick

[2022-01-19 14:02] luncj commented on #1018
closed via https://github.com/kubernetes/test-infra/pull/24920

[2022-01-19 15:34] MartinForReal commented on #984
/close

[2022-01-19 15:34] #984 closed

[2022-01-20 04:33] nilo19 opened #1025 "Publish release notes to the doc website automatically by github actions"
#### What would you like to be added:

Release notes on the website: https://kubernetes-sigs.github.io/cloud-provider-azure/blog/
Corresponding files: site/content/en/blog/releases/*.md

#### Why is this needed:

[2022-01-20 04:34] nilo19 commented on #1025
/assign @luncj

[2022-01-20 06:19] #1018 closed

[2022-01-20 08:03] luncj commented on #1025
/assign

[2022-01-20 08:05] luncj commented on #879
/assign
/close

[2022-01-21 08:07] anjmao opened #1033 "AKS standard vm types"
Is it possible to configure AKS control plane to work with standalone nodes which are not part of vmss or node pools? Or should I just install https://github.com/kubernetes-sigs/cloud-provider-azure with vmType=standard and have two competing cloud-controller-managers?

I know how to join standalone nodes, but load balancers are not working. Service controller validates if node is part of vmss. I

[2022-01-21 08:36] nilo19 commented on #933
/assign @lzhecheng

[2022-01-21 08:36] lzhecheng commented on #933
/assign

[2022-01-21 11:08] anjmao commented on #1033
Gonna try scale set flexible mode https://docs.microsoft.com/en-us/azure/virtual-machines/flexible-virtual-machine-scale-sets to create one scaling set and attach all custom vms to it.

[2022-01-21 13:23] varnastadeus commented on #639
Hey, any news on supporting flexible orchestration vmss?

[2022-01-24 02:52] nilo19 commented on #933
ref: https://github.com/kubernetes/kubernetes/pull/93962

[2022-01-24 05:49] Darshnadas commented on #878
Hi @luncj, unfortunately, I have been busy with another work, will start with this issue this week.

[2022-01-24 05:55] feiskyer commented on #878
@Darshnadas thanks for the reply. this is already done by #1014.

[2022-01-24 05:59] feiskyer commented on #1033
sorry, this is not supported as cloud provider azure is part of AKS control plane. If you want to manage the cloud provider azure yourself, [aks-engine](https://github.com/Azure/aks-engine), [capz](https://github.com/kubernetes-sigs/cluster-api-provider-azure) or other provisioning tools supporting Azure could be used.

[2022-01-24 06:19] Darshnadas commented on #878
Okay, @feiskyer. Will look forward to contribute to another issue :)

[2022-01-24 13:01] feiskyer opened #1047 "Cloud provider should keep the AZ for ILB frontendIPConfiguration"
#### What happened:

After #403, cloud provider would always set AZ when a region supports AZ. But because a region may switch from non-AZ to AZ, old  frontendIPConfiguration without AZ would get ResourceAvailabilityZonesCannotBeModified error when the cloud provider azure is upgraded to v0.7+ on the AZ supported regions.

#### What you expected to happen:

The old AZ values on ILB  frontendIPConf

[2022-01-25 02:26] feiskyer commented on #1047
/assign @nilo19

[2022-01-25 09:50] lzhecheng commented on #933
It may not be valid to check existence of resource group. The reason is that resources (LB, IP, etc.) can be in different resource groups and users can add new resources into LB related resource group. Existence of resource group cannot tell if a LB's related resources are successfully deleted or not.
I have a tentative approach for the issue. The basic idea is:
It is incorrect to check 403/404 er

[2022-01-26 08:35] feiskyer commented on #933
Yes, +1 for this.

[2022-01-26 20:47] jsturtevant commented on #705
/remove-lifecycle stale

[2022-01-27 01:26] nilo19 commented on #705
https://github.com/kubernetes-sigs/cluster-api-provider-azure/pull/1563 has been closed. Do we still plan to support windows with out-of-tree cloud provider in capz? @CecileRobertMichon

[2022-01-27 01:33] CecileRobertMichon commented on #705
@nilo19 yes, see https://github.com/kubernetes-sigs/cluster-api-provider-azure/pull/1994 which is changing all test flavors to out of tree

@jackfrancis was actually having trouble getting out of tree provider working with windows, see this slack thread: https://kubernetes.slack.com/archives/CEX9HENG7/p1643223810161800?thread_ts=1643218459.154600&cid=CEX9HENG7

It would still be good to have a sto

[2022-01-27 04:04] nilo19 opened #1071 "Add health check for controllers"
#### What would you like to be added:

We need to add health check for all controllers to gain insight if some of them are in failed state.
Example: https://github.com/kubernetes/cloud-provider/blob/ffb14a0934a04d96f6f92a9c801140193ec87bbf/app/controllermanager.go#L289-L303

#### Why is this needed:

There is a chance that the service controller is not working porperly ([test](https://prow.k8s.io/

[2022-01-27 05:18] lzhecheng commented on #1071
I will take the task. /assign

[2022-01-27 05:19] lzhecheng commented on #1071
/assign

[2022-01-28 07:52] #809 closed

[2022-01-29 12:19] feiskyer opened #1087 "UDP services may trigger unnecessary LoadBalancer updates"
#### What happened:

While nothing changed to all LoadBalancer service specs, scaling node number or restart controller manager would trigger LoadBalancer update APIs. This is because `EnableTCPReset` value is different between expected LB rule and existing LB rule when the protocol is not TCP, and hence `equalLoadBalancingRulePropertiesFormat()` would treat the LB rule as updated.

And here are t

[2022-01-29 12:35] feiskyer commented on #1087
/assign @lzhecheng

[2022-01-29 15:18] #1047 closed

[2022-01-30 01:09] lzhecheng commented on #1087
/assign

[2022-02-07 07:23] #1087 closed

[2022-02-08 03:11] lzhecheng commented on #919
/assign

[2022-02-08 08:03] #1025 closed

[2022-02-09 10:02] #698 closed

[2022-02-09 15:24] #949 closed

[2022-02-10 09:55] #1071 closed

[2022-02-11 02:22] nilo19 opened #1136 "Reduce the number of calls to get public IPs"
#### What would you like to be added:

#### Why is this needed:

There are many GET public IP calls in a service reconciliation loop, causing a risk of throttling. We need to recude the number of calls by, for example, adding a cache to the public IPs, just like other resources such as VMSS and LB.

[2022-02-11 02:27] nilo19 opened #1137 "Expose the health check failures to the CI logs"
#### What would you like to be added:

#1085 adds health checks for ccm and cnm, but we still cannot tell what is wrong in the CI logs if the ccm is down accidentally. Need to expose the failure events to the CI logs for further investigation.

#### Why is this needed:

[2022-02-11 02:27] nilo19 commented on #1136
/kind cleanup

[2022-02-11 02:42] nilo19 commented on #956
solved by https://github.com/kubernetes-sigs/cloud-provider-azure/pull/1034

[2022-02-11 02:55] #1033 closed

[2022-02-11 06:37] aramase opened #1138 "Use `capz` for single stack ipv6 prow jobs"
Creating this issue to track migration of single stack IPv6 prow jobs to use [capz](https://github.com/kubernetes-sigs/cluster-api-provider-azure/) as [aks-engine](https://github.com/Azure/aks-engine#project-status) is deprecated.

[2022-02-15 02:33] lzhecheng commented on #1137
/assign

[2022-02-16 10:57] MartinForReal commented on #962
fixed in #963

[2022-02-16 10:57] #962 closed

[2022-02-16 10:58] MartinForReal commented on #952
fixed in #963

[2022-02-16 10:58] #952 closed

[2022-02-16 10:58] #948 closed

[2022-02-16 11:01] #879 closed

[2022-02-16 14:35] MartinForReal commented on #951
related #1104

[2022-02-16 14:40] MartinForReal commented on #562
related #429

[2022-02-16 14:41] MartinForReal commented on #562
Should this issue be closed? @feiskyer

[2022-02-16 15:16] hterik commented on #559
We still see this problem on AKS with 1.21.2. Did you find any solution or workaround?

[2022-02-17 02:49] feiskyer opened #1155 "Node may be registered with empty ProviderId when there is something wrong in IMDS"
#### What happened:

When IMDS is not available, Node may be registered with empty ProviderId because there is no retrying in the following logic:

https://github.com/kubernetes-sigs/cloud-provider-azure/blob/bfc511f1ca39f87cf47b064c33d5922ae6ed02f9/pkg/nodemanager/nodemanager.go#L381-L385

https://github.com/kubernetes-sigs/cloud-provider-azure/blob/bfc511f1ca39f87cf47b064c33d5922ae6ed02f9/pkg/no

[2022-02-17 03:06] nilo19 commented on #559
Need to cherry pick that change to the in-tree code. Before that, is it possible foryou to switch to out-of-tree ccm to solve the issue @hterik ?

[2022-02-17 05:02] hterik commented on #559
Thank you for the tip. I guess what you are suggesting is this? https://docs.microsoft.com/en-us/azure/aks/out-of-tree, it has a lot of scary _preview_-disclaimers.
It also says this:

Would it be enough to just upgrade the kubernetes version of the AKS cluster instead? [1.22 is now GA.](https://docs.microsoft.com/en-us/azure/aks/supported-kubernetes-versions?tabs=azure-cli#aks-kubernetes-release-

[2022-02-17 05:04] nilo19 commented on #559
yes, please upgrade it to 1.22.x if possible. We have GA out-of-tree cloud provider azure since v1.22.0.

[2022-02-17 17:37] CecileRobertMichon opened #1157 "Helm chart for cloud provider"
#### What would you like to be added:
A Helm chart for installing CCM and CNM. Example of another project doing something similar: https://github.com/cilium/cilium/tree/v1.11.1/install/kubernetes/cilium

#### Why is this needed:
Now that external cloud provider is becoming the default in future versions of Kubernetes, we need to provide users an easy way to install and upgrade their cloud provider

[2022-02-18 05:05] jwtty commented on #1155
/assign @jwtty

[2022-02-19 14:15] hterik opened #1181 "Cluster auto scaler not supporting Standard_HBxxx type nodes after update from 1.21 to 1.22"
#### What happened:
Create AKS cluster on v1.22.6
Create Nodepool with vm_size=Standard_HB120rs_v3.
Start pod demanding this node pool.
Nodes never start up
Auto scaler logs show `E0219 12:52:11.365374 1 static_autoscaler.go:304] Failed to get node infos for groups: instance type "Standard_HB120rs_v3" not supported `

#### What you expected to happen:
Node pool scale up when pods are created.

###

[2022-02-21 03:27] nilo19 commented on #1181
@hterik please open an issue in https://github.com/kubernetes/autoscaler
(Need to update https://github.com/kubernetes/autoscaler/blob/master/cluster-autoscaler/cloudprovider/azure/azure_instance_types.go)

[2022-02-21 03:27] #1181 closed

[2022-02-21 03:33] nilo19 commented on #704
/kind testing

[2022-02-21 06:55] hterik commented on #1181
Hi
`azure_instance_types.go` already has Standard_HB120rs_v3, see https://github.com/kubernetes/autoscaler/blob/master/cluster-autoscaler/cloudprovider/azure/azure_instance_types.go#L3337.

This was added in https://github.com/kubernetes/autoscaler/pull/4166/files which got released in https://github.com/kubernetes/autoscaler/releases/tag/cluster-autoscaler-1.22.0 Aug 2021.
Can i find out exactly

[2022-02-21 07:21] hterik commented on #1181
Managed to find this in the diagnostics logs `I0221 06:51:20.218040 1 main.go:415] Cluster Autoscaler 1.22.5 `. This version doesn't seem to exist in https://github.com/kubernetes/autoscaler/blob/cluster-autoscaler-release-1.22/cluster-autoscaler/version/version.go.  :raised_eyebrow:

[2022-02-21 07:24] nilo19 commented on #1181
The AKS does not use the upstream version of cluster-autoscaler. Can you open an issue in https://github.com/Azure/AKS?

[2022-02-21 07:40] hterik commented on #1181
Thanks, reported https://github.com/Azure/AKS/issues/2799 instead.

[2022-02-21 09:16] rayandas commented on #1157
Can I take this up? But I am new to Helm, I could use some help.

[2022-02-22 15:35] bridgetkromhout opened #1187 "Enable and document SCTP support"
Moving this issue from the AKS Engine repo https://github.com/Azure/aks-engine/issues/4108. Per @aramase, this may not yet be tracked in CAPZ.

SCTP support for Services, Pod, Endpoint, and NetworkPolicy is finally GA as of Kubernetes 1.20 (https://github.com/kubernetes/enhancements/pull/2107) after being introduced in 1.12.

- [ ] Test SCTP support with clusters in Azure. Make necessary changes t

[2022-02-23 05:47] nilo19 opened #1192 "Clean github release notes"
#### What happened:

The github releases that are generated by the github action has a wrong format. The markdown heading that is supposed to show only on website docs also shows in the github release pages.

#### What you expected to happen:

Clean the unexpected contents.

#### How to reproduce it (as minimally and precisely as possible):

#### Anything else we need to know?:

#### Environment:

[2022-02-23 05:47] nilo19 commented on #1192
/assign @lodrem

[2022-02-23 05:48] lodrem commented on #1192
/assign

[2022-02-23 16:41] ricky-rav opened #1194 "Azure load balancer is never updated when node status changes"
(this is the same as https://github.com/kubernetes/kubernetes/issues/108283)
### What happened?

Nodes that are no longer in the `Ready` state (i.e. due to a reboot) do not get removed from backend pools of Azure load balancers.

In the current code, a node gets removed from the backend pool of an Azure load balancer only if:

- it is labeled with `node.kubernetes.io/exclude-from-external-load-bal

[2022-02-24 04:38] vsabella opened #1197 "Changes in Load Balancer Annotations do not cause load balancer to update"
Azure Kubernetes Service 1.21.7
Azure Kubernetes Service 1.21.9

Whenever we update a load balancer health probe to switch from TCP to HTTP protocol by applying the annotation:

```service.beta.kubernetes.io/azure-load-balancer-health-probe-protocol=http```

The load balancer health probes are never updated. We need to delete the service entry and recreate it to have the health probes updated (cre

[2022-02-24 09:41] lodrem commented on #639
/assign

[2022-02-24 13:08] #1192 closed

[2022-02-24 14:38] djsly commented on #1136
Thanks @nilo19  for opening this, do you know what can trigger such throttling, we have been affected by it recently, and never before. We still have around the same Public IPs in place since the last year.

I'm wondering which this is showing up just now, maybe a recent change in the azure-provide-cloud ?

Also, should we expect this to be back ported to 1.21/1.22 ?

[2022-02-24 15:52] ialidzhikov commented on #943
/reopen

[2022-02-25 01:17] nilo19 commented on #1136
The exact reason is unclear but for now, # of services will greatly affect the # of calls to PIP apis. If we managed to fix this, it will be back ported to the supported versions.

[2022-02-25 01:52] lzhecheng commented on #1137
The PR below adds support to dump Pod events. Closing this issue.
https://github.com/kubernetes-sigs/cluster-api-provider-azure/pull/2087

[2022-02-25 01:52] #1137 closed

[2022-02-25 05:02] andyzhangx opened #1201 "add unit test for azure file client"
#### What would you like to be added:
add unit test for azure file client
https://github.com/kubernetes-sigs/cloud-provider-azure/blob/master/pkg/azureclients/fileclient/azure_fileclient.go

any volumteer?

#### Why is this needed:

[2022-02-25 08:59] nilo19 commented on #1201
/good-first-issue

[2022-02-28 06:08] #1155 closed

[2022-02-28 07:25] cvvz commented on #1201
I would like to work on it.
/assign

[2022-03-01 09:35] cvvz commented on #1201
Seems like azure file client use [fileSharesClient](https://github.com/kubernetes-sigs/cloud-provider-azure/blob/master/pkg/azureclients/fileclient/azure_fileclient.go#L34) and [fileServicesClient](https://github.com/kubernetes-sigs/cloud-provider-azure/blob/master/pkg/azureclients/fileclient/azure_fileclient.go#L35) to  make http calls. Should I use [monkey](https://github.com/bouk/monkey) to cre

[2022-03-02 03:15] nilo19 commented on #1201
looks it is not easy to test, @andyzhangx any ideas?

[2022-03-02 03:15] nilo19 commented on #1201
Is it possible to migrate to armClient?

[2022-03-02 19:11] #1194 closed

[2022-03-03 01:23] cvvz commented on #1201
Maybe we could abstract another two interfaces for fileSharesClient and fileServicesClient, rather than using the instances directly. This can be helpful for UT.

[2022-03-08 08:24] jwtty commented on #1136
/assign @jwtty

[2022-03-09 14:36] MartinForReal commented on #872
/remove-lifecycle stale

[2022-03-11 08:59] jwtty commented on #872
/assign

[2022-03-14 13:48] bridgetkromhout opened #1246 "IP address allocation from service tags"
#### What would you like to be added:

When creating a new service, all IP addresses must be allocated from the service tag.

[Moved from https://github.com/Azure/aks-engine/issues/4392 because AKS Engine is deprecated and this is a cloud-provider level of task.]

#### Why is this needed:

We need to be able to tell customers that traffic to our service and/or traffic from our service will always

[2022-03-17 11:26] andyzhangx opened #1273 "[feature request]get node name from IMDS"
#### What would you like to be added:
Currently for Azure agent node, hostname is the node name (same as GCE), we should support get node name from IMDS since there are cases that user wants to customize hostname by themselves, in that case, hostname != VM name, while IMDS always returns VM name.

[code]
https://github.com/kubernetes/kubernetes/blob/dd2596e40d1fbb92fa4825145c4cf8cda1e559fa/staging

[2022-03-21 01:19] feiskyer commented on #900
@nilo19 do we still have this issue?

[2022-03-21 01:21] nilo19 commented on #900
I think so. I don't touch this because we haven't drawn a conclusion if it's needed or not, based on the previous conversation.

[2022-03-21 02:54] feiskyer opened #1296 "[Enhancement] Improve the error handling for ARM APIs"
#### What would you like to be added:

Refer the codes https://github.com/kubernetes-sigs/cloud-provider-azure/blob/76a2a43c9920fdd510d459b35ae61c5701e8c597/pkg/azureclients/armclient/azure_armclient.go#L183-L188

because there are replication latency for regional ARM endpoints, cloud provider would retry when there are `ResourceGroupNotFound` errors. But besides that, there are also possible the

[2022-03-22 01:14] bridgetkromhout commented on #1246
Requires API from network side.

[2022-03-22 01:16] bridgetkromhout commented on #919
Currently in progress.

[2022-03-22 09:35] nilo19 opened #1311 "Only check the frontend IP config that is owned by the service"
#### What happened:

https://github.com/kubernetes-sigs/cloud-provider-azure/blob/master/pkg/provider/azure_loadbalancer.go#L1686
In this for loop, we check every frontend IP configurations in the LB, which may result in a wrong `fipChanged`.

#### What you expected to happen:

Only check the frontend IP config that is owned by the service.

#### How to reproduce it (as minimally and precisely as

[2022-03-24 03:49] feiskyer opened #1318 "test: add e2e tests for LoadBalancer service with multiple ports and local external traffic policy"
Followup for https://github.com/kubernetes-sigs/cloud-provider-azure/pull/1317:

We should add e2e tests for the following steps:

* create LoadBalancer service with multiple ports and local external traffic policy, and validate the connectivity for all the ports.
* change the external traffic policy from local to cluster, and validate lb rules and probe rules, also validate the connectivity
* cha

[2022-03-24 03:50] feiskyer commented on #1318
/cc @MartinForReal @nilo19

[2022-03-24 05:15] #1311 closed

[2022-03-25 05:09] MartinForReal commented on #1318
/assign

[2022-03-27 04:40] MartinForReal commented on #1197
related to #1346

[2022-03-27 04:40] #1197 closed

[2022-03-27 04:42] MartinForReal commented on #1197
Hi @vsabella, We fixed this issue in pr 1346. Please feel free to raise ticket if you still encounter this error. Thanks!

[2022-03-27 08:07] lzhecheng opened #1358 "[e2e] Add Windows ccm-e2e and conformance tests"
#### What would you like to be added:
Add Windows ccm-e2e and conformance tests for master branch.

- [x] `Makefile` should support building and pusing images according to the target instead of build images of all ARCHs and OSes.
- [x] CAPZ script should use new make target to build and push different images according to `TEST_WINDOWS` variable
- [x] `test-infra` repo should add ccm-e2e and confor

[2022-03-28 11:57] lzhecheng opened #1369 "test: flaky ccm test Ensure LoadBalancer should support updating an internal service to a public service with assigned IP"
#### Which jobs are flaking:

#### Which test(s) are flaking:
Ensure LoadBalancer should support updating an internal service to a public service with assigned IP

#### Testgrid link:
https://storage.googleapis.com/kubernetes-jenkins/pr-logs/pull/kubernetes-sigs_cloud-provider-azure/1357/pull-cloud-provider-azure-e2e-ccm-vmss-basic-lb/1508368505760649216/build-log.txt

#### Reason for failure:
Fai

[2022-03-30 04:58] jwtty commented on #872
Design document for adding annotations on service objects to enable Azure PLS integration: https://kubernetes-sigs.github.io/cloud-provider-azure/development/design-docs/pls-integration/

[2022-03-30 06:40] #1157 closed

[2022-03-30 08:44] #1318 closed

[2022-03-31 06:26] veezhang commented on #908
Is it supported now? If not, are there any plans?

[2022-04-01 06:16] nilo19 opened #1390 "Should assume node is not found than reporting an error in InstanceExists"
#### What happened:

If the `InstanceExists` failed to get provider ID due to `instance not found`, we should assume this node is gone than reporting an error here. https://github.com/kubernetes-sigs/cloud-provider-azure/blob/22837509ca53aeb1ba1fc84ebbf6d0ca835b4514/pkg/provider/azure_instances.go#L232-L236

In this case, the node lifecycle controller will delete the not found node as well. https:

[2022-04-05 20:02] jackfrancis opened #1418 "use github pages to host official helm chart repository"
#### What would you like to be added:

This is a proposal to consider using the github pages feature to host the helm chart repo, rather than hosting it in a static directory in the repo. It looks like there is a `gh-pages` branch that hasn't been updated in over a year, so maybe we can use it for this?

I've had success in other projects using this github action to accomplish this goal:

https://

[2022-04-07 07:21] andyzhangx commented on #1273
fixed by workaround: https://github.com/XIAOMI-CloudNative/azuredisk-csi-driver/commit/6ad0b5f59f456a3baf708155d603cb54f46258e9

[2022-04-07 07:21] #1273 closed

[2022-04-07 09:02] fseldow opened #1443 "Cloud provider may generate loadbalancer rule name with invalid end character"
#### What happened:
When add subnet annotation in service, load balancer rule can be ended with '-'. It is invalid name that violates "It must begin with a word character, and it must end with a word character or with '_'."

error log:
`Resource name 00000000000000000000000000000000-xx-xx-xx-xx-xx-xxx-xxxx-xx-xx-xxx-xx-xx-xxx-xx- is invalid. The name can be up to 80 characters long. It must begin

[2022-04-07 09:03] feiskyer commented on #1443
/assign @lzhecheng

[2022-04-08 16:59] Michael-Sinz commented on #1246
The challenge is that you have to pre-allocate IPs and get them assigned to a service tag.  But then something needs to manage which of those IPs are in use for your service.  (And you need to manage this on a per-region basis as the IPs are assigned regionally, for obvious reasons)

Anyway, the fact that this is currently left up to each customer to manage manually is annoying, especially since,

[2022-04-12 06:40] lodrem commented on #639
/unassign

[2022-04-12 09:25] #1443 closed

[2022-04-14 07:41] feiskyer commented on #562
this is still not supported yet.

[2022-04-14 09:16] lzhecheng opened #1493 "Support ARG"
#### What would you like to be added:
Supoort ARG in ccm
ARG: https://docs.microsoft.com/en-us/azure/governance/resource-graph/overview

#### Why is this needed:

[2022-04-14 12:49] qby-tofi opened #1495 "Support for unmanaged nodes"
Hi,

we are running several k8s Clusters and using kubeedge to connect edge nodes to them. Currently we are using k8s 1.22 and azure-cloud-provider 1.1.x. We are using the label _kubernetes.azure.com/managed=false_ to prevent azure-cloud-provider trying to set Azure routes for our edge devices and setting Network unavailable state every few seconds. To get this feature work we disabled the IPv6Dua

[2022-04-15 05:12] vsabella opened #1499 "Loadbalancer Health Probes are not configurable for services which use a different health check port"
When configuring Health Checks for Azure Load Balancer you can specify the path and type, but it is not possible to specify the port.

Istio Ingress Gateway and similar services do not expose health checks on their actual endpoints (as it can operate across multiple protocols) but instead expose a general health check on a different status port.

In AWS this is easily possible with the `service.be

[2022-04-15 07:43] MartinForReal commented on #1499
Please refer to https://kubernetes-sigs.github.io/cloud-provider-azure/topics/loadbalancer/#custom-load-balancer-health-probe.
If you still have any problem, feel free to reopen this issue. Thanks!

[2022-04-15 07:43] #1499 closed

[2022-04-15 09:28] vsabella commented on #1499
Thanks @MartinForReal  but unfortunately that does not solve the problem. I will re-open.

For example
Istio hosted on two ports: Port 80 and Port 443 will not serve any traffic until a Virtual Service is deployed

The health check needs to be a HTTP health check against port 15021

Example

For the following spec:
[code]

The health probe needs to look like this:

![image](https://user-images.git

[2022-04-15 09:33] vsabella opened #1505 "Unable to set Loadbalancer Service Health Probe Port"
Reopen from #1499

When configuring Health Checks for Azure Load Balancer you can specify the path and type, but it is not possible to specify the port of the health probe.

Istio Ingress Gateway and similar services do not expose health checks on their actual endpoints (as it can operate across multiple protocols) but instead expose a general health check on a different status port for the gatewa

[2022-04-15 09:34] vsabella commented on #1499
I reopened as #1505

[2022-04-15 10:02] lodrem commented on #1390
/assign

[2022-04-15 10:19] vsabella commented on #1505
@MartinForReal   I've started down this path:
https://github.com/vsabella/cloud-provider-azure/commit/5303352c2291d3727d662a281fd0547de0d9d68f

If that looks like it makes sense for a fix I'll complete it also for the MixedLB mode `/port_{num}-....` annotations

[2022-04-15 11:12] vsabella commented on #1505
It also looks like since priority is given to port.AppProtocol we are also unable to:

1. set appProtocol to the correct value (https)
2. expect the health probe to be a different protocol (say http)

The ability to decouple the health check from the actual service entry is key to getting Istio ingressgateway to have correct health checks / drain behavior / etc...

[code]

[2022-04-15 14:43] MartinForReal commented on #1505
Well, this is a pleasant surprise. :-)

It is reasonable for a fix. If we add two additional annotations, will it work in the current scenario?
[code]
Then the priority goes to two new annotations.

@feiskyer @nilo19 @lzhecheng Any advice is appreciated!

@vsabella Thanks for the contribution!

[2022-04-17 21:35] vsabella commented on #1505
Thats exactly what I was thinking and reasonable. I'll have a PR for you later this week.

[2022-04-18 09:13] #1390 closed

[2022-04-18 12:55] feiskyer opened #1514 "[e2e] Add e2e tests for deleting node"
Followup for #1390, an e2e for deleting node should be added by the following steps:

1) provision the cluster normally with VMSS instances.
2) waiting for all the nodes ready.
3) deleting one of the VMSS instances.
4) waiting for the node object to be deleted automatically.

/cc @lodrem

[2022-04-19 00:05] lodrem commented on #1514
/assign

[2022-04-19 01:13] bridgetkromhout commented on #919
Waiting for CAPZ team to refactor: https://github.com/kubernetes-sigs/cluster-api-provider-azure/pull/1994#issuecomment-1098252590

[2022-04-20 02:22] #900 closed

[2022-04-24 06:57] #874 closed

[2022-04-24 07:25] #1514 closed

[2022-04-26 06:29] clnv opened #1575 "Improve Observability"
## Problems:
Logging:
- mixed-use `plain-text logging` and `structural logging`
- coverage
- convention

## Goals
scope: logging/metrics/tracing
- standardize convention and improve the coding experience
- improve debug efficiency

## Refs
Logging:
- https://github.com/kubernetes-sigs/controller-runtime/blob/master/TMP-LOGGING.md
- https://github.com/kubernetes/community/blob/master/contributors/d

[2022-04-26 09:43] lzhecheng commented on #933
/remove-lifecycle stale

[2022-04-26 20:18] jackfrancis opened #1585 "Failed ILB during capz E2E"
#### What happened:

While investigating a test flake I noticed an ILB error that may be interesting:

[code]

Full test results is here:

https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/periodic-cluster-api-provider-azure-e2e-full-main/1518865402938003456

#### What you expected to happen:

Normally the ILB test passes fine

#### How to reproduce it (as minimally and precisely as possible):

[2022-04-26 20:19] jackfrancis commented on #1585
Basically the interesting thing to me is the VMSS failure immediately after the LB is created:

[code]

What might that indicate?

cc @feiskyer @CecileRobertMichon

[2022-05-01 18:09] sebader commented on #872
@jwtty is this already live now and can be tested on public AKS clusters?

[2022-05-02 07:55] sebader commented on #872
@feiskyer no worries, I figured :) would you mind to please update this thread once it goes lives? Since the [issue ](https://github.com/Azure/AKS/issues/1604)from the AKS repo also points to this one here

[2022-05-02 12:04] bridgetkromhout commented on #919
@lzhecheng Please take a look at https://github.com/Azure/aks-engine/issues/4874 - thanks.

[2022-05-02 14:25] lastcoolnameleft opened #1639 "FailedToCreateRoute when creating unmanaged node due to IPv6DualStack"
LIQO is an CNCF project that allows you to federate two clusters.  When installing [LIQO](https://liqo.io/), it tries to create an unmanaged node, but fails because it's not supported with the current feature flags.

[Revelant Code](https://github.com/kubernetes-sigs/cloud-provider-azure/blob/master/pkg/provider/azure_routes.go#L385)

The other cluster appears as another node (Similar to Virtual K

[2022-05-02 18:11] jwtty commented on #872
Hi @sebader, sure we will keep this thread updated! Thank you for checking.

[2022-05-03 05:04] vsabella opened #1643 "Nodes where exclude-from-external-load-balancers is set to false or removed are not added-back to the load balancer."
Nodes where exclude-from-external-load-balancers is set to false or removed are not added-back to the load balancer.

#### What happened:
When applying `kubectl label node aks-ingress-123 node.kubernetes.io/exclude-from-external-load-balancers=true` the node is effectively removed from the load balancer

However when applying `kubectl label node aks-ingress-123 node.kubernetes.io/exclude-from-exte

[2022-05-03 16:29] sschu commented on #872
It's really cool to see this happen. Thanks to anybody who was involved! By coincidence, Front Door Standard/Premium also became GA quite recently...

[2022-05-05 00:23] MarcPow commented on #1246
@feiskyer Out of curiosity: Is this a scenario that can be addressed with a variant of **service.beta.kubernetes.io/azure-pip-ip-tags**?

[2022-05-05 22:09] seung-moon opened #1659 "Make floating IP configurable on load balancers"
#### What would you like to be added:
Capabilities to enable/disable floating IPs on load balancers.

#### Why is this needed:
Currently, floating IPs are always enabled by default on load balancers. Some scenarios require floating IPs to be disabled on load balancers ie. pods accepting traffic from first party Private Link

[2022-05-07 03:20] MartinForReal commented on #814
related: https://github.com/kubernetes-sigs/cluster-api-provider-azure/pull/2154

[2022-05-09 19:11] SnowmanCharles commented on #639
Hey folks, any progress on this issue?

[2022-05-09 19:40] SnowmanCharles opened #1700 "why separate the node-controller out of cloud-controller-manager"
The cloud-controller-manager manages node-lifecycle-controller, service-controller, and route-controller. It runs as a Deployment on cluster control plane.

The azure-cloud-node-manager only manages node-controller. It runs as a DaemonSet on user nodes. Node-controller does two things:
1. reconcile labels
2. update node addresses

The question is why can't node-controller run on cluster control pl

[2022-05-09 22:18] CecileRobertMichon commented on #1639
I believe this is related to this [TODO here](https://github.dev/kubernetes-sigs/cloud-provider-azure/blob/master/pkg/provider/azure_routes.go#L387)

`//TODO (khenidak) add support for unmanaged nodes when the feature reaches beta`

cc @khenidak @aramase @nilo19

Also cc @alexeldeib this might block CAPZ BYO AKS node

[2022-05-09 22:39] SnowmanCharles commented on #1700
Also, the official doc says node-controller should be disabled when starting azure-cloud-controller-manager. https://kubernetes-sigs.github.io/cloud-provider-azure/install/azure-ccm/#azure-cloud-controller-manager

However, will the node-controller still work if I run it as part of azure-cloud-controller-manager (By not disabling it when starting azure-cloud-controller-manager)?

[2022-05-11 07:44] MartinForReal commented on #1639
I think label kubernetes.azure.com/managed: false should be applied to virtual node.

[2022-05-11 08:18] MartinForReal commented on #1639
@lastcoolnameleft Please refer to https://kubernetes-sigs.github.io/cloud-provider-azure/topics/cross-resource-group-nodes/#unmanaged-nodes

[2022-05-12 06:01] MartinForReal commented on #1700
Hi @SnowmanCharles ,
When the number of nodes are large enough, the node manager controller may got throttled by ARM. Sometimes it takes a while to update each node. FYI.

[2022-05-12 06:04] MartinForReal commented on #1495
/assign

[2022-05-12 06:05] MartinForReal commented on #951
updated by @lzhecheng  and close this issue.

[2022-05-12 06:05] #951 closed

[2022-05-12 16:59] SnowmanCharles commented on #1700
Hi @MartinForReal ,

Does running node manager on each node pool node help with this issue? Looks like the ARM API calls to get details of each VM does not reduce, unless the UseInstanceMetadataFlag is explicitly set as true.

Another question here is: If I do not disable node-controller when starting azure-cloud-controller-manager, will it just work?

Thanks

[2022-05-13 07:59] aniket202 opened #1717 "cloud-controller-manager on RKE2 K8s throwing certificate errors in connecting to management.azure.com"
#### What happened:
I was trying to deploy cloud controller manager using the example here https://github.com/kubernetes-sigs/cloud-provider-azure/blob/master/examples/out-of-tree/cloud-controller-manager.yaml
I had updated azure.json with the proper values from my environment. But these pods are failing with this error -

[code]

I tried fetching token using manual curl call to the azure subscrip

[2022-05-16 16:06] aramase commented on #1138
/remove-lifecycle stale

[2022-05-18 04:57] lzhecheng commented on #919
I will start adding templates into cloud-provider-azure repo. Here is one of the prerequisite issue.
https://github.com/kubernetes-sigs/cluster-api-provider-azure/issues/2299

[2022-05-18 05:45] lzhecheng commented on #919
An issue on test-infra repo
https://github.com/kubernetes/test-infra/issues/24957

[2022-05-18 16:43] sebader commented on #872
It was actually already posted on Azure Update yesterday but I assume it will take a couple of weeks until the new version of cloud-node-manager lands in an AKS release and then gets rolled out, right?

https://azure.microsoft.com/en-us/updates/public-preview-aks-private-link-service-integration/

[2022-05-18 22:29] chmill-zz opened #1742 "slow disk attach relating to SetDiskLun failures"
#### What happened:
azure disk attach is slow because of lun mapping issues

#### What you expected to happen:
disks to attach faster

#### How to reproduce it (as minimally and precisely as possible):
Right now I've seen this behavior reproduce after the cloud provider is throttled by Azure. When we retry to AttachDisk after the retry time is up we fail to SetDiskLun. I've seen this add 10minutes

[2022-05-19 21:05] hofmannma commented on #908
same issue here.... need to support more private link services for AKS than 8.

[2022-05-20 08:58] rajivml commented on #1717
@MartinForReal @lzhecheng @jwtty @nearora-msft @feiskyer @nilo19 sorry for tagging you guys directly , can one of you please look into it, we are not able to use the library because of the above mentioned issue

It looks like the azure cloud controller image itself (the one published by the project) doesn't contain the proper root cert bundle. That's the most likely reason why it would complain ab

[2022-05-20 09:28] MartinForReal commented on #1717
@feiskyer @nilo19 @lzhecheng Do you think it is a good idea to switch base image to gcr.io/distroless/static-debian11?

[2022-05-20 11:59] JamesDLD commented on #872
Thanks guys for the job done.

- Just tried it and I do have my load balancer "kubernetes-internal" but _i don't see my Private Link_, any idea?

I based my yaml according to this [example](https://kubernetes-sigs.github.io/cloud-provider-azure/development/design-docs/pls-integration/#managed-privatelinkservice-creation-example).
Context:
- Kubernetes version: 1.22.6
- Azure CNI and version
FYI @M

[2022-05-20 12:16] sebader commented on #872
@JamesDLD the changes are not rolled out yet to the live clusters

[2022-05-20 13:25] JamesDLD commented on #872
Do you know if I can be updated on when this will be rolled ou to live clusters?

[2022-05-20 13:33] MartinForReal commented on #872
It often takes two weeks after a new release is published. But it depends.

[2022-05-22 19:15] JamesDLD commented on #872
When using Kubernetes network policies do you know the source subnet we should allow in order to publish our pod?
The Internal Load Balancer subnet?
<img width="1041" alt="image" src="https://user-images.githubusercontent.com/18073917/169712039-417b0bc5-750b-452d-9aa4-195eb134ffe6.png">

[2022-05-23 05:29] jwtty commented on #1643
Hi @vsabella, cloud provider follows the same process as kubernetes main tree: https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/cloud-provider/controllers/service/controller.go#L677. We only check the existence of the label but not the value.
I tried removing the label by `kubectl label node aks-ingress-123 node.kubernetes.io/exclude-from-external-load-balancers-` and the no

[2022-05-23 06:30] rajivml commented on #1717
any update here, it's weird that the image published by MS doesn't trust azure endpoints

[2022-05-23 06:33] feiskyer commented on #1717
@MartinForReal why we don't have such errors on capz cluster?

[2022-05-23 07:01] MartinForReal commented on #1717
I think it is because /etc/certificate is mounted from host node.

[2022-05-23 09:47] lzhecheng opened #1756 "[helm] make update-helm will possibly replace the old ones in index.yaml"
#### What happened:
After updating `helm/` chart, I found that `make update-helm` adds a new v1.24. but also removes the old two version.

#### What you expected to happen:
`make update-helm` adds a new version without touching old ones.

#### How to reproduce it (as minimally and precisely as possible):
Update `helm/` chart and `make update-helm`.

#### Anything else we need to know?:

#### Envir

[2022-05-23 13:37] nilo19 commented on #704
/remove-lifecycle stale

[2022-05-23 18:13] jackfrancis commented on #1756
I noticed this too. It only happens when using `+<suffix`> like semver versions. :(

[2022-05-25 07:20] rumatavz opened #1763 "Ingress can suddenly break health check of the LoadBalancer"
#### What happened:
I created cluster and ingress as per
https://github.com/MicrosoftDocs/azure-docs/blob/main/articles/aks/ingress-internal-ip.md
It used to work before 1.22.6.

On 1.22.6 ingress not working because the health check protocol is HTTP and is located on  /healthz on 80.

But we have
 path: /(.*)
        pathType: Prefix
        backend:
          service:
            name: aks-hello

[2022-05-25 09:45] dariaserkova commented on #1717
Hello, putting [here](https://github.com/kubernetes-sigs/cloud-provider-azure/blob/3b92f160f4fd3e0c0272ee5cf10e0f4a950a37cc/examples/out-of-tree/cloud-controller-manager.yaml#L197) /etc/ca-certificates as mount path instead of /etc/ssl worked for me. Host path remains the same, it depends on your host OS

[2022-05-25 14:23] aniket202 commented on #1717
I was using RHEL as host OS, so `/etc/ssl` should work. I used RHEL based base image here https://github.com/kubernetes-sigs/cloud-provider-azure/blob/3b92f160f4fd3e0c0272ee5cf10e0f4a950a37cc/Dockerfile#L32, built the image `azure-cloud-controller-manager` and it worked without changing any other configuration in the deployment yaml.

Do we have any different instructions of using different images

[2022-05-26 06:41] feiskyer commented on #1763
+ @MartinForReal to have a look

[2022-05-26 08:04] MartinForReal commented on #1763
@rumatavz Please change AppProtocol to TCP in svc manifest. As documented here https://kubernetes-sigs.github.io/cloud-provider-azure/topics/loadbalancer/#custom-load-balancer-health-probe
SLB probe is using http because AppProtocol in svc is http. FYI

[2022-05-26 14:07] lzhecheng opened #1769 "`make deploy-cluster` supports Windows"
#### What would you like to be added:
`make deploy-cluster` can deploy a cluster with Windows Nodes.
#### Why is this needed:

[2022-05-27 01:42] nilo19 opened #1778 "Changing service.beta.kubernetes.io/azure-allowed-service-tags doesn't work for existing services"
#### What happened:

`service.beta.kubernetes.io/azure-allowed-service-tags` only works for new services, we can't change it on existing services.

#### What you expected to happen:

NSG rule should be updated if changing `service.beta.kubernetes.io/azure-allowed-service-tags` on an existing service.

#### How to reproduce it (as minimally and precisely as possible):

Create a service with `servic

[2022-05-27 02:12] #1778 closed

[2022-05-27 03:33] nilo19 opened #1781 "Introduce a new service annotation to replace service.Spec.LoadBalancerIP"
#### What would you like to be added:

According to https://github.com/kubernetes/api/blob/master/core/v1/types.go#L4434, we need to introduce a new annotation to replace the loadBalancerIP, as it will be removed in the future.

#### Why is this needed:

https://github.com/kubernetes-sigs/cloud-provider-azure/issues/1781#tasklist-block-ecb5dc84-8396-45ad-9fd6-b5ed9cd8a154

[2022-05-27 19:54] kanha-gupta commented on #1781
/assign

[2022-05-27 19:55] kanha-gupta commented on #1781
what do we have to replace it with ?

[2022-05-28 02:57] nilo19 commented on #1781
We can add an annotation here https://github.com/kubernetes-sigs/cloud-provider-azure/blob/master/pkg/consts/consts.go
I recommend `service.beta.kubernetes.io/azure-load-balancer-ip`, what do you think?

[2022-05-28 11:18] kanha-gupta commented on #1781
I think you are right

[2022-06-01 11:57] rumatavz commented on #1763
I employed another workaround: I've added azure-load-balancer-health-probe-protocol. I don't have problems with this anymore.

But what I'm saying is the default configuration is dangerous and other users can find the whole cluster not working because of this issue.

[2022-06-02 20:51] himanshuz2 opened #1807 "Cloud Node Manager in CrashloopBackoff"
#### What happened:
Deployed the Azure Cloud Provider
helm install --repo https://raw.githubusercontent.com/kubernetes-sigs/cloud-provider-azure/master/helm/repo cloud-provider-azure --generate-name --set infra.clusterName=${CLUSTER_NAME}

cloud-node-manager-windows-n4hks 0/1 CrashLoopBackOff 38 (3h8m ago)

#### What you expected to happen:
cloud-node-manager-windows runs without CrashLoopBackOff

[2022-06-04 14:04] jaanhio commented on #1418
hello @jackfrancis , i am happy to work on this if it isn't taken yet.

but one clarification i have is, is the intention to remove the existing hugo pages and replace it with hosting of helm chart repo or have **both** the hugo pages and helm chart repo hosted together?

[2022-06-05 07:53] #829 closed

[2022-06-05 13:53] #437 closed

[2022-06-06 16:23] jackfrancis commented on #1418
I don't believe you can get both (the chart-releaser-action takes over the entire hugo implementation as far as I can tell).

cc @lzhecheng @feiskyer for permissions to overwrite the existing github pages content

[2022-06-08 01:29] nilo19 commented on #1781
Hi @kanha-gupta, do you still plan to do this one?

[2022-06-10 02:25] jwtty commented on #872
Hey, this feature has been rolled out to all prod regions. It's now in public preview, here is the [official doc](https://docs.microsoft.com/en-us/azure/aks/internal-lb#connect-azure-private-link-service-to-internal-load-balancer-preview)
Please feel free to try it!

Note: aks-preview cli extension is not required. We will update the doc soon.

[2022-06-10 02:25] #872 closed

[2022-06-10 07:49] sebader opened #1825 "AKS-created Private Link Service gets recreated without any interaction"
#### What happened:

I'm deploying a the [new Private Link Service](https://github.com/kubernetes-sigs/cloud-provider-azure/issues/872) on an k8s service (the ingress controller in my case). This all works like a charm. However, I've observed twice now that suddenly AKS deleted and recreated the PLS without any interaction (deployment etc) from my side. This is a big problem, obviously, since all

[2022-06-13 01:53] feiskyer commented on #1825
/assign @jwtty

[2022-06-13 02:18] lzhecheng commented on #705
/assign
I will adjust current lb e2e tests and CI jobs to verify Windows implementation.

[2022-06-14 03:44] nilo19 opened #1829 "Gain insight into duplicated nsg rules issue"
#### What happened:

There is a chance that the PUT NSG request fails because of duplicated rules in the request body, and the reason is still unclear. We can do the following to mitigate:

- [ ] dump the request body if it's failed
- [ ] add a checker before calling the api

#### What you expected to happen:

#### How to reproduce it (as minimally and precisely as possible):

#### Anything else w

[2022-06-14 14:33] rastislavs opened #1831 "IPv6 load-balancer error AtleastOneIpV4RequiredForIpV6LbFrontendIpConfiguration"
#### What happened:
In a dual-stack cluster, when creating an IPv6 LoadBalancer service, the Azure CCM returns the following error and the service stays in the pending state:

[code]

[code]

#### What you expected to happen:

As per https://github.com/kubernetes-sigs/cloud-provider-azure/issues/814, dual-stack is not fully supported, but the Azure CCM should be able to create a single-stack IPv6

[2022-06-15 14:18] addyess opened #1843 "CrashLoopBackoff of out-of-tree cloud-controller-manager from release v1.24.1"
#### What happened:
the cloud-controller-manager is stuck in crashloopbackoff

#### What you expected to happen:
Expected it to not do so.

#### How to reproduce it (as minimally and precisely as possible):
Deployed 2 instances a worker and a controller
Deploy the out-of-tree manifests (cloud-not-manager and cloud-controller-manager) with appropriate secrets filled in

#### Anything else we need t

[2022-06-16 08:33] feiskyer commented on #1843
I think it should be some issues in the cloud config file. Could you grep "error" or "failed" in the logs and share here?

[2022-06-16 17:24] #1843 closed

[2022-06-16 20:32] Minh-Ng opened #1859 "AKS Private Link Service requires global visbility"
#### What happened:
Creating a private link service as [follows](https://github.com/kubernetes-sigs/cloud-provider-azure/issues/872):
[code]

The auto approval does not apply without pls-visibility set to *. The following controller event is surfaced: `reconcilePLSVisibility: autoApproval only takes effect when visibility is set to "*"`

#### What you expected to happen:
I should be able to specif

[2022-06-18 06:32] #1859 closed

[2022-06-20 02:15] MartinForReal commented on #1807
I'm wondering if service cidr is changed, Could you please provide kubeconfig file for node manager as described here https://github.com/kubernetes-sigs/cloud-provider-azure/blob/832999275a2876ed3521e3da4f39b30ffa877717/helm/cloud-provider-azure/values.yaml#L55 ?

[2022-06-20 02:17] MartinForReal commented on #1831
Dual stack support is on our road map but it is not ready yet.

[2022-06-20 02:17] MartinForReal commented on #1505
Hi @vsabella Do you still have bandwidth to work on this?

[2022-06-20 02:21] MartinForReal commented on #1495
close issue because fix is merged.

[2022-06-20 02:21] #1495 closed

[2022-06-20 02:24] MartinForReal commented on #1700
Yes, the client id is different

The node is not ready because the node manager does not update the node.

[2022-06-20 04:05] jwtty commented on #1643
Close the issue as there is no response.

[2022-06-20 04:05] #1643 closed

[2022-06-20 14:14] himanshuz2 commented on #1807
I haven't preserved the cluster to reproduce this problem. I will update when I get a chance to try it again. Why would service cidr change when I deploy the cluster using CAPZ and immediately deploy the cloud provider after that.  CAPZ should have added the correct kubeconfig file on the windows node at the time of deployment because windows node is shown as joined to the cluster.  If capz is not

[2022-06-20 15:15] sivetic opened #1902 "Azure load balancer incorrectly includes nodes from newly created node pools when using node.kubernetes.io/exclude-from-external-load-balancers label"
#### What happened:
Azure load balancer fails to exclude nodes from newly created AKS user node pools when using `node.kubernetes.io/exclude-from-external-load-balancers=true` label.

I am creating:
* an AKS cluster with a dedicated system node pool and a user node pool
* a K8s service of type LoadBalancer and `service.beta.kubernetes.io/azure-load-balancer-internal: "true"` annotation to create a

[2022-06-20 15:17] jackfrancis commented on #1902
@alexeldeib is this a known AKS bug?

[2022-06-20 15:18] jackfrancis commented on #1902
@sivetic thank you for all the detailed info!

[2022-06-20 20:27] sivetic commented on #1902
Correction - deleting and re-creating the Kubernetes service and ILB does not seem to fix the issue.  I just tested it with an existing cluster and still see newly scaled nodes show in ILB backend pool.

Not sure if this is helpful, but here is VMSS loadBalancerBackendAddressPools configuration.  Order of operations was:
* Create AKS cluster with system and user pool (user pool has the exclude lab

[2022-06-20 21:07] sivetic commented on #1902
More updates/workarounds from our troubleshooting that we found, hopefully they are of help:

* Deleting the Kubernetes service (and the ILB), creating a new node pool w/ exclude label and then creating the Kubernetes service works properly - nodes are excluded from ILB
* Creating a node pool without the exclude label and using az aks nodepool update to add the label works properly - nodes are exc

[2022-06-21 01:27] #919 closed

[2022-06-21 08:29] AfrouzMashayekhi commented on #1781
/assign

[2022-06-21 08:35] jackfrancis commented on #919
Great to see this woork @lzhecheng!

Because "Basic" LoadBalancer is not supported in capz, will we keep that AKS Engine test in cloud-provider-azure indefinitely?

cc @CecileRobertMichon @bridgetkromhout @ritazh

[2022-06-21 08:49] lzhecheng commented on #919
@jackfrancis as far as I know, basic lb and autoscaling will be verified in downstream tests on aks clusters.

[2022-06-21 10:02] lzhecheng commented on #919
I have no strong opinion. I didn't remove these tests because there's no harm to keep them and aks clustesr jobs are not ready yet. Gradually, they will be deleted with the whole release-branch.

[2022-06-22 01:25] lzhecheng opened #1921 "Adjust customized CAPZ templates to solve multiple control-plane issue and more"
#### What would you like to be added:
Follow changes in these 2 PRs to CAPZ templates in this repo:
https://github.com/kubernetes-sigs/cluster-api-provider-azure/pull/2398
https://github.com/kubernetes-sigs/cluster-api-provider-azure/pull/2397

#### Why is this needed:
There's an issue that it leads to failure to create a multiple control-plane-node cluster with "latest" as KUBERNETES_VERSION.
htt

[2022-06-22 01:43] jwtty commented on #1825
Hi, the fix is included in AKS release v20220619. You can track the deployment progress from [AKS Release Track](https://releases.aks.azure.com/webpage/index.html#tabus).

[2022-06-22 01:44] jwtty commented on #1859
Hi, the fix is included in AKS release v20220619. You can track the deployment progress from [AKS Release Track](https://releases.aks.azure.com/webpage/index.html#tabus).

[2022-06-22 12:25] sivetic commented on #1902
Looks like removing the kubernetes-internal load balancer pool from VMSS works properly and excludes the VMs from LB.  Given VMSS config:

[code]

LB pool can be edited using `az cli`:

[code]

Which results in VMs no longer being included as part of the load balancer backend pool.  I'm not sure however what is responsible for configuring the LB profile when a node pool is created, which is what n

[2022-06-22 20:23] bridgetkromhout commented on #919
@lzhecheng  Do we need to open an issue to make sure this happens? Do we know who is going to prepare those tests? Thanks.

[2022-06-22 20:28] bridgetkromhout opened #1927 "update docs to correctly describe how to run e2e tests"
#### What happened:

https://kubernetes-sigs.github.io/cloud-provider-azure/development/e2e/e2e-tests/ talks about using the now-deprecated AKS Engine for e2e tests.

#### What you expected to happen:

Because https://github.com/kubernetes-sigs/cloud-provider-azure/issues/919 is resolved, I thought that we are deprecating e2e tests that use AKS Engine.

#### How to reproduce it (as minimally and p

[2022-06-23 01:26] lzhecheng commented on #1927
/assign
@bridgetkromhout Thank you for raising this issue!
I will add CAPZ related info (how to create a cluster, how to repro e2e locally) into the doc. It should help developers debug why their ccm e2e tests fail in CI.
But actually these tests still work for aks-engine, at least for now (k8s v1.24). I will mention that capz is preferred and we don't guarantee testing on aks-engine works in the

[2022-06-23 01:32] lzhecheng opened #1929 "[e2e] Support basic-lb and autoscaling tests with non-capz cluster generation tool"
#### What would you like to be added:
In #919 , we replaced old aks-engine jobs with jobs on CAPZ but CAPZ doesn't support basic-lb and autoscaling now. So we will support such tests on other jobs (upstream/downstream) with non-capz cluster generation tool.

#### Why is this needed:
To cover basic-lb and autoscaling test scanerios.

[2022-06-23 01:33] lzhecheng commented on #919
I have created one #1929 and I think @mainred will take the task.

[2022-06-23 16:31] edreed opened #1935 "Dumping job logs can fail with "file not found""
**What happened**:

Occasionally, the Azure Disk CSI Driver V2 E2E tests fail because it cannot find the cleanup job log:

[code]

**What you expected to happen**:

Tests should succeed regardless of whether this log exists.

**How to reproduce it**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
- Cloud provider or hardware configuration:
- OS

[2022-06-23 16:32] weinong commented on #1902
ack from AKS. cc: @nilo19 @feiskyer

[2022-06-23 20:22] bridgetkromhout commented on #1927
Yes, but we should not encourage new people to start using AKS Engine, so I think it is better for the docs to only talk about the recommended path (CAPZ). What do you think?

[2022-06-23 23:04] lzhecheng commented on #1927
Yes. We can do that.

[2022-06-24 02:47] #1935 closed

[2022-06-24 06:04] nilo19 opened #1942 "Omit case mismatch when comparing expected loadBalancing rules with existing ones"
#### What happened:

When comparing backend pool and probe IDs [here](https://github.com/kubernetes-sigs/cloud-provider-azure/blob/master/pkg/provider/azure_loadbalancer.go#L3056), we use reflect.DeepEqual instead of strings.EqualFold, so if there are case-mismatches in those IDs, unexpected LB update will be triggered.

#### What you expected to happen:

Ignore the case mismatches when comparing.

[2022-06-24 07:31] gitakp commented on #872
This voting app does work. There is no subsequent path attached to hostname. Did you try for another application with a /path? For me, it does not work.

[2022-06-24 07:36] sebader commented on #872
@gitakp I think you issue is not really related to this original issue here (which is for tracking Private Link on AKS, which does work).

Anyway, I built a (fairly complex but complete) scenario:

Installing nginx ingress, which is exposed via PLS:
https://github.com/Azure/Mission-Critical-Connected/blob/feature/afd-privatelink/.ado/pipelines/templates/jobs-configuration.yaml#L46

Ingress configu

[2022-06-24 09:05] lzhecheng commented on #1296
/remove-lifecycle stale

[2022-06-24 11:14] sebader commented on #1825
@jwtty hmm the release page doesn't show the new version of CCM included in v20220619 - is this a mistake or is that fix not included after all?
https://github.com/Azure/AKS/releases/tag/2022-06-19

[2022-06-26 16:23] aether-rootr commented on #1942
/assign

[2022-06-26 16:56] aether-rootr commented on #1942
I'm newbe in azure and kubernetes, I think to fix this bug, we just replace `reflect.DeepEqual(s.BackendAddressPool, t.BackendAddressPool)` to `string.EqualFold(s.BackendAddressPool.id, t.BackendAddressPool.id)`. Right?

[2022-06-27 01:59] jwtty commented on #1825
Hi @sebader, looks like PM missed our change in the doc but the fix was included for sure. We will update the doc soon.

[2022-06-27 02:09] jwtty commented on #872
Hi @gitakp @JamesDLD , the current estimate GA Date is 12/1/2022.

[2022-06-27 02:44] feiskyer commented on #1902
The newly created VMSS networking profile is controlled by provisioning steps (e.g. in AKS API or capz), which is out control of cloud provider. Hence, we would fix this issue in AKS API.

From cloud provider side, I validated the VMSS nodes would be removed from SLB backend pool once the LoadBalancer services are reconciled, which has already been working as expected.

[2022-06-27 02:44] #1902 closed

[2022-06-28 06:45] nilo19 opened #1952 "[e2e] Migrate to ginkgo v2"
#### What would you like to be added:

Ginkgo v1 has been deprecated, we should migrate to v2. Guide: https://onsi.github.io/ginkgo/MIGRATING_TO_V2#upgrading-to-ginkgo-20

#### Why is this needed:

[2022-06-28 08:35] #1296 closed

[2022-06-28 10:59] #705 closed

[2022-06-29 02:44] #1358 closed

[2022-06-30 04:15] monianshouhou commented on #1921
/assign

[2022-06-30 08:28] #1659 closed

[2022-07-01 06:40] nilo19 opened #1982 "Enrich doc for the annotation service.beta.kubernetes.io/azure-disable-load-balancer-floating-ip"
#### What would you like to be added:

#### Why is this needed:

[2022-07-01 06:40] nilo19 commented on #1982
/assign @seung-moon

[2022-07-04 05:30] lzhecheng opened #1986 "Analyze detailed error code and add to latency logs"
When errors happen, the current result_code is always "failed". We need to pass in the error, extract the error code and then log into latency logs.​

Please ensure there is no space or special chars included in the "result_code" as the latency logs would be analyzed later by expr operations.

Refer https://github.com/kubernetes-sigs/cloud-provider-azure/blob/a639e364d7903a260acb61a294426027ee710a

[2022-07-04 05:31] monianshouhou commented on #1986
/assign

[2022-07-05 10:09] lzhecheng commented on #1929
/assign
We are going run such tests on aks clusters.

[2022-07-06 01:31] #1982 closed

[2022-07-06 07:22] jwtty opened #1990 "Enhance tests to make sure reconcile won't trigger PUTs when configurations aren't changed"
Add UT tests to make sure when configurations are not changed, a second service reconciliation won't trigger any unnecessary resource update.

[2022-07-06 07:22] jwtty commented on #1990
/assign jwtty
/kind test

[2022-07-06 07:24] jwtty commented on #1990
/kind feature

[2022-07-08 02:44] nilo19 commented on #1831
It looks it is hard to fix as this is a restriction of ARM.

[2022-07-08 05:21] nilo19 commented on #1742
@andyzhangx can you have a look when you have time?

[2022-07-08 05:29] #1700 closed

[2022-07-08 05:33] nilo19 commented on #1639
@MartinForReal can we close this one?

[2022-07-08 06:41] #1639 closed

[2022-07-08 06:42] MartinForReal commented on #1639
close because pr is merged

[2022-07-08 06:52] andyzhangx commented on #1742
@chmill-zz `VMSSVMUpdateAsync` operation was throttled, it happens when there are disk attach/detach on a lot of agent nodes simultaneously.

[2022-07-08 18:34] Actionn opened #1999 "Azure Permissions"
I'm using a service principal with the permissions stated in this document: https://cloud-provider-azure.sigs.k8s.io/topics/azure-permissions/

Using the azure cloud provider, I'm receiving an error stating that the service principal is missing permissions when trying to add VMSS nodes to a loadbalancer's backend pool
`Microsoft.Network/loadBalancers/backendAddressPools/join/action`

logs:
[code]

[2022-07-10 02:11] #1829 closed

[2022-07-10 08:35] #1952 closed

[2022-07-12 05:53] feiskyer commented on #1999
Thanks for reporting the issue, permissions would be updated via https://github.com/kubernetes-sigs/cloud-provider-azure/pull/2009

[2022-07-12 13:34] ZombieMInd commented on #1575
Why is https://github.com/kubernetes-sigs/cloud-provider-azure/pull/1494 closed? Does this issue require another approach?

[2022-07-12 15:50] #1986 closed, assigned to lanlou1554

[2022-07-13 01:11] #1999 closed

[2022-07-14 05:19] lzhecheng commented on #1493
remove-lifecycle stale

[2022-07-14 05:19] lzhecheng commented on #1493
/remove-lifecycle stale

[2022-07-14 06:57] nilo19 opened #2027 "VMSS may not be decoupled from the LB before deleting the LB"
#### What happened:

`ss.ensureBackendPoolDeletedFromVMSS` decouples the LB to be deleted from the VMSS. But it uses the IP configs in the LB backend pool to check which VMSS it should decouple. In some cases, there are no corresponding VM IP configs in the backend pool, so it will not perform the decoupling operation, which may cause an orphaned LB reference in the VMSS.

#### What you expected t

[2022-07-15 03:00] #1921 closed

[2022-07-15 09:06] #2027 closed

[2022-07-19 01:07] bridgetkromhout commented on #1418
@jackfrancis This repo's ghpages branch is in use with some current updates now: https://github.com/kubernetes-sigs/cloud-provider-azure/tree/gh-pages

[2022-07-20 00:32] zmyzheng commented on #639
/assign

[2022-07-21 05:52] #612 closed

[2022-07-24 17:30] #943 closed

[2022-07-25 07:43] lzhecheng opened #2075 "Log reports incorrect subnet name in reconcileFrontendIPConfigs()"
#### What happened:
Here, log reports incorrect subnet name. It should be `subnetName` instead of `az.SubnetName`.
https://github.com/kubernetes-sigs/cloud-provider-azure/blob/v1.24.3/pkg/provider/azure_loadbalancer.go#L1770

#### What you expected to happen:
Log should report `subnetName`.

#### How to reproduce it (as minimally and precisely as possible):

#### Anything else we need to know?:

#

[2022-07-25 07:43] lzhecheng commented on #2075
/assign

[2022-07-25 12:39] lzhecheng commented on #933
/remove-lifecycle stale

[2022-07-25 13:26] #2075 closed

[2022-07-27 05:14] lzhecheng commented on #1369
This test looks fine recently.

[2022-07-27 05:14] #1369 closed

[2022-07-28 03:27] lzhecheng commented on #814
/assign

[2022-07-29 08:28] lzhecheng commented on #1929
/assign @monianshouhou

[2022-07-29 09:03] monianshouhou commented on #1929
/assign @monianshouhou

[2022-08-03 13:25] sebader opened #2125 "[BUG] Private Link deletion gets stuck on existing Private Endpoint connections"
#### What happened:
When using the new managed Private Link Service (https://github.com/kubernetes-sigs/cloud-provider-azure/issues/872), a cluster (or just the Private Link itself, too, I guess) cannot be deleted until all Private Endpoint Connections to that PLS are deleted beforehand. If you attemp to delete AKS, all the resources from the managed RG get deleted - expect the PLS and in the inte

[2022-08-04 02:39] feiskyer commented on #2125
This is actually the common behavior for most Azure services. To avoid unexpected deletion of Azure resources, the deletion would be blocked if they are still referenced by another resources. In this case, because PrivateEndpoint is managed by customer, customer should delete the PrivateEndpoint before deleting AKS cluster.

[2022-08-04 08:09] sebader commented on #2125
hmm but since all the other resources of the cluster also get deleted, what is the point in keeping the PLS? At that point it cannot be recovered anymore

[2022-08-04 08:15] heoelri commented on #2125
I ran into the same issue yesterday. When the PLS is created (and managed) by AKS (via [AKS PLS integration](https://azure.microsoft.com/en-us/updates/public-preview-aks-private-link-service-integration)) it's by default created within the AKS-owned/managed `MC_` resource group next to the LB. Wouldn't it be natural/logical then to share the same lifecycle as the AKS cluster including getting dele

[2022-08-04 08:15] bishal7679 opened #2132 "Typos in PLS integration"
It should be `specified` not `specifed`

![Screenshot (255)](https://user-images.githubusercontent.com/70086051/182798494-638b4832-c7b7-4d1d-b2be-ea65019a833e.png)

[2022-08-04 08:51] #2132 closed

[2022-08-04 12:31] feiskyer commented on #2125
If the PE is created in the MC_ resource group, then they should share the same lifecycle. But if the PE is outside, then AKS would not have the permission to operate the PE.

[2022-08-04 12:33] sebader commented on #2125
I might be wrong, but I would assume as the owner of the PLS (which AKS is), you have all the permissions to revoke/delete any Private Endpoint **Connections**
I do not mean the actual Private Endpoint resource. That we just end up in a Disconnected state, which is expected behavior)

[2022-08-05 08:58] #1929 closed

[2022-08-05 12:40] bradmann opened #2143 "LoadBalancer Annotation service.beta.kubernetes.io/azure-shared-securityrule doesn't share rules"
#### What happened:
- Created a LoadBalancer with the annotation `service.beta.kubernetes.io/azure-shared-securityrule=true`
- Add multiple `loadBalancerSourceRanges` rules to the LoadBalancer config.
- Multiple Security Rules are created in the Azure NSG.

#### What you expected to happen:
- Should only create a single shared Security Rule with comma-separated Source Addresses from `loadBalancerS

[2022-08-08 13:52] embik commented on #1763
Maybe I'm wrong, but [the docs](https://kubernetes-sigs.github.io/cloud-provider-azure/topics/loadbalancer/#custom-load-balancer-health-probe) seem to suggest that there is a huge change in behaviour from 1.23 to 1.24, potentially amplifying this issue:

nginx-ingress for example runs into this issue in its default configuration for its plain HTTP port. When admins upgrade from Kubernetes 1.23 to

[2022-08-09 09:26] nilo19 opened #2156 "The node could be deleted unexpectedly because of a nil entry in the VMSS VM cache"
#### What happened:

The deleting VMSS VM was set nil in the cache, and querying a deleting VM will result in `InstanceNotFound`. In this case, the node lifecycle controller will delete the node. But there is a chance that the VM is deleted and re-created with the same name in a short period of time, and we will not refresh the cache, node lifecycle controller will remove the node unexpectedly.
ht

[2022-08-10 02:57] feiskyer commented on #2156
Refer https://github.com/kubernetes-sigs/cloud-provider-azure/issues/247, this is a known limitation introduced with caches to reduce throttling issues.

[2022-08-10 02:57] #2156 closed

[2022-08-11 02:59] bridgetkromhout commented on #1246
/remove-lifecycle stale

[2022-08-12 07:01] nilo19 commented on #2143
The version of v1.19.16 is expired. Can you try the out-of-tree cloud provider azure?

[2022-08-12 07:14] nilo19 opened #2168 "Retry deleting the LB if 204 is returned"
#### What happened:

Deleting LB will sometimes succeed with code 204, but the request doesn't reach NRP side, and the LB doesn't get deleted. We should try to GET the LB to see if it still exists. If so, we should retry deleting it.

#### What you expected to happen:

The LB should be deleted.

#### How to reproduce it (as minimally and precisely as possible):

#### Anything else we need to know?

[2022-08-12 07:30] #1990 closed

[2022-08-12 13:05] rastislavs opened #2171 "Worker nodes temporarily loose connectivity when creating/deleting LB service"
#### What happened:
When creating / deleting LoadBalancer services, Azure VM worker nodes may temporarily loose network connectivity. It does not happen always, and not always on all nodes. After several minutes, the issue recovers itself and the nodes gain connectivity again.

The issue has been tracked down to the update of the VM Network Interface that CCM is doing to update the `loadBalancerBa

[2022-08-19 17:38] bridgetkromhout commented on #1187
/reopen

[2022-08-19 17:38] bridgetkromhout commented on #1187
/remove-lifecycle rotten

[2022-08-19 18:16] bridgetkromhout commented on #1585
/remove-lifecycle stale

[2022-08-22 02:05] lzhecheng commented on #1756
/remove-lifecycle stale

[2022-08-23 01:36] feiskyer commented on #1585
We didn't see any similar issues recently. Please update with more details if you still have such issues and reopen.

/close

[2022-08-23 01:36] #1585 closed

[2022-08-25 16:55] andy-anhnguyen opened #2218 "[Dual-stack] LoadBalancer Service with disabled floating-ip got error when enabling service.beta.kubernetes.io/azure-shared-securityrule"
#### <a name="desc"></a>What happened:
- Add a Service typed LoadBalancer in dual-stack kubernetes cluster with the annotation `service.beta.kubernetes.io/azure-disable-load-balancer-floating-ip: "true"`, AKS worked fine and created the expected load balancing rule.
- Add annotation `service.beta.kubernetes.io/azure-shared-securityrule: "true"` to the Service.
- `kubectl describe svc <lb_service>`

[2022-08-26 01:47] jwtty commented on #2218
/assign jwtty

[2022-08-26 02:04] lzhecheng commented on #1769
/remove-lifecycle stale

[2022-08-26 05:04] jwtty commented on #2218
The issue is actually not related to shared NSG rule. But service disabling floating ip cannot get reconciled in dual-stack clusters with above nsg failure.

[2022-08-26 08:29] feiskyer commented on #1717
no activities for a long time
/close

[2022-08-26 08:29] #1717 closed

[2022-08-31 07:11] #2218 closed

[2022-08-31 13:38] johurul000 commented on #2168
@nilo19 Hi, i am new to opensource and I would like to contribute to this issue. If you could help me!!

[2022-08-31 21:53] bridgetkromhout commented on #1138
/remove-lifecycle stale

[2022-08-31 21:53] bridgetkromhout commented on #704
/remove-lifecycle stale

[2022-09-02 12:26] #1927 closed

[2022-09-05 21:01] uroy-personal commented on #2168
Hi @nilo19 ,
I am interested in working on this issue.  Would appreciate If you could provide more info and guidance in implementing it.

[2022-09-06 12:15] sebader commented on #2125
any update on this @feiskyer? I still strongly believe AKS deletion should not get stuck on this

[2022-09-07 07:00] feiskyer commented on #2125
No, it is actually for lots of resources under node resource group. If they are referenced by other things outside of node resource group, customers need to unlink them before deleting the cluster.

[2022-09-07 07:57] sebader commented on #2125
hm ok I see. But what is the reasoning behind this? As the cluster deletion itself is not being stopped, any other resources become stale and are not recoverable anyway.

[2022-09-08 14:43] jonathanmeier5 opened #2287 "Mismatched Hashes on v1.23.2"
#### What happened:

Building cluster-autoscaler failed due to a bad hash for `cloud-provider-azure`.

Hash in cluster-autoscaler: https://github.com/kubernetes/autoscaler/blob/f69e14b5de2e595b55f4ee4dc64952e00e7c7ee9/cluster-autoscaler/go.sum#L1364

[code]

Did cloud-provider-azure intentionally or accidentally re-publish v1.23.2?

#### What you expected to happen:

I expected the package to down

[2022-09-13 05:46] lzhecheng opened #2296 "Unnecessary recreating resources because of ARM returns StatusCode 200 and ContentLength -1"
#### What happened:
Sometimes, ARM returns StatusCode 200 and ContentLength -1 to CCM's GET request but actually the resource exists. This results in CCM thinks that the resource doesn't exist and create a new one, e.g. LB.

#### What you expected to happen:
This problem's root cause is an ARM bug but CCM can better handle it by retrying GET in such situation. Then if timeout, CCM should return er

[2022-09-13 05:53] wangyuan0916 opened #2297 "What is the plan to migrate existing clusters from in-tree to out-of-tree CPI?"
I'm planning to migrate existing k8s clusters on azure from in-tree to out-of-tree CPI in our product, and trying to figure out the process and the timeline. According to [KEP 2395](https://github.com/kubernetes/enhancements/tree/master/keps/sig-cloud-provider/2395-removing-in-tree-cloud-providers#removing-in-tree-cloud-provider-code), in Phase 3, "A plan to migrate existing clusters from using th

[2022-09-16 06:51] #2296 closed

[2022-09-20 08:29] nilo19 opened #2355 "Get private IPs from node but NIC"
#### What would you like to be added:

The [`bc.GetBackendPrivateIPs` ](https://github.com/kubernetes-sigs/cloud-provider-azure/blob/95353cb3314bd2b33f5ea632d90256136db2ac61/pkg/provider/azure_loadbalancer_backendpool.go#L254) gets the node private IP address by getting the VM NIC, which introduces extra API calls. Instead, we can read the private IPs directly from [the cache](https://github.com/k

[2022-09-20 08:41] nilo19 commented on #2297
The plan and development of the migration are managed by sig cloud-provider, and I'm not sure if there will be an automatic migration tool in the future after Phase 3. But if you want to use out-of-tree cloud provider azure, you can try it now, as it has been GAed. Ref: https://cloud-provider-azure.sigs.k8s.io/install
Also, cluster provisioning tools such as aks-engine (deprecated) and capz also s

[2022-09-20 09:03] nilo19 commented on #2171
This is not an issue of cloud provider azure. Maybe there is a bug on the VM network side, but we cannot control that.

[2022-09-20 09:07] nilo19 opened #2356 "Skip VMSS VM operations if the VMs are in deleting state"
#### What happened:

VMSS VM operations will report an error `InstanceIdsListInstanceIdNotActiveVM ` if the VM is being deleted or has been deleted but our cache is not up-to-date. We should skip the VM in the following cases:
1. If the VM is already in deleting state, then skip all following PUT requests.
2. If the VM PUT error message contains InstanceIdsListInstanceIdNotActiveVM, then treat the

[2022-09-20 11:32] jwtty opened #2357 "GetLoadBalancer() should check service in both ELB and ILB"
#### What happened:
When an internal LoadBalancer service is updated to ClusterIP and using internal LB annotation is deleted at the same time, LB rule is not cleaned properly.

#### What you expected to happen:
LB rule should be properly cleaned up.

#### How to reproduce it (as minimally and precisely as possible):

#### Anything else we need to know?:

#### Environment:

- Kubernetes version (u

[2022-09-20 11:32] jwtty commented on #2357
/assign jwtty

[2022-09-21 02:08] wangyuan0916 commented on #2297
Hi @nilo19 Thank you for your reply! What is the plan to remove code of in-tree azure CPI? I'm asking this because I'd like make sure the deadline of using in-tree azure CPI and make plan to migrate from in-tree to out-of-tree.
I think I don't need the automatic migration tool, but a guide about what is the procedure when migrating, especially the HA cluster in which unavailability of control plan

[2022-09-21 02:32] nilo19 commented on #2297
The migration plan is managed by sig cloud-provider or cloud-provider-extraction, I'm not sure which. You can ask them in the slack channel.

[2022-09-21 02:52] vsabella commented on #1643
@jwtty It may have been GovCloud controllers were behind in version. This seems to work again I will re-open if we see otherwise.

[2022-09-21 03:06] wangyuan0916 commented on #2297
how about the implementation of leader migration feature? It needs the support of cloud provider azure.

[2022-09-23 10:26] sreis commented on #2171
@rastislavs We're tracking down networking issues in our Azure clusters with similar symptoms. We're starting to suspect throttling by ARM (Azure Resource Manager). Still gathering evidence. With that in mind, what is the rough size of your cluster? Tens of nodes? Few hundreds?

[2022-09-27 01:05] #2356 closed

[2022-09-27 02:49] feiskyer commented on #2297
leader migration is not implemented by Azure cloud provider, we suggest customers migrate to ccm when upgrading the cluster version.

[2022-09-27 02:49] #2297 closed

[2022-09-27 02:56] wangyuan0916 commented on #2297
Hi @feiskyer, we are going to upgrade clusters and together with migrating cloud provider to out-of-tree. These clusters are HA clusters, we don't want downtime in control plane during upgrading or migrating, are there any ideas about this?

[2022-09-27 06:55] lzhecheng commented on #1831
@rastislavs Hello I failed to reproduce locally. Could you please share
1) how you are provisioning the dual-stack cluster, aks or capz?
2) the output of kubetl describe pod cloud-controller-manager, especially Args of cloud-controller-manager.

[2022-09-28 00:03] CecileRobertMichon opened #2414 "LoadBalancerSku should default to Standard"
ClusterConfig defaults loadBalancerSku to `basic`: https://cloud-provider-azure.sigs.k8s.io/install/configs/#cluster-config.

Basic SKU is being retired. We should not be defaulting to basic for LB and public IP SKUs.

Standard SKU public IP addresses offer significant [improvements](https://learn.microsoft.com/en-us/azure/virtual-network/ip-services/public-ip-addresses#sku), including:

- Access

[2022-09-28 06:35] feiskyer commented on #2414
@CecileRobertMichon thanks for raising this issue. Are there any graceful update support plans in capz or aks-engine?

[2022-09-28 09:49] monianshouhou opened #2422 "Add a periodic job to run e2e tests for cloud-config specifically"
#### What would you like to be added:
Add a periodic job to run e2e tests for cloud-config specifically:
1. add a multi-vmss-nodepools ci-version template (Because some main cloud config tests need multiple vmss nodepools cluster)
2. change ci-entrypoint.sh in capz (refer to [this issue](https://github.com/kubernetes-sigs/cluster-api-provider-azure/issues/2336) in capz)
3. add test-infra job

####

[2022-09-28 09:51] monianshouhou opened #2423 "Combine some easy tests that create service with annotation together"
#### What would you like to be added:
Combine some easy tests that create service with annotation together

#### Why is this needed:

[2022-09-28 09:52] monianshouhou commented on #2422
/kind testing

[2022-09-28 09:54] monianshouhou commented on #2423
/assgin @lzhecheng

[2022-09-28 09:57] monianshouhou commented on #2422
@lzhecheng

[2022-09-28 09:57] monianshouhou commented on #2423
@lzhecheng please combine some easy tests that create service with annotation together

[2022-09-28 16:36] CecileRobertMichon commented on #2414
CAPZ never supported basic LBs. AKS Engine will be deprecated long before the retirement.

/cc @bridgetkromhout

[2022-09-29 02:27] monianshouhou opened #2429 "Add more missing e2e tests"
#### What would you like to be added:
According to the feature table, please add more missing e2e tests, like `service.beta.kubernetes.io/azure-pip-ip-tags` in service annotation.

#### Why is this needed:

[2022-09-29 02:28] monianshouhou commented on #2429
/kind testing
@lzhecheng PTAL.

[2022-09-29 06:08] #2355 closed

[2022-09-29 06:48] MartinForReal opened #2434 "Health probe is not updated when appProtocol is changed"
#### What happened:
Health probe is not updated when appProtocol is changed
#### What you expected to happen:
Health probe should be updated when appProtocol is changed
#### How to reproduce it (as minimally and precisely as possible):
apply svc and change appProtocol.

#### Anything else we need to know?:

#### Environment:

- Kubernetes version (use `kubectl version`):
- Cloud provider or hardwa

[2022-09-29 12:09] MartinForReal commented on #2434
raised a pr https://github.com/kubernetes/kubernetes/pull/112785

[2022-09-29 12:48] #2357 closed

[2022-09-30 05:55] nilo19 opened #2443 "Should remove LB backend pool reference from VMSS with 0 capacity when updating backend pool type to nodeIP"
#### What happened:

We only decouple VMSS with non-zero capacity from the LB when updating from NIC to IP-based Load Balancer.

#### What you expected to happen:

VMSS with zero capacity should also be decoupled from the LB.

#### How to reproduce it (as minimally and precisely as possible):

#### Anything else we need to know?:

#### Environment:

- Kubernetes version (use `kubectl version`):
-

[2022-09-30 16:50] rainest commented on #1505
/remove-lifecycle stale

Checking on this as well, as we recently encountered this when our users started migrating to 1.24. Is the fork fix still under active development, or is there any ongoing work from Microsoft to implement these annotations?

FWIW, in our case the affected HTTP services:
- are not likely to serve 200s for `GET /`, as they're proxy instances that often only route requests th

[2022-10-05 12:14] nilo19 commented on #1781
https://github.com/kubernetes-sigs/cloud-provider-azure/pull/2428 to introduce a new annotation.
Use this issue to track as we need to completely remove the service.Spec.LoadBalancerIP in the future.

[2022-10-05 19:02] aramase opened #2451 "Use `capz` for dual-stack prow jobs"
Creating this issue to track migration of dual-stack prow jobs to use [capz](https://github.com/kubernetes-sigs/cluster-api-provider-azure/) as [aks-engine](https://github.com/Azure/aks-engine#project-status) is deprecated.

[2022-10-06 04:42] nilo19 opened #2453 "Stop using deprecated labels in cloud-node-manager since v1.26.0"
#### What would you like to be added:

beta.kubernetes.io/instance-type
failure-domain.beta.kubernetes.io/region
failure-domain.beta.kubernetes.io/zone are still applied on nodes by cloud-node-manager
According to https://learn.microsoft.com/en-us/azure/aks/use-labels#deprecated-labels, they have been deprecated since v1.25.0. We should avoid using them since v1.26.0.

#### Why is this needed:

[2022-10-06 12:23] urbantz-technical-support opened #2454 "Support multiple frontend PIP's for Load Balancer service resource"
#### What would you like to be added:

Azure load balancers don't support multiple frontend PIP's on the same Load Balancer

There is 2 ways to add user defined PIP to a loadbalancer:
 * Directly through the `loadBalancerIP` field in the service
 * With the `ervice.beta.kubernetes.io/azure-pip-name:` annotation

None of those allow to select multiple ones. This is an artificial limitation since th

[2022-10-12 07:18] lzhecheng commented on #1493
/remove-lifecycle stale

[2022-10-13 02:45] nilo19 opened #2510 "VMSS will not join the lb backend pool when scaling out from 0"
#### What happened:

[`ss.ensureVMSSInPool` parse the VMSS name that needs join the lb backend pool by node providerID](https://github.com/kubernetes-sigs/cloud-provider-azure/blob/beec134b47515ebd97784f61caacad2ebb1209cc/pkg/provider/azure_vmss.go#L1256). However, when we scale out VMSS from 0, the providerID of the newly created nodes can be empty before the cloud node manager updates them. In t

[2022-10-13 05:24] jwtty opened #2511 "ILB frontend should select a new private IP when load-balancer-subnet is changed"
#### What happened:
Currently when service load-balancer-subnet gets changed, service reconcile would fail with error, privateIP is not in the subnet.
#### What you expected to happen:
When service selects a different lb subnet, a new private IP from that subnet should be used.

#### How to reproduce it (as minimally and precisely as possible):
Create an internal service. Then update the service w

[2022-10-13 23:26] Bryce-Soghigian commented on #2453
Would this be a good first issue to pick up?

[2022-10-14 13:36] #2511 closed

[2022-10-14 16:36] #2443 closed

[2022-10-15 02:46] nilo19 commented on #2453
Yes, we need to delete them.

[2022-10-15 15:34] Bryce-Soghigian commented on #2453
/assign Bryce-Soghigian

[2022-10-16 19:53] xtianus79 opened #2544 "Can you use a single IP for multiple services? I received a CreateContainerError when I closed and reused"
I am using AKS I have an IP that I was using for a redis cluster and I had it also using an ingress controller for another deployment. Everything worked fine. When I removed the ingress deployment and used the IP for another deployment my redis container failed with the change for no reason.

[code]
Are you able to use a single ip with multiple services or perhaps this was from a different issue.

[2022-10-17 06:27] #2510 closed

[2022-10-18 01:48] zmyzheng commented on #639
/remove-lifecycle stale

[2022-10-20 19:32] zohebs341 opened #2583 "cloud-controller-manager pods - ImagePullBackOff Error in Azure Stack Hub - Azure AKS 1.20.11"
Hi Team,

By using aks-engine, I've deployed azure aks 1.20.11 in Azure stack Hub. However, cloud-controller-manage pods are not coming up with ImagePullBackOff error.

Please check and assist. As I am a new user of Azure Stack Hub, appreciate your support on this.

Logs:

 kubectl describe po cloud-controller-manager-k8s-master-63284788-0 -n kube-system
Name:                 cloud-controller-mana

[2022-10-21 21:05] #639 closed

[2022-10-22 22:28] Bryce-Soghigian commented on #2453
I ended up submitting a pull request removing all of those labels from being added to the Nodes inside of nodemanager

[2022-10-26 05:23] lzhecheng commented on #814
/remove-lifecycle stale

[2022-10-27 16:25] MarcPow opened #2637 "Documentation Gap: service.beta.kubernetes.io/azure-pip-ip-tags is not documented"
This feature allows setting dynamically assigned public-ip iptagtypes (e.g. RoutingPreference=Internet, etc.), but is not documented.

https://github.com/kubernetes-sigs/cloud-provider-azure/issues/2637#tasklist-block-4ea2348b-d387-4ca1-b7d2-2351bc039e79

[2022-10-28 01:46] #2434 closed

[2022-10-29 02:23] #1201 closed

[2022-10-31 06:05] wangyuan0916 opened #2664 "In-tree to Out-of-tree cpi migration in HA cluster"
We have kubernetes clusters with multi masters, with in-tree azure cpi deployed on them. We need to migrate these cluster to out-of-tree azure cpi when rolling upgrade to new k8s version. Are there any down time when upgrade? These clusters are HA clusters, we don't want down time during upgrade. Are there any docs about this?

https://github.com/kubernetes-sigs/cloud-provider-azure/issues/2664#ta

[2022-11-01 00:47] zmyzheng opened #2670 "cloud-provider-azure-e2e-ccm-vmssflex-capz test fails because CCM fails find node from IP Configuration"
#### Which jobs are failing:
cloud-provider-azure-e2e-ccm-vmssflex-capz

#### Which test(s) are failing:
should support service annotation 'service.beta.kubernetes.io/azure-dns-label-name'

#### Since when has it been failing:
Oct 28, 2022

#### Testgrid link:
https://testgrid.k8s.io/provider-azure-cloud-provider-azure#cloud-provider-azure-e2e-ccm-vmssflex-capz

#### Reason for failure:
When creat

[2022-11-01 00:48] zmyzheng commented on #2670
/assign

[2022-11-02 14:55] #2670 closed

[2022-11-03 05:21] zmyzheng opened #2690 "CCM fails to delete LB because updating VMSS Flex network profile fails"
#### Which jobs are failing:
cloud-provider-azure-e2e-ccm-vmssflex-capz

#### Which test(s) are failing:
EnsureLoadBalancer should not update any resources when service config is not changed

#### Since when has it been failing:
11/01/2022

#### Testgrid link:
https://testgrid.k8s.io/provider-azure-cloud-provider-azure#cloud-provider-azure-e2e-ccm-vmssflex-capz

#### Reason for failure:
When delet

[2022-11-03 05:22] zmyzheng commented on #2690
/assign

[2022-11-03 21:42] zmyzheng opened #2697 "Bug: NetworkApiVersionMustBeSpecifiedWithNetworkInterfaceConfigurations for VMSS Flex Network Profile operation"
#### What happened:

CCM fails to add/delete LB backendPool from VMSS Flex with error:
E1101 21:37:22.222983       1 controller.go:320] error processing service default/elb (will retry): failed to ensure load balancer: Retriable: false, RetryAfter: 0s, HTTPStatusCode: 400, RawError: {
  "error": {
    "details": [],
    "code": "NetworkApiVersionMustBeSpecifiedWithNetworkInterfaceConfigurations",

[2022-11-03 21:43] zmyzheng commented on #2697
/assign

[2022-11-04 06:52] #2697 closed

[2022-11-07 02:24] #2690 closed

[2022-11-07 03:08] feiskyer commented on #1781
this was added by https://github.com/kubernetes-sigs/cloud-provider-azure/pull/2428.

[2022-11-07 03:08] #1781 closed

[2022-11-07 05:47] jwtty commented on #2544
It's possible to share one public ip among multiple services. Do you see any errors when you describe your service?

[2022-11-07 06:01] jwtty opened #2706 "publicIP list calls are not successfully reduced"
#### What happened:
PublicIPAddress List calls are not successfully reduced:
I1028 21:04:41.482802       1 azure_armclient.go:145] Send.sendRequest got response with ContentLength -1, StatusCode 200 and responseBody length 103248
I1028 21:04:41.490402       1 azure_backoff.go:338] PublicIPAddressesClient.List(...) success
W1028 21:04:41.490452       1 azure_standard.go:367] serviceOwnsFrontendIP:

[2022-11-09 09:03] ArchangelSDY opened #2725 "SecurityRuleAddressesOrPortsPerSecurityGroupLimitReached when service floating ip disabled"
#### What happened:
When floating IP is disabled for service, controller-manager creates a NSG rule that includes all backend pool nodes IPs as destination. In a cluster with 200+ nodes and 20+ services, we got following error from Azure:

[code]

The NSG rules on portal look like:

![image](https://user-images.githubusercontent.com/858914/200788016-7d72a7bb-adcf-4208-bdb4-7f1b53962b2a.png)

There

[2022-11-09 09:12] ArchangelSDY commented on #2725
@nilo19

[2022-11-10 04:54] ArchangelSDY commented on #2725
Is it possible

1. we add another annotation to let user choose to use `VirtualNetwork` instead?
2. we use the fixed cluster node CIDR instead (not sure if that's available via config)?

Though we can fork and add a temporary fix, we hope we can have an official solution. Otherwise this becomes a blocker for us migrating to AKS in future.

[2022-11-10 05:51] zmyzheng opened #2731 "VMSS Flex E2E testing"
#### What would you like to be added:
E2E testing should support VMSS Flex cluster
#### Why is this needed:
E2E testing should support VMSS Flex cluster

[2022-11-10 05:53] zmyzheng commented on #2731
/assign

[2022-11-11 03:06] #2143 closed

[2022-11-11 03:23] zmyzheng opened #2740 "VMSS Flex Cache should be refreshed after updating backend pool"
#### What happened:
Assume vmssflex has backend pool [0, 1, 2, 3]
After removing backend pool 1, the actual backend pool left shouild be [0, 2, 3]
However, when getting vmss flex from cache:https://github.com/kubernetes-sigs/cloud-provider-azure/blob/master/pkg/provider/azure_vmssflex_cache.go#L297, the get method is a deep copy: https://github.com/kubernetes-sigs/cloud-provider-azure/blob/master/

[2022-11-11 03:23] zmyzheng commented on #2740
/assign

[2022-11-11 10:08] #1505 closed

[2022-11-15 03:44] #2740 closed

[2022-11-17 15:56] #1807 closed

[2022-11-18 09:50] #2706 closed

[2022-11-29 23:02] CecileRobertMichon commented on #1358
@lzhecheng what's the status on this? Is it done?

[2022-11-30 01:33] lzhecheng commented on #1358
@CecileRobertMichon yes, it's done.
https://testgrid.k8s.io/provider-azure-cloud-provider-azure#cloud-provider-azure-ccm-windows-capz
https://testgrid.k8s.io/provider-azure-cloud-provider-azure#cloud-provider-azure-conformance-windows-capz

[2022-11-30 01:44] CecileRobertMichon commented on #1358
cc @jackfrancis