[2018-04-04 07:43] feiskyer opened #4 "Enable e2e tests for Azure"
We should set up an e2e tests for this repo

- [x] Setup e2e tests infra on Azure
- [x] Enable e2e tests for PRs
- [x] Switch to test-infra for presubmit e2e tests (presubmit tests are running for pull requests in cloud-provider-azure repo) @ritazh
  - [x] Add e2e steps to setup test-infra via Makefile
  - [x] Update presubmit tests to the new way
  - [x] Remove current perl scripts
- [ ] Enable f

[2018-04-04 07:43] feiskyer commented on #4
/assign @karataliu

[2018-04-04 07:46] feiskyer opened #5 "Add documentations for Azure cloud provider config file"
All params are listed [here](https://github.com/kubernetes/kubernetes/blob/98e89770c6fd57448b50c2e14f2dd14c96999927/pkg/cloudprovider/providers/azure/azure.go#L64-L129)

- [ ]  The meaning of each params
- [ ]  Different auth methods
  - [ ] clientId/clientSecret
  - [ ] clientCert
  - [ ] UseManagedIdentityExtension

[2018-04-04 09:10] feiskyer opened #6 "Add documentation of kube-controller-manager"
Add documentation of how to use Azure in kube-controller-manager, e.g.

- [ ] What should be configured when provisioning kube-controller-manager
- [ ] Docuement kubelet/kube-apiserver should also be configured with same
- [ ] Link to docs created in #5 for cloud-config

[2018-04-04 09:16] feiskyer opened #7 "Add more e2e test cases"
Azure related features should be tested in e2e tests, which includes

- [ ] Different authz methods
- [ ] Different load balancer behavior with annotations
- [ ] Verification of various resources
  - [ ] Routes
  - [ ] Node's externalID
  - [ ] Node's publicIP
  - [ ] NSGs
- [ ] ACR image pulling tests without docker secrets setting explicitly
- [ ] Multi availability zones tests
- [ ] Cloud provi

[2018-04-10 02:14] #5 closed

[2018-04-19 07:46] feiskyer opened #10 "Document known issues of each release"
We should add documentation of known issues of each release, e.g.

- [ ] load balancer and nsg issues
- [ ] AzureDisk issues
- [ ] AzureFile issues

To begin with, we could add `SourceAddressPrefixes` issue first (Refer https://github.com/Azure/AKS/issues/199).

/cc @khenidak @andyzhangx @karataliu

[2018-04-19 07:48] feiskyer commented on #10
Not sure whether we should add AzureDisk/AzureFile here, but we should definitely add docs for them.

@khenidak @andyzhangx @karataliu WDTH?

[2018-04-19 07:50] andyzhangx commented on #10
currently azuredisk & azurefile issues are here:
https://github.com/andyzhangx/demo/blob/master/issues/azuredisk-issues.md
https://github.com/andyzhangx/demo/blob/master/issues/azurefile-issues.md

[2018-04-19 07:56] feiskyer commented on #10
@andyzhangx File a PR to move them here?

[2018-04-23 05:20] feiskyer opened #11 "Add documentation for azure service annotations"
Azure cloud provider supports a lot of annotations: https://github.com/kubernetes/kubernetes/blob/master/pkg/cloudprovider/providers/azure/azure_loadbalancer.go#L36-L83, we should document them.

Also refer https://github.com/kubernetes/website/issues/8154

[2018-05-15 05:30] feiskyer commented on #11
LGTM

[2018-05-15 07:02] #6 closed

[2018-05-24 14:43] jessfraz opened #19 "Create a SECURITY_CONTACTS file."
As per the email sent to kubernetes-dev[1], please create a SECURITY_CONTACTS
file.

The template for the file can be found in the kubernetes-template repository[2].
A description for the file is in the steering-committee docs[3], you might need
to search that page for "Security Contacts".

Please feel free to ping me on the PR when you make it, otherwise I will see when
you close this issue. :)

[2018-05-28 21:57] caruccio opened #20 "Typo"
docs/cloud-provider-config.md
s/Descriiption/Description/

[2018-05-29 04:33] #20 closed

[2018-06-09 09:19] #11 closed

[2018-07-03 10:38] justaugustus commented on #4
/remove-lifecycle stale
/lifecycle frozen

[2018-07-03 10:39] justaugustus commented on #7
/remove-lifecycle stale
/lifecycle frozen

[2018-07-10 18:48] #19 closed

[2018-07-16 02:04] karataliu opened #38 "Enable lint check for tests/e2e"

[2018-07-16 09:23] aojea opened #40 "Missing CONTRIBUTING.md file"
All K8s subrepositories should have a CONTRIBUTING.md file, which at the minimum should point to https://github.com/kubernetes/community/blob/master/contributors/guide/README.md. Care should be taken that all information is in sync with the contributor guide.

Subrepositories may also have contributing guidelines specific to that repository. They should be explicitly documented and explained in th

[2018-07-19 05:46] #40 closed

[2018-07-19 07:05] nagarjunac opened #42 "Updated load balancer configuration by Service Controller"
Hi,
We have a kubernetes cluster version 1.9.2 deployed using acs engine template.
And we are using nginx ingress as a load balancer for our services.
Few times we have observed that all the services are going down at once and come back within few seconds. No pod restarts observed during that time.
When we checked the kubernetes events, we stumbled upon something which read " Load balancer configu

[2018-07-20 07:49] #38 closed

[2018-07-20 07:56] karataliu commented on #42
1. For 'all the services are going down at once and come back', can you provide more description on what happened that indicates services went done? Does the service refer to 'kubernetes service resource', or some logical service?

2. Where does the message 'Load balancer configuration updated by Service Controller' appear? For example, it is from controller-manager's log or from certain pod's eve

[2018-07-22 06:33] justaugustus commented on #10
@andyzhangx -- Let's see if we can get these moved over, when you have a chance.

/remove-lifecycle stale
/lifecycle frozen

[2018-07-22 06:35] justaugustus commented on #7
Do we have anyone to pick this up?
/help

[2018-07-22 06:35] justaugustus commented on #4
What's the current status of this?

[2018-07-23 02:03] feiskyer commented on #7
@fseldow is working on this.

[2018-07-23 07:34] andyzhangx commented on #10
@justaugustus done for azuredisk & azurefile issues, it's already under:
https://github.com/kubernetes/cloud-provider-azure/tree/master/docs

[2018-07-23 07:34] andyzhangx commented on #10
/close

[2018-07-23 07:34] #10 closed

[2018-07-25 07:59] nagarjunac commented on #42
@karataliu Thanks for the quick response.
1. For 'all the services are going down at once and come back', can you provide more description on what happened that indicates services went done? Does the service refer to 'kubernetes service resource', or some logical service?
- The service refers to the 'kubernetes service'.  When we make a http request to one of our application, it goes through nginx

[2018-07-25 14:22] justaugustus commented on #7
/assign @fseldow
/remove-help

[2018-09-04 02:59] karataliu opened #53 "Update testing resource group name for pull-cloud-provider-azure-e2e"
Should add time stamp into group name. Currently it only contains pr number and commit, a '/retest' usually wouldn't pass because previous resource group is not deleted yet.

[2018-09-04 03:00] karataliu commented on #53
/assign @karataliu

[2018-09-19 12:54] #53 closed

[2018-11-06 03:02] feiskyer commented on #4
The e2e tests have been enabled for this repo, but there's no periodly e2e tests yet. We should enable periodical tests for master branches as well.

[2018-11-06 03:05] andyzhangx opened #66 "Add disk attach/detach e2e case"

[2018-11-08 08:11] feiskyer commented on #4
/remove-lifecycle frozen

[2018-11-09 12:14] feiskyer opened #70 "Enable intree volume e2e tests"
PR #68 disables intree volume (AzureDisk) e2e tests because azure cloud config is required to pass them.

We should figure out how to get azure cloud config for e2e clusters and enable those tests after that.

[2018-12-06 02:20] feiskyer opened #75 "Reduce e2e logs file size"
gubernator.k8s.io is running on a like 250mb app engine instance, it can't do > 30 MB log files very well. See https://github.com/kubernetes/test-infra/pull/10214#issuecomment-444721915.

Also, junit output is missing from http://gcsweb.k8s.io/gcs/kubernetes-jenkins/logs/ci-cloud-provider-azure-master/2/, hence no results is shown in the page.

[2018-12-06 04:07] cjwagner commented on #75
Junit output should be stored in the directory specified by the `$ARTIFACTS` environment variable and in files with names that match the regexp: `junit.*\.xml`

[2018-12-06 05:03] feiskyer commented on #75
@cjwagner Thanks for the tip.

[2018-12-11 21:08] sharkymcdongles opened #76 "Please allow loadbalancer SKU to be set via an annotation instead of only cloud_config"
Currently the only way to set this is by setting the cloud_config to have the sku set to standard. I'd like to be able to set this as an annotation instead of globally only.

[2018-12-12 01:00] feiskyer commented on #76
I'm afraid this is not possible now, because a virtual machine (with one network interface) on Azure could only be added to one public LB and one private LB.

[2018-12-12 08:41] karataliu opened #77 "Support external-cloud-volume-plugin in acs-engine"
Verify if it helps on transition.

[2018-12-12 09:09] sharkymcdongles opened #78 "Improve Attach Detach Disk Performance"
On my cluster disks can take up to 10 min to attach to my node after a failover because it takes too long to detach from old node before attaching to new one. Is there anything that can be done to fix this performance issue?

[2018-12-12 09:15] feiskyer commented on #78
cc @andyzhangx

[2018-12-13 08:52] feiskyer commented on #75
Gets #79 merged, let's wait a while for a few runs.

[2018-12-18 06:56] feiskyer commented on #75
Finally see the junit results now: https://testgrid.k8s.io/sig-azure-master#azure-master-conformance.

/close

[2018-12-18 06:56] #75 closed

[2018-12-22 03:26] huydinhle opened #82 "Can't create a Persistent Volumes (Standard_LRS or Premium_LRS) with size that's greater than 1000Gi"
We tried to spin up a statefulset that has a persistentVolumeClaimTemplate that is bigger than 1000Gi and we could never mount it to the pod

Our Kubernetes version is `v1.10.7` and we use acs-engine to boostrap the cluster

Let us know if you need any info from us.

Steps to reproduce: Create any pod with PVC that is 2000Gi

[2018-12-22 10:12] #42 closed

[2018-12-23 09:45] feiskyer commented on #82
/assign @andyzhangx

[2018-12-24 03:01] andyzhangx commented on #82
@huydinhle I could set up statefulset that has a persistentVolumeClaimTemplate that is 2000Gi, what's the error msg you got, you could get by:
[code]

[2018-12-30 12:49] huangyingting opened #83 ""excludeMasterFromStandardLB": false doesn't work"
When setting "excludeMasterFromStandardLB": false for 3 nodes K8s 1.13.1 cluster deployment in azure, the load balancer created from azure will never include master node.

Noted, I have removed taint from master node as well but still doesn't work
kubectl taint nodes --all node-role.kubernetes.io/master-

Repro steps:
1. Use newest kubeadm deploy a multiple zones cluster with 3 VMs, k8s-01 is mast

[2018-12-31 06:05] huangyingting commented on #83
Forget this post, it appears from master node, it will also a label node-role.kubernetes.io/master, so with/without excludeMasterFromStandardLB, it will always not add master node to backend pool. Remove label "node-role.kubernetes.io/master" will solve the issue

[2019-01-01 10:08] feiskyer commented on #83
@huangyingting Good catch. it is handled [here](https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/service/service_controller.go#L598).

[2019-01-30 07:53] feiskyer commented on #4
/assign @feiskyer @ritazh
/unassign @karataliu

[2019-01-30 17:12] ritazh commented on #4
I see the e2e job `ci-cloud-provider-azure-master` is part of testgrid: https://testgrid.k8s.io/sig-azure-master#azure-master-conformance as defined here: https://github.com/kubernetes/test-infra/blob/master/testgrid/config.yaml#L7578-L7582

There are two e2e jobs for cloud-provider-azure in prow:
presubmit job `pull-cloud-provider-azure-e2e`: https://github.com/kubernetes/test-infra/blob/master/c

[2019-01-31 11:56] djsly opened #86 "A storageAccount API call blocks kubelet from becoming Ready when there isn't any outbound IP"
Running k8s `v1.11.5`
following this flow, it was discovered that an API call to the ARM API will block kubelet from properly registering the node as `Ready` for 10mins.

1) we create an AS with 10 VM, they all get a outbound IP defined by the AS outbound IP.
2) we install kubelet, kubelet starts registering to the ARM API using the public IP (outbound IP)
3) Eventually, all nodes are registered i

[2019-01-31 12:06] djsly opened #87 "Pre existing Nodes will be removed from the LB's backend on deallocation causing them to loose outbound IP at boot up"
Running k8s `v1.11.5`
Following this flow

1) we create an AS with 10 VM, they all get a outbound IP defined by the AS outbound IP.
2) we install kubelet, kubelet starts registering to the ARM API using the public IP (outbound IP)
3) Eventually, all nodes are registered in k8s.
4) A user creates a Service of Type LoadBalancer, the outboundIP if the nodes changes to the frontEnd IP of that LoadBala

[2019-01-31 12:13] djsly opened #88 "Expanding a node pool with new nodes fails when there is a Public LB associated to some members of the node pools' AS"
Running k8s `v1.11.5`
Following this flow,

1) we create an AS with 10 VM, they all get an outbound IP defined by the AS outbound IP.
2) we install kubelet, kubelet starts registering to the ARM API using the public IP (outbound IP)
3) Eventually, all nodes are registered in k8s.
4) A user creates a Service of Type LoadBalancer, the outboundIP if the nodes changes to the frontEnd IP of that LoadBa

[2019-01-31 14:31] feiskyer commented on #86
/assign @andyzhangx

[2019-02-01 07:08] feiskyer commented on #4
@ritazh presubmit jobs in for new pull requests, while periodic jobs are for running backgroud for each branches. Would update the description.

[2019-02-01 07:41] andyzhangx commented on #78
as I know it won't be related, what's your k8s version? @sharkymcdongles recently we fixed an issue which could lead to disk attach/detach failure

[2019-02-01 07:44] sharkymcdongles commented on #78
1.13

On Fri, Feb 1, 2019, 8:41 AM Andy Zhang <notifications@github.com wrote:

[2019-02-01 07:46] andyzhangx commented on #78
@sharkymcdongles could it repro easily? and on which azure region?

[2019-02-02 17:37] djsly commented on #86
since the kubelet can properly register after this single API call (which btw times out) could we at least review if it could be done after kubelet completes his registration loop ? hence allowing the controller manager to pick up the node and provide it with an outbound IP ?

From the looks of it, the API call is performed during the class instantiation.

[2019-02-03 02:33] andyzhangx commented on #86
@djsly the timeout is caused by `StorageAccountClient.ListByResourceGroup` operation, is it ok if I set timeout of this operation as 1 min? so you still need to wait 1 min if there is no outbound IP.

[2019-02-03 02:33] feiskyer commented on #86
Yep, make senses. Even if the API is called, it shouldn't timeout so long.

[2019-02-08 20:08] enver opened #91 "How to replace aadClientSecret?"
Out current aadClientSecret expired and we have created a new one. However after updating cloud config file and restarting kubelets we still an error:
[code]

Manually logging with credentials from cloud config works fine. It there any kind of cache that needs to be cleared?

[2019-02-09 08:04] enver commented on #91
Manage to workaround this issue by resetting key to same value it was before and extending expire time.

[2019-02-09 08:04] #91 closed

[2019-02-15 20:50] justaugustus opened #93 "Move repo to use dep + bazel for dependency mgmt"
/help

[2019-02-15 20:51] justaugustus commented on #93
/sig azure

[2019-02-15 20:51] justaugustus opened #94 "Add / update issue and PR templates"
/help
/sig azure

[2019-02-18 05:24] andyzhangx commented on #94
/assign
I can do that since I have just added these templates on CSI driver repos.

[2019-02-18 05:24] andyzhangx commented on #94
/remove-help

[2019-02-18 05:32] andyzhangx commented on #86
hi @djsly I worked out a PR(https://github.com/kubernetes/kubernetes/pull/74191) to fix this issue:
set timeout(1 min) for get azure account operation, actually `getAllStorageAccounts` func will reuse existing storage accounts, so in some worst case when it is timeout, it just will not use existing storage accounts (would create new accounts then), no side effect if it is really timeout.

Let me k

[2019-02-18 12:26] andyzhangx commented on #93
I can do the glide --> dep migration part.
will figure out how to move to bazel later.
/assign

[2019-02-18 12:27] andyzhangx commented on #82
/close
Let me know if you have any question, thanks.

[2019-02-18 12:27] #82 closed

[2019-02-18 12:30] andyzhangx commented on #78
This issue could be probably be due to this, the normal attach/detach operation is around 15s.
I will close this issue now, let me know if you have any question, thanks.
**Issue details**:

We found a disk attach/detach issue due to [dirty vm cache PR](https://github.com/kubernetes/kubernetes/pull/58313) introduced from v1.9.2, it would lead to following disk issues:
 - disk attach/detach failure

[2019-02-18 12:30] #78 closed

[2019-02-18 12:55] sharkymcdongles commented on #78
I just restarted a VM from the Azure portal that I cordoned and drained in k8s 1.13. I am still waiting for it to enter stopped status because the detach operations take so long. It took roughly 20 minutes just to enter stopped state. I am now waiting during the updating phase where it detaches the disks. This has taken a further 10 minutes. I don't think this is as fixed as you say it is. Is it p

[2019-02-18 13:07] andyzhangx commented on #78
@sharkymcdongles what's your exact k8s version? The issue I mentioned happens when moving multiple disks from one node to another. That bug I fixed would lead to following issues:
 - disk attach/detach failure for a long time
 - disk I/O error
 - unexpected disk detachment from VM
 - VM running into failed state due to attaching non-existing disk

Back to your issue, if you restart a VM and it nee

[2019-02-20 06:29] #94 closed

[2019-02-25 07:01] andyzhangx commented on #86
close this issue now.
let me know if you have any question
/close

[2019-02-25 07:01] #86 closed

[2019-03-04 03:22] feiskyer commented on #93
/assign
/unassign @andyzhangx

[2019-03-04 14:18] jaybatra26 commented on #4
@feiskyer I would like to contribute to this project as a part of my GSOC candidacy. Please let me know something I can pick as a good first issue. Thanks in advance.

[2019-03-04 16:37] ritazh commented on #4
UPDATE: The task to update the e2e test infra to use kubetest directly is currently WIP.

[2019-03-05 06:40] #76 closed

[2019-03-05 06:41] feiskyer commented on #83
We should udpate documents for "excludeMasterFromStandardLB" to include this information.

[2019-03-05 06:54] feiskyer commented on #4
@jaybatra26 Thanks for the interest. Are you familiar with Go and Azure? Most of works here are coupled with Azure functionalities.

[2019-03-05 07:09] jaybatra26 commented on #4
@feiskyer , I am familiar with go, but not a lot of azure. I can try setting it up in my system. If there is any document I can follow to set up in local and test, I will sincerely appreciate it.

[2019-03-05 08:26] feiskyer commented on #66
/remove-lifecycle stale

[2019-03-05 10:40] #83 closed

[2019-03-05 14:08] feiskyer opened #101 "Switch glide to go modules for dependency management"
We should switch ~glide~ go modules to dep for vendors management. Kubernetes's staging packages should be handled carefully (e.g. refer scripts/update-dependencies.sh)

- [ ] Replace glide with ~dep~ go modules
- [ ] Update scripts/update-dependencies.sh
- [ ] Update docs dependency-management.md

/help

[2019-03-05 14:10] feiskyer opened #102 "Build binaries with Bazel"
- [ ] Add bazel support
- [ ] Add auto-generation scritps
- [ ] Add documention

[2019-03-05 14:11] feiskyer commented on #93
/close

[2019-03-05 14:11] #93 closed

[2019-03-05 14:12] feiskyer commented on #4
@jaybatra26 Could you start with #101? It's for changing the vendor tools to dep and not related to Azure.

[2019-03-05 14:59] jaybatra26 commented on #4
@feiskyer Sure. Trying it.

[2019-03-05 15:28] jaybatra26 commented on #101
@feiskyer  One quick question, why not go modules which are introduced in `1.11` and go dep. I just read an article that dep is outdated.
https://medium.freecodecamp.org/an-intro-to-dep-how-to-manage-your-golang-project-dependencies-7b07d84e7ba5

[2019-03-05 18:03] jaybatra26 commented on #101
@feiskyer  Here is a WIP PR.
https://github.com/kubernetes/cloud-provider-azure/pull/103
I have a few questions:

- https://github.com/kubernetes/cloud-provider-azure/blob/master/scripts/update-dependencies.sh#L65-L70  Is this required now?
- https://github.com/kubernetes/cloud-provider-azure/blob/master/scripts/update-dependencies.sh#L41
What should be alternative to this one?

[2019-03-06 03:39] feiskyer commented on #101
With glide, it's required because kubernetes is using packages from staging directory. After invoking `glide-update-staging-mirror`, those staging packages should also be updated.

glide supports mirrors, while other tools don't. So we still need to write some shell script to do that.

[2019-03-06 03:50] feiskyer commented on #101
@sttts Any reasons for this? go modules may  introduce conflicts for various packages, e.g. https://github.com/kubernetes/kubernetes/issues/68577）

[2019-03-07 11:14] justaugustus commented on #102
@feiskyer asked me to pick this up.
/assign
/milestone 1.15
/priority important-longterm
/kind feature

[2019-03-07 13:57] feiskyer commented on #102
@justaugustus Thanks

[2019-03-08 01:44] feiskyer commented on #4
not done yet.

/reopen

[2019-03-12 07:40] #87 closed

[2019-03-12 12:46] feiskyer commented on #77
/remove-lifecycle stale

[2019-03-13 20:15] dennisameling commented on #78
@andyzhangx It takes around 14 mins in my Kubernetes cluster to attach disks sometimes. Doesn't seem consistent though.
Kubernetes version: 1.12.6 (AKS West Europe)

Got these events:

![image](https://user-images.githubusercontent.com/17739158/54311157-4ab0e100-45d4-11e9-9ce2-7a193a9e8c53.png)

Looking at the events, would you say this is a Kubernetes/AKS issue or an Azure issue?

[2019-03-14 00:15] andyzhangx commented on #78
@dennisameling are you attaching multiple disks to one VM in parallel? 14 min is abnormal, we noticed slow disk attachment in west Europe region before, while it recovered finally.

[2019-03-14 05:12] feiskyer opened #115 "[e2e] Switch current perl based presumit e2e tests to kubetest"
The current e2e tests (job name: pull-cloud-provider-azure-e2e) we are running for cloud-provider presubmit PRs is based on perl scripts. We should switch it to kubetest.

Work items:

* [x] Replace the current perl script with kubetest in `make test-e2e`
* [x] Update docs of how to run it locally in e2e-tests.md
* [x] Add a new page for `pull-cloud-provider-azure-e2e` in [testgrid](https://testgr

[2019-03-14 05:15] feiskyer opened #116 "[e2e] Add presumit e2e jobs for cloud provider"
Add new jobs for e2e test from cloud-provider-azure repo. The test cases are under [tests/e2e](https://github.com/kubernetes/cloud-provider-azure/tree/master/tests/e2e).

* [x] Add a new job in prow named `pull-cloud-provider-azure-e2e-ccm`
* [x] Add the job to testgrid page (also named `pull-cloud-provider-azure-e2e-ccm`)

/assign @ritazh

[2019-03-14 05:20] feiskyer opened #117 "[e2e] Refine periodic job for basic conformance tests"
The current periodic job azure-master-conformance is also based on perl scripts. We should switch to kubetest.

* [x]  Switch current perf script method to kubetest
* [x]  Rename current job `azure-master-conformance` to `cloud-provider-azure-conformance`

[2019-03-14 05:23] feiskyer opened #118 "Setup MCR for cloud-provider-azure image"
As the external cloud provider is actually used as a container image, we should setup MCR for publishing it publicly when doing our first release.

The image should probably be built from some automatic pipelines (e.g. jenkins).

[2019-03-14 06:05] ritazh commented on #116
Waiting for the new `kubekins-e2e` image that includes kubetest updates to land upstream.

[2019-03-14 06:15] feiskyer opened #120 "[e2e] Add periodic jobs for Kubernetes conformance tests"
The core codes of Azure cloud provider is still hosted in kubernetes repo (we vendored the codes here), hence we should setup periodic jobs for it.

Work items:

- [ ]  Add new job 'ci-kubernetes-e2e-conformance' (kube-controller-manager should be used in this case)
- [ ]  Add the job to testgrid pages

[2019-03-19 20:59] Abhik1998 commented on #4
Hey , I am familiar with Golang , kubernetes and went throught he code base. Earlier I contributed to updating AZURE INSTANCES. So, @feiskyer  Can I take up this issue?

[2019-03-20 02:01] feiskyer opened #122 "Document versions for load balancer annotations"
**Is your feature request related to a problem?/Why is this needed**

/kind docs

**Describe the solution you'd like in detail**

Not all annotations are available for all versions, we should document the kubernetes versions for each annotation.

**Describe alternatives you've considered**

**Additional context**

[2019-03-20 04:56] feiskyer commented on #4
@Abhik1998 sure, feel free to claim the item you'd like to work on

[2019-03-20 06:43] feiskyer opened #124 "External kubernetes dependencies"
This is the meta-issue for tracking all the external dependencies, which are blockers for full standalone azure cloud provider.

cross reference [KEP for out-of-tree Azure cloud provider](https://github.com/kubernetes/enhancements/blob/master/keps/sig-cloud-provider/azure/20190125-out-of-tree-azure.md).

## API throttling

Instance metadata service could help to reduce API throttling issues, and i

[2019-03-20 07:18] feiskyer commented on #77
Even with `--external-cloud-volume-plugin` set in kube-controller-manager, because kubelet requires cloud credential for various volume operations, AzureDisk/AureFile are still not working.

CSI is the right and only solution for this.

[2019-03-20 07:18] feiskyer commented on #77
/close

[2019-03-20 07:18] #77 closed

[2019-03-21 09:16] Abhik1998 commented on #4
I started up with the Makefile @feiskyer  , its similiar to something like this.

ifeq ($(CMD_ARGUMENTS),)
	# no command is given, default to shell
	docker-compose -p $(PROJECT_NAME)_$(HOST_UID) run --rm $(SERVICE_TARGET) sh
else
	# run the command
	docker-compose -p $(PROJECT_NAME)_$(HOST_UID) run --rm $(SERVICE_TARGET) sh -c "$(CMD_ARGUMENTS)"
endif

# Regular Makefile part for buildpypi itself

[2019-03-21 11:39] feiskyer commented on #4
@Abhik1998 Could you send out a PR? By the way, we don't use docker-compose, docker is enough for building the images and running the tests.

[2019-03-21 12:03] Abhik1998 commented on #4
Yes sure am sending a PR. Well, I sent that Docker type because I used that file earlier

[2019-03-22 03:29] feiskyer commented on #116
Added in https://github.com/kubernetes/test-infra/pull/11846.

[2019-03-22 03:29] #116 closed

[2019-03-22 03:30] feiskyer commented on #117
Added in https://github.com/kubernetes/test-infra/pull/11846.

[2019-03-22 03:30] #117 closed

[2019-03-22 03:35] feiskyer commented on #70
Because of #124, CSI drivers are required for AzureDisk volume plugins, but CSI drivers are still not ready yet.

[2019-03-22 03:35] feiskyer commented on #70
/milestone v1.15

[2019-03-22 03:39] feiskyer commented on #88
We have agreed that provisioning tools should ensure the outbound connectivity for nodes scaling or upgrading (e.g. by outbound rules for SLB). From cloud provider's view, because the virtual machine hasn't join kubernetes cluster yet, cloud provider couldn't add it to LB backend pools.

Documents are also added in [azure-loadbalancer.md](https://github.com/kubernetes/cloud-provider-azure/blob/mas

[2019-03-22 03:39] #88 closed

[2019-03-22 03:42] feiskyer commented on #115
We have replaced the pr-cloud-provider-e2e with kubetest, but the Makefiles and e2e guides here still need updates.

[2019-03-24 07:57] Abhik1998 commented on #7
Hello! since I am taking up the issue #4  as my GSOC project so I want to take up this also into my proposal. @feiskyer  Can I do so?

[2019-03-24 08:35] feiskyer commented on #7
@Abhik1998 Sure, which one would you like to start?

[2019-03-24 14:27] Abhik1998 commented on #7
Sir,  I am dealing with issue #101. After that I will start with going through issue #4 and then #7.

[2019-03-24 14:42] justaugustus commented on #7
@Abhik1998 -- As I mentioned on #128, @jaybatra26 already appears to be working on #101.
Please focus on #4 instead.

[2019-03-24 15:20] Abhik1998 commented on #7
Okay Sir.

[2019-03-25 02:20] feiskyer opened #130 "[sig-storage] CSI mock volume CSI volume limit information using mock driver should report attach limit when limit is bigger than 0 7m57s"
/kind failing-tests

**What happened**:

The following tests are failing constantly:

[sig-storage] CSI mock volume CSI volume limit information using mock driver should report attach limit when limit is bigger than 0 7m57s

[code]

See logs at https://gubernator.k8s.io/build/kubernetes-jenkins/pr-logs/pull/cloud-provider-azure/125/pull-cloud-provider-azure-e2e/79#sig-storage-csi-mock-volume-csi-v

[2019-03-25 02:21] feiskyer commented on #130
@andyzhangx Could you take a look at the failed test?

[2019-03-25 05:37] feiskyer commented on #101
I tried a few steps of go modules, here's a working reference

https://github.com/feiskyer/cloud-provider-azure/blob/c0f158dbda4cd088555812c5ff80c9b53a6642fc/hack/update-deps.sh#L24-L44

[2019-03-25 06:40] andyzhangx commented on #130
it could be due to feature gate `CSIInlineVolume` not in kube-controller-manager, how can I add following
 "--feature-gates=CSIInlineVolume=true" into v1.14.0-rc1 kube-controller-manager test config?  @feiskyer

[2019-03-25 06:54] feiskyer commented on #130
Need to add in the azure.json file. Let me file a PR to fix this

[2019-03-25 07:14] Abhik1998 commented on #115
okay I am updating the Makefile

[2019-03-25 09:43] #130 closed

[2019-03-28 15:05] feiskyer commented on #101
Here is a reference of Kubernetes go modules KEP: https://github.com/kubernetes/enhancements/blob/master/keps/sig-architecture/2019-03-19-go-modules.md

[2019-04-02 04:23] feiskyer opened #137 "Document routeTableResourceGroup"
New cloud provider option `routeTableResourceGroup` is added from https://github.com/kubernetes/kubernetes/pull/75580 (in master branch).

We should update documents for it.

/kind documentation

[2019-04-02 04:30] feiskyer opened #138 "Document disableOutboundSNAT"
`disableOutboundSNAT` is added from PR https://github.com/kubernetes/kubernetes/pull/75282, which is used together with standard load balancer:

[code]

It is supported in v1.11.9, v1.12.7, v1.13.5 and v1.14.0.

We should update the docs for it.

[2019-04-02 04:30] feiskyer commented on #138
/kind documentation

[2019-04-04 13:36] feiskyer commented on #118
The alpha image has been pushed to mcr.microsoft.com/k8s/core/azure-cloud-controller-manager:v0.1.0.

[2019-04-04 13:37] feiskyer commented on #118
/close

[2019-04-04 13:37] #118 closed

[2019-04-08 04:28] #101 closed

[2019-04-21 09:18] kesor opened #150 "APIversion in Azure SDK is too restrictive"
**Is your feature request related to a problem?/Why is this needed**
The `azure-sdk-for-go` used in the azure-clooiud-provider has a single API version implementation for each of `compute`, `network` and `storage` services. For example, the version for compute is `compute/mgmt/2018-10-01`.

This is very restrictive, and when using the provider on *Azure Stack* which does not support the latest ver

[2019-04-21 09:23] kesor opened #151 "Documentation for `AZURE_ENVIRONMENT_FILEPATH`"
**Why is this needed**
When using the cloud provider on *Azure Stack* the API services are available at different endpoints than those at *Azure Public Cloud*. These endpoints need to be provided to the `azure-sdk-for-go` in an additional json file.

Usually this file is set using the environment variable `AZURE_ENVIRONMENT_FILEPATH` with the value of `/etc/kubernetes/azurestackcloud.json` or simi

[2019-04-21 12:59] feiskyer commented on #150
Hi, @kesor. The version of each Azure API is required for interacting with Azure Cloud. And because various issues are only included in newer API versions, we couldn't use too old API versions for avoiding those bugs.

Is there any possibility to make Azure Stack's API versions compatible with newer Azure API?

[2019-04-21 13:00] feiskyer commented on #151
@kesor Would you like to compose a PR for this?  [cloud-provider-config.md](https://github.com/kubernetes/cloud-provider-azure/blob/master/docs/cloud-provider-config.md) is the right place for this.

[2019-04-22 06:24] feiskyer commented on #115
Fixed in #149.
/close

[2019-04-22 06:24] #115 closed

[2019-04-22 08:56] kesor commented on #150
Hi @feiskyer,

This is a Microsoft product, and it has its own fixed version that is not determined by the user. The version of APIs in Azure Stack are usually slightly older than those of Azure Public Cloud.

Given the functionality provided by `cloud-provider-azure`, it would guess that the *absolute latest* version of the API is not strictly required for most features - and it would work just f

[2019-04-24 13:58] #151 closed

[2019-04-30 17:03] lumi017 opened #155 "Hitting rate limit for "NicGet""
**What happened**:
We have ~150 node cluster running Kubernetes (the hard way). We are using Azure LB managed by Kubernetes controller manager. It works fine when we are only leveraging the public IP LB, but once we create a private IP LB Kubernetes service it creates extra queries for all the NICs of the nodes in the backend pool of the internal loadbalancer (~extra 150). This causes us to hit th

[2019-05-01 00:21] feiskyer commented on #155
The rate limit is taking effect for all ARM APIs: cloudProviderRateLimitQPS for read and cloudProviderRateLimitQPSWrite for write.

@lumi017  could you set up a bigger cloudProviderRateLimitQPS?

[2019-05-01 14:01] djsly commented on #155
@feiskyer what would be your proposed configuration?

[2019-05-01 18:52] MarcosMMartinez commented on #155
@feiskyer My questions would be: why are we asking the client (CCM) to set the throttle itself rather than letting the server (ARM) throttle the client (CCM)?

When we check the ARM throttling limits, we see that the throttling limit for 1 ARM instance is 12K reads and 1.2K writes per hour - however, most requests are received by different instances, so the upper limit would be much higher - as th

[2019-05-02 00:54] feiskyer commented on #155
@djsly I'd suggest setting it with number of nodes. Disable cloudProviderRateLimit is another option.

@MarcosMMartinez `cloudProviderRateLimit` is provided for client side rate limiting, and CCM also honors server side throttling by exponential backoff. `cloudProviderRateLimit` is needed because there're usually other components also interacting with ARM API, hence CCM should ensure it doesn't ea

[2019-05-06 03:04] feiskyer commented on #150
@kesor Please contact Azure Stack team for API version issues. As there're many features and bug fixes only included in the new API versions, it's hard to maintain old API versions.

/close

[2019-05-06 03:04] #150 closed

[2019-06-06 14:04] feiskyer commented on #66
The e2e tests for Disk operations would be added in CSI plugins.

[2019-06-06 14:04] #66 closed

[2019-06-13 08:31] feiskyer opened #164 "E2e tests for service annotation service.beta.kubernetes.io/azure-load-balancer-mode"
Sub-item of #7: E2e tests for service annotation `service.beta.kubernetes.io/azure-load-balancer-mode`.

Pre-requirements:

* A Kubernetes cluster with at least two vmss agent pools
* LoadBalancerSku is basic

Validation workflow:

* Get a list of all nodes and their providerIDs
 * ProviderID example: `azure:///subscriptions/<subscription-id>/resourceGroups/<rg>/providers/Microsoft.Compute/virtual

[2019-06-13 08:32] feiskyer commented on #164
@Abhik1998 would work on this.

[2019-06-13 13:24] #138 closed

[2019-06-13 13:30] feiskyer commented on #137
Added in #163.

[2019-06-13 13:30] #137 closed

[2019-06-13 13:31] feiskyer commented on #122
Added in #163.

[2019-06-13 13:35] #122 closed

[2019-06-27 11:07] invidian opened #169 "Documentation regarding CCM for Azure dependencies is out of date"
https://github.com/kubernetes/cloud-provider-azure/blob/master/docs/cloud-controller-manager.md says:

However, [azure cloud provider](https://github.com/kubernetes/kubernetes/tree/master/pkg/cloudprovider/providers/azure) link does not work anymore, since providers other than `openstack` has been removed from `master` kubernetes: https://github.com/kubernetes/kubernetes/tree/master/pkg/cloudprovi

[2019-06-27 12:50] feiskyer commented on #169
Thanks for reporting the issue, the cloud provider has been moved to staging. I would file a PR and fix the link.

/assign

[2019-06-28 04:53] #169 closed

[2019-06-28 08:12] feiskyer commented on #70
/milestone v1.16

[2019-06-28 08:12] feiskyer commented on #70
/milestone clear

[2019-07-04 09:12] feiskyer commented on #70
E2e tests for AzureDisk and AzureFile would be added in their own CSI repos: https://github.com/kubernetes-sigs/azuredisk-csi-driver and https://github.com/kubernetes-sigs/azurefile-csi-driver.

/close

[2019-07-04 09:12] #70 closed

[2019-07-04 12:20] justaugustus commented on #124
/assign

[2019-07-05 05:12] feiskyer commented on #124
To support production-level out-of-tree Azure cloud provider, API throttling issue is a hard-blocker. So we need a new proposal to make CCM support instance metadata (refer https://github.com/kubernetes/cloud-provider/issues/30).

/milestone v1.16

[2019-07-05 05:38] #155 closed

[2019-07-05 05:42] feiskyer commented on #164
/kind testing

[2019-07-05 05:42] feiskyer commented on #164
/milestone v1.16

[2019-07-05 05:45] feiskyer opened #175 "Enable cloud-provider-azure-serial e2e tests"
Enable cloud-provider-azure-serial periodic e2e tests and public the results to [testgrid](https://testgrid.k8s.io/sig-azure-master).

/kind testing
/milestone v1.16

/cc @nilo19

[2019-07-05 05:46] feiskyer opened #176 "Enable cloud-provider-azure-multiple-zones periodic e2e tests"
Enable cloud-provider-azure-multiple-zones periodic e2e tests and public the results to [testgrid](https://testgrid.k8s.io/sig-azure-master).

Refer https://github.com/kubernetes/enhancements/issues/586.

/kind testing
/milestone v1.16

/cc @nilo19

[2019-07-05 05:48] feiskyer opened #177 "Enable cloud-provider-azure-cross-node-groups periodic e2e tests"
Enable cloud-provider-azure-cross-node-groups periodic e2e tests and public the results to [testgrid](https://testgrid.k8s.io/sig-azure-master).

Refer https://github.com/kubernetes/enhancements/issues/604.
/kind testing
/milestone v1.16

[2019-07-05 05:52] feiskyer opened #178 "Add validations for Azure node resources"
Add validations for Azure node resources, which include

* Validate route tables are set correctly
* Validate node's providerID are set correctly (note: vmss and vmas formats are different)
* Validate node's publicIP
* Validate node's privateIP

/kind testing
/milestone v1.16

[2019-07-05 05:54] feiskyer opened #179 "Add validations for Azure authorization"
Add e2e tests for Azure authorization, which include three types:

* system-assigned MSI
* user-assigned MSI
* service principal

Those tests would help to ensure all the auth types won't be broken by future changes (e.g. vendor updates).

Refer https://github.com/kubernetes/cloud-provider-azure/blob/master/docs/cloud-provider-config.md#auth-configs.

/kind testing
/milestone v1.16

[2019-07-05 05:55] feiskyer opened #180 "Add validations for Azure credential provider"
Add validations for Azure credential provider, so that both private and public images from ACR could be pulled without setting docker secrets explicitly.

/kind testing
/milestone v1.16

[2019-07-05 06:00] feiskyer opened #181 "Add validations for Azure standard loadbalancer"
Add validations for Azure standard load balancer, which include:

* loadBalancerSku should be standard
* all nodes in different agent pools should be added to the SLB backends
* Pod's outbound IPs should be same as that configured in SLB outbound rules

/kind testing
/milestone v1.16

[2019-07-05 06:00] feiskyer commented on #7
Would be tracked in smaller issues.

/close

[2019-07-05 06:00] #7 closed

[2019-07-05 06:09] feiskyer opened #182 "Enable cloud-provider-azure-alpha-features periodic e2e tests"
Enable cloud-provider-azure-alpha-features periodic e2e tests and public the results to [testgrid](https://testgrid.k8s.io/sig-azure-master).

/kind testing

[2019-07-05 06:10] feiskyer opened #183 "Enable cloud-provider-azure-scalability periodic e2e tests"
Enable cloud-provider-azure-scalability periodic e2e tests and public the results to [testgrid](https://testgrid.k8s.io/sig-azure-master).

/kind testing

[2019-07-05 06:15] feiskyer opened #184 "Add e2e tests for service annotation "service.beta.kubernetes.io/azure-load-balancer-resource-group""
Add e2e tests for service annotation "service.beta.kubernetes.io/azure-load-balancer-resource-group".

/kind testing
/milestone v1.16

[2019-07-05 06:15] feiskyer opened #185 "Add e2e tests for service annotation "service.beta.kubernetes.io/azure-allowed-service-tags""
Add e2e tests for service annotation "service.beta.kubernetes.io/azure-allowed-service-tags".

/kind testing
/milestone v1.16

[2019-07-05 06:16] feiskyer opened #186 "Add e2e tests for service annotation "service.beta.kubernetes.io/azure-load-balancer-tcp-idle-timeout""
Add e2e tests for service annotation "service.beta.kubernetes.io/azure-load-balancer-tcp-idle-timeout".

/kind testing
/milestone v1.16

[2019-07-05 06:16] feiskyer opened #187 "Add e2e tests for service annotation "service.beta.kubernetes.io/azure-load-balancer-mixed-protocols""
Add e2e tests for service annotation "service.beta.kubernetes.io/azure-load-balancer-mixed-protocols".

/kind testing
/milestone v1.16

[2019-07-05 06:17] feiskyer commented on #4
Would be tracked in smaller issues.

/close

[2019-07-05 06:17] #4 closed

[2019-07-14 03:55] #164 closed

[2019-07-15 06:08] nilo19 opened #188 "Kubernetes e2e test encountered SSH error"
Error logs:
[code]
I consider to add the following configurations t `docs/e2e-test.md`:
[code]

[2019-07-15 10:17] #188 closed

[2019-07-18 07:46] nilo19 opened #190 "[e2e] Add test manifests for virtual machine scale set."
Cases of VMSS are not included in the existing e2e test jobs. To solve the issue, a aks template file, together with an update of job manifest in`kubernetes/test-infra` are needed.

[2019-07-18 07:49] nilo19 commented on #190
/kind testing

[2019-07-25 03:35] #186 closed

[2019-07-25 06:21] #176 closed

[2019-07-26 07:28] #187 closed

[2019-07-27 13:27] #185 closed

[2019-07-30 09:18] sylr opened #201 "Add metrics about cloudprovider backoff and rate limiting"
**Is your feature request related to a problem?/Why is this needed**

It would be very useful to be able to follow throttling of cloudprovider requests to be able to tune clouprovider backoff and rate limiting settings.

**Describe the solution you'd like in detail**

Gauges for the value of each settings and Counter incremented when requests are made, throttled, backed off ... etc.

**Describe al

[2019-07-30 09:35] sylr opened #202 "Enforce cloudprovider rate limiting based on Azure's"
**Is your feature request related to a problem?/Why is this needed**

We see a lot of Azure API calls being throttled by Kubernetes cloudprovider that does not really needed to be because of hardcoded limits.

**Describe the solution you'd like in detail**

Every Azure API call responses contains an HTTP header which describes the number of API calls remaining before Azure starts to throttle API c

[2019-07-30 12:10] #184 closed

[2019-07-31 07:37] feiskyer commented on #201
The metrics are already added in controller manager, you can get them from `<controller-manager-ip>:10252/metrics`.

[2019-07-31 07:40] sylr commented on #201
@feiskyer can you do me a list of metrics that you have ?

So far I only see those on 1.13.6:

- cloudprovider_azure_api_request_duration_seconds_bucket{}
- cloudprovider_azure_api_request_duration_seconds_count{}
- cloudprovider_azure_api_request_duration_seconds_sum{}

[2019-07-31 07:45] feiskyer commented on #201
For example:

[code]

[2019-07-31 07:48] feiskyer commented on #181
Required changes of https://github.com/Azure/aks-engine/pull/1622, which would included in next aks-release v0.39.0.

[2019-07-31 08:24] sylr commented on #201
I don't see any metrics about the number of calls being throttled or backed off.

[2019-07-31 08:29] feiskyer commented on #201
it doesn't include throttled numbers, only number of requests are exposed.

[2019-07-31 08:35] sylr commented on #201
Yes, that's the purpose of the issue, expose metrics about the number of calls being throttled or backed off.

[2019-07-31 08:41] sylr commented on #202
I'm doing it right now using current azure-sdk-for-go by providing ResponseInspector callbacks to the clients, see:

https://github.com/sylr/prometheus-azure-exporter/blob/34201163537d76751ba238d59b235b18cced4dfe/pkg/azure/clients.go#L93-L96

https://github.com/sylr/prometheus-azure-exporter/blob/34201163537d76751ba238d59b235b18cced4dfe/pkg/azure/clients.go#L333-L340

https://github.com/sylr/prome

[2019-07-31 12:59] feiskyer commented on #202
@sylr thanks. https://github.com/Azure/go-autorest/pull/417 provides a way set up from context, I think that should be used now.

[2019-07-31 13:21] sylr opened #203 "Implement disableOutboundSnat for Standard load balancer rules"
**Is your feature request related to a problem?/Why is this needed**

With a Standard Load Balancer any frontend-ip declared and used in a rule can be used as outbound public ip making it difficult to predict what can be your cluster outbound IP addresses when you create and delete Load Balancer Services often.

**Describe the solution you'd like in detail**

A solution would be to create a new an

[2019-07-31 13:40] sylr opened #204 "Implement Sevice Load Balancer for Outbound connections"
**Is your feature request related to a problem?/Why is this needed**

When using a Standard Load Balancer outbound connections made by the cluster will use the SLB as gateway and it will choose any of the ip-frontend linked to rules not having disableOutboundSnat turned on.

In a scenario where you would want to managed the outbound IP address your cluster use you need:

- Create a public IP addre

[2019-08-02 09:35] #177 closed

[2019-08-02 12:04] stevenfollis opened #206 "More granular RBAC permissions needed for documentation"
**Is your feature request related to a problem?/Why is this needed**

Have now worked with 2 enterprise customers that have expressed concerns about requiring a Service Principal with Contributor permissions on a specific Resource Group. This is viewed as too broad of a set of permissions, and they are unsure which endpoints/services are even necessary for integrating Kubernetes within their Azure

[2019-08-06 09:13] gkaleta opened #208 "Broken link: "KEP for Azure availability zones""
**What happened**:
when you click the link it leads to a 404
**What you expected to happen**:

**How to reproduce it**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
- OS (e.g. from /etc/os-release):
- Kernel (e.g. `uname -a`):
- Install tools:
- Others:

[2019-08-06 09:18] feiskyer commented on #208
@gkaleta  Thanks for reporting the issue. Would fix the link

[2019-08-07 07:14] #208 closed

[2019-08-08 12:25] #181 closed

[2019-08-15 16:31] mlushpenko opened #219 "Azure vmss - can't register node from availability zone"
**What happened**: kubelet fails to register node with API server due to reading label wrongly from cloud provider

**What you expected to happen**: I expect proper label to be propagated

**How to reproduce it**: I am creating a custom cluster in rancher. Single node in VM scale set with setting for two availability zones (so it will just randomly get assigned to one zone)

**Anything else we nee

[2019-08-15 16:35] mlushpenko commented on #219
Same problem with `rancher/hyperkube:v1.14.1-rancher1`

[2019-08-15 16:44] mlushpenko commented on #219
Azure provides proper data from metadata:

[code]

[2019-08-15 16:57] mlushpenko commented on #219
Found this [doc](https://github.com/kubernetes/cloud-provider-azure/blob/c17d5d29456d230d240d7802478c92cdb37f99b9/docs/using-availability-zones.md#node-labels), so looks like region is not proagated, that's why `-2` is printed instead of `westeurope-2`

[2019-08-15 17:18] mlushpenko commented on #219
If I remove zones, it works fine:

[code]

Here is my terraform config:
[code]

[2019-08-16 01:23] feiskyer commented on #219
@mlushpenko thanks for reporting the issues. Looks there're some bugs when composing the zone. Could you check whether "location" is configured in your cloud-config file?

[2019-08-16 05:23] feiskyer commented on #219
Found an issue when handling az names, would file a PR to fix this. Meanwhile, configure "location" in cloud-config file would also fix the issue.

[2019-08-16 10:11] mlushpenko commented on #219
Thanks, @feiskyer, it worked. Although I still see these messages in the logs, but it works
[code]

Another setting I had to enable was `vmType=vmss` and more importantly: `useInstanceMetadata =true`

Without using instanceMetadata, controller tried to get node from API as far as I understand and for some stupid reason (or smart reason that I don't understand), Azure doesn't show scaleset VMs unde

[2019-08-16 10:15] feiskyer commented on #219
You need to configure vmType=vmss for both master and nodes (e.g. for kube-controller-manager and kubelet). After that, vmss nodes could be recognized.

[2019-08-16 10:22] mlushpenko commented on #219
So with `vmss` setting which is cluster-level I won't be able to use normal nodes in the cluster anymore, I mean combining both? I didn't think of that as I was expecting that having subscription credentials, cloud-controller will be able to recognise type of VM for each node.

Also, don't see why it worked with normal nodes while instanceMetadata had to be enabled for scalesets.

[2019-08-16 11:51] feiskyer commented on #219
vmtype=vmss supports both VMAS and VMSS nodes, while the default empty vmtype only supports VMAS.

[2019-08-16 11:54] feiskyer commented on #219
I think this is because you didn't configure the vmss vmtype for controller. Change the config and restart kube-controller-manager, then I think those nodes would work.

[2019-08-16 14:22] mlushpenko commented on #219
Thanks for quick answers, shall I close the issue or you will do it after merge is accepted?

[2019-08-17 02:10] #219 closed

[2019-08-19 08:55] feiskyer commented on #204
There's a closed PR for this at https://github.com/kubernetes/kubernetes/pull/72813. per the review comments from the PR:

Actually, aks-engine has already added outbound rules when using Standard LoadBalancer.

@sylr Let me know if you still have questions.

/close

[2019-08-19 09:10] feiskyer commented on #203
This is already supported by cloud-config option `disableOutboundSNAT`.

See 	DisableOutboundSNAT *bool `json:"disableOutboundSNAT,omitempty" yaml:"disableOutboundSNAT,omitempty"`

[2019-08-19 09:11] feiskyer commented on #203
The option is available since v1.11.9, v1.12.7, v1.13.5 and v1.14.0

[2019-08-19 09:11] feiskyer commented on #203
/close

[2019-08-19 09:11] #203 closed

[2019-08-20 07:58] feiskyer commented on #175
Added by https://github.com/kubernetes/test-infra/pull/13483.

[2019-08-20 07:58] #175 closed

[2019-08-21 04:48] nilo19 commented on #102
I'm working on it.

/assign

[2019-08-30 07:03] #102 closed

[2019-09-02 01:49] nilo19 opened #224 "List of skipped E2E cases"
List of skipped cases:

* cloud-provider-azure-serial

1. should unmount
2. When kubelet restarts
3. regular resource usage tracking resource tracking for
4. validates MaxPods limit number of pods that are allowed to run
5. DNS configMap nameserver
6. Checks that the node becomes unreachable
7. Should test that pv written before kubelet restart is readable after restart

* cloud-provider-azure-mul

[2019-09-02 01:58] feiskyer commented on #224
@ritazh Could you help to check whether some of them could be added into aks-engine, so that we could re-enable those tests?

[2019-09-02 01:58] feiskyer commented on #224
/assign @ritazh

[2019-09-02 02:00] feiskyer commented on #206
@stevenfollis Both MSI and SPN are supported. I'm working on the permission docs.

[2019-09-03 05:16] #206 closed

[2019-09-03 12:19] stevenfollis commented on #206
Thanks @feiskyer! Appreciate you capturing this information in a doc.

[2019-09-03 23:17] ritazh commented on #224
/assign @chewong

[2019-09-04 02:41] feiskyer opened #227 "[e2e] Upload control-plane and node component logs to artifacts"
Today, e2e tests with aks-engine won't upload control-plane and node component logs to artifacts, which makes it hard to troubleshoot test failures.

[Here](https://gcsweb.k8s.io/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-slow/1168976485512384512/artifacts/bootstrap-e2e-master/) is an example of logs that we would need.

@ritazh could you help to check whether this is possible?

/assign

[2019-09-04 05:54] ritazh commented on #227
cc @chewong

[2019-09-05 23:06] chewong commented on #224
@ritazh @feiskyer I ran all the tests mentioned above and here is the result:

Job: [ci-cloud-provider-azure-serial](https://github.com/kubernetes/test-infra/blob/master/config/jobs/kubernetes/cloud-provider-azure/cloud-provider-azure-config.yaml#L414-L475)

| **Test / Test Regex**                                                                           | **SIG**    | **Status** | **Error Message

[2019-09-06 03:59] feiskyer commented on #224
@chewong Most of them are because of configuration issues. Could you help to enable those in aks-engine?

[2019-09-06 08:34] feiskyer opened #228 "Benchmark number of Azure requests"
**Is your feature request related to a problem?/Why is this needed**

According to Azure documentation [here](https://docs.microsoft.com/en-us/azure/azure-resource-manager/resource-manager-request-limits), for each Azure subscription and tenant, Resource Manager allows up to **12,000 read requests per hour** and 1,200 write requests per hour.

We need to benchmark how much requests cloud provider

[2019-09-06 20:13] ritazh commented on #228
/assign @kkmsft

[2019-09-08 13:52] feiskyer commented on #180
Not finished yet, move to v1.17

/milestone v1.17

[2019-09-08 13:53] feiskyer commented on #179
Not finished yet, move to v1.17.

/milestone v1.17

[2019-09-08 13:54] feiskyer commented on #178
Not finished yet, move to v1.17.

/milestone v1.17

[2019-09-08 13:54] feiskyer commented on #120
Already done

/close

[2019-09-08 13:54] #120 closed

[2019-09-10 07:24] kkmsft commented on #228
We have latency metrics, but need metrics to count the number of operations we are performing to get the required data for this benchmark runs.

Example:

[code]

Will raise a PR to add them shortly.

[2019-09-10 07:30] feiskyer commented on #228
@kkmsft thanks

[2019-09-11 05:24] feiskyer opened #233 "Build and push cloud-node-manager image"
PR #231 added cloud-node-manager, which would run on each node. Its image should be built and push to MCR same as cloud-controller-manager.

Proposed image is `mcr.microsoft.com/k8s/core/azure-cloud-node-manager:<version-tag>`

[2019-09-16 08:42] feiskyer commented on #233
@jchauncey @ritazh we need to update the Jenkins jobs to support this.

[2019-09-17 06:46] feiskyer opened #235 "Rebase the images to distroless"
Rebase the images to distroless.

Refer https://github.com/kubernetes/enhancements/blob/master/keps/sig-release/20190316-rebase-images-to-distroless.md#status-updates and https://github.com/kubernetes/enhancements/blob/master/keps/sig-release/20190316-rebase-images-to-distroless.md#notifications-to-cloud-providers.

/milestone v1.16

[2019-09-17 12:58] #235 closed

[2019-09-23 17:32] jcrowthe commented on #228
@feiskyer You're already aware of this, but I'm stating this here for the benefit of others.

ARM does in fact have limits of [12,000 read requests per hour and 1,200 write requests per hour.](https://docs.microsoft.com/en-us/azure/azure-resource-manager/resource-manager-request-limits) However this is just the "front door" of Azure's API's. Once you get past this front door layer (which does basi

[2019-09-24 04:01] feiskyer commented on #228
@jcrowthe Thanks for the great information. Since there're more and more large clusters, or multiple clusters running in the same subscription, this work item aims to benchmark the total number of Azure requests, so that some guides could be generated to configure the client-side rate limiting.

[2019-09-30 09:23] #180 closed

[2019-09-30 14:27] thanasisk opened #244 "Stale information contained in cloud-controller-manager.md"
Hi all,
https://github.com/kubernetes/cloud-provider-azure/blob/master/docs/cloud-controller-manager.md
contains stale information, particularly in `Deploy AzureDisk CSI plugin` section
, as the master branch has diverged from the information contained therein (when it comes to rbac files especially).

This will lead to 404s - I am creating a fast PR to resolve this

[2019-10-01 03:25] #244 closed

[2019-10-07 15:03] azizavi commented on #228
@feiskyer and @ritazh - I understand knowing the generic usage of the APIs count so that we can implement/design the respective backoff in the Azure cloud provider. But i think Azure provides options for these API rate-limits to be increased for customers, keeping this in mind should we have the option to make the backoff parameters configurable (default values can be used from this benchmark stud

[2019-10-08 09:01] feiskyer opened #247 "Support large clusters without throttling"
## **Is your feature request related to a problem?/Why is this needed**

From Kubernetes cloud provider side, when kubernetes cluster raises the number of nodes to 500+, throttling issues are observed from ARM and CRP by getting 429 back. What's worse, cluster is unable to recover from the state unless we manually shutdown controller manager. This is happening because of a couple of reasons:

* Az

[2019-10-08 12:14] feiskyer commented on #247
/cc @craiglpeters

[2019-10-08 12:17] feiskyer commented on #233
New images have been pushed to MCR:

mcr.microsoft.com/k8s/core/azure-cloud-controller-manager:v0.3.0
mcr.microsoft.com/k8s/core/azure-cloud-node-manager:v0.3.0

We also need to push those images to GCR, refer

* https://github.com/kubernetes/test-infra/tree/master/config/jobs/image-pushing
* https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!topic/kubernetes-wg-k8s-infra/GYfAlK6

[2019-10-09 20:25] chewong commented on #224
/assign

[2019-10-09 20:28] chewong commented on #227
/assign

[2019-10-10 22:27] chewong commented on #224
Here are the update test results after enabling `enableVMSSNodePublicIP` in aks-engine api-model and deploying Azure Disk and Azure File CSI Drivers to the cluster:

Job: [ci-cloud-provider-azure-serial](https://github.com/kubernetes/test-infra/blob/master/config/jobs/kubernetes/cloud-provider-azure/cloud-provider-azure-config.yaml#L414-L475)

| **Test Regex**

[2019-10-10 23:38] ritazh commented on #224
This is a great start! These should help with `Network should set TCP CLOSE_WAIT timeout` and `Mount propagation should propagate mounts to the host`.

[2019-10-15 06:01] pawelpabich commented on #247
We've also suffered from this problem when we had 9+ small clusters with autoscaler. Each cluster had no more than 5 VMs.

[2019-10-23 08:05] feiskyer opened #249 "Limit --concurrent-service-syncs to 1"
**What happened**:

Refer https://github.com/kubernetes/kubernetes/issues/84052#issuecomment-545215481.

After looking at logs provided by @MSSedusch, I think the root cause of the bug is the concurrent-service-syncs flag in your cloud-controller-manager. According to your log, it was set to 10, which means if there were multiple service-related changes queued up for reconciliation, they were proc

[2019-10-23 08:21] feiskyer commented on #179
/assign @nilo19

[2019-10-23 08:21] feiskyer commented on #178
/assign @nilo19

[2019-10-23 19:17] chewong commented on #224
I can start enabling these tests after https://github.com/Azure/aks-engine/pull/2166 is included in the latest aks-engine release.

[2019-10-23 23:21] chewong commented on #224
@feiskyer do you also need help enabling some skipped tests for [`pull-cloud-provider-azure-e2e`](https://github.com/kubernetes/test-infra/blob/master/config/jobs/kubernetes/cloud-provider-azure/cloud-provider-azure-config.yaml#L98) job?

[2019-10-24 01:45] #227 closed

[2019-10-24 01:54] sylus commented on #247
Since we are also getting this issue also in AKS Engine we documented the whole issue, base replication case, current environment, and attempts tried over at:

https://github.com/Azure/aks-engine/issues/1860#issuecomment-545695647

**Kubernetes Version**: v1.15.5 (1 master, 4 nodes)
**AKS Engine**: v0.42.2
**Kernel Version**: 5.0.0-1023-azure
**OS Image**: Ubuntu 18.04.3 LTS

[2019-10-25 22:16] devigned commented on #247
Looks like since `v12.2.0` (https://github.com/Azure/go-autorest/blob/740293c019d8314ce3378d456b4327fa646297e6/CHANGELOG.md#bug-fixes-5) go-autorest has respected Retry-After headers via `autorest.DelayWithRetryAfter`. Might just be able to update the go.mod in cloud provider azure. It's currently at `v0.9.0` for autorest.

[2019-10-28 15:19] #179 closed

[2019-10-29 00:55] feiskyer commented on #178
Added by #253.

[2019-10-29 00:55] #178 closed

[2019-10-29 10:42] sylr commented on #201
/remove-lifecycle stale

[2019-10-29 14:25] #202 closed

[2019-10-30 13:39] feiskyer opened #255 "Build cloud-node-manager image for Windows nodes"
**Is your feature request related to a problem? Please describe.**

As a POC, we only builds cloud-node-manager for Linux today. We also need to build the images for Windows nodes and provide the daemonset examples for Windows nodes.

[2019-10-30 20:09] aramase commented on #247
In an effort to reduce the # of calls that are made in an idle cluster, we have merged https://github.com/kubernetes/kubernetes/pull/83685.

### What this PR changes?

 This PR introduces 2 types of read types for data in cache -

Default read type - If the data in cache is expired, then the new data is fetched from cloud, stored in cache and returned to caller.
Unsafe read type - If the data exis

[2019-11-02 10:02] feiskyer commented on #183
/remove-lifecycle rotten

[2019-11-02 10:02] feiskyer commented on #183
https://github.com/kubernetes/test-infra/pull/15067 is adding the tests for it.

[2019-11-04 02:02] #182 closed

[2019-11-08 23:45] JunSun17 opened #258 "Prevent storage account secret deletion when there are still PVs refer storage entities"
**Is your feature request related to a problem?/Why is this needed**
We see a case that customer provisioned a PV using AzureFile, and the storage account secret is deleted before the PV is being deleted. In this case, PV will report an error when delete:

Failed to create deleter for volume xyz: Couldn't get secret ns/abc

The workaround is to comment out the finalizers in PV, then deletion goes

[2019-11-12 01:43] feiskyer commented on #258
/assign @andyzhangx

[2019-11-14 11:53] tdihp commented on #247
Is action 2 (Switching to LIST instead of GET for VMSS, VMSSVM and VM) applicable for VMAS implementation of cluster-autoscaler?

[2019-11-14 22:33] jadarsie opened #259 "Support "dynamic" environments"
**Is your feature request related to a problem?**

Azure and Azure Stack clouds expose the _same_ set of APIs that the cloud provider consumes. For public and government clouds, go-autorest defines a set of cloud `Environment` instances (one per cloud). Each of this is basically a list of endpoints required by the azure-sdk-for-go.

With Azure Stack, enterprises are required to use their own domai

[2019-11-15 06:04] feiskyer commented on #259
/kind feature
/area provider/azure

[2019-11-15 06:27] feiskyer commented on #247
@tdihp we're planning to do that, but it's added yet in cluster-autoscaler.

[2019-11-16 16:17] feiskyer commented on #259
@jadarsie would you like to create a PR and add this feature?

[2019-11-17 16:21] feiskyer commented on #124
Status update:

* https://github.com/kubernetes/enhancements/pull/1284 is working on the KEP for Credential Provider Extraction
* https://github.com/kubernetes/enhancements/pull/1158 has been integrated with aks-engine for v1.16+ cluster

[2019-11-18 17:08] jadarsie commented on #259
Yep, will do.

[2019-11-18 17:25] feiskyer commented on #259
@jadarsie thanks

[2019-11-21 18:56] vpatelsj commented on #259
Dynamic endpoints will also help setting up non-public clouds as well as setting up test infrastructure for mocking azure apis for auto-remediation components that work with arm api's directly.

[2019-11-25 17:03] #259 closed

[2019-11-29 16:53] chewong opened #260 "Autoscaling feature stopped working after cloud-node-manager is deployed"
**What happened**:
See https://testgrid.k8s.io/provider-azure-master#cloud-provider-azure-autoscaling.
Potentially affected by https://github.com/Azure/aks-engine/pull/2138.

**What you expected to happen**:

**How to reproduce it**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
- OS (e.g. from /etc/os-release):
- Kernel (e.g. `uname -a`):
- I

[2019-11-30 14:20] nilo19 commented on #247
/cc

[2019-12-01 02:21] #260 closed

[2019-12-02 22:10] jcrowthe commented on #247
Does https://github.com/kubernetes/autoscaler/pull/2527 address the usage of LIST instead of GET in the cluster-autoscaler?

[2019-12-03 06:08] andyzhangx opened #263 "azure cloud-controller-manager build failure"
**What happened**:
Need to fix this build failure:

[code]

**What you expected to happen**:

**How to reproduce it**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
- OS (e.g. from /etc/os-release):
- Kernel (e.g. `uname -a`):
- Install tools:
- Others:

[2019-12-03 06:10] andyzhangx commented on #258
this is a new KEP for k8s secret finalizer, not related to azure cloud provider

[2019-12-04 01:39] chewong opened #264 "cloud-provider-azure-vmss-slow and cloud-provider-azure-multiple-zones are flaky"
See https://testgrid.k8s.io/provider-azure-master#cloud-provider-azure-slow-vmss and https://testgrid.k8s.io/provider-azure-master#ci-cloud-provider-azure-multiple-zones.

/assign

**What happened**:

**What you expected to happen**:

**How to reproduce it**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
- OS (e.g. from /etc/os-release):
- Ker

[2019-12-04 01:43] ritazh opened #265 "Fix flaky tests"
**What happened**:
These jobs frequently fail.
- provider-azure-master#ci-cloud-provider-azure-multiple-zones
-  provider-azure-master#cloud-provider-azure-slow-vmss

**What you expected to happen**:

**How to reproduce it**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
- OS (e.g. from /etc/os-release):
- Kernel (e.g. `uname -a`):
- Install t

[2019-12-04 01:44] #265 closed

[2019-12-05 02:15] feiskyer commented on #264
/area provider/azure
/kind failing-test

[2019-12-05 02:16] feiskyer commented on #263
/area provider/azure
/kind bug

[2019-12-05 02:16] andyliuliming opened #267 "we should support sharing one public ip address by multiple services."
**Is your feature request related to a problem? Please describe.**

Cloud provider doesn't support sharing same Public IP for different services because of the following reasons:

* Cloud provider would create different Frontend IP configurations for different services
* Azure LoadBalancer doesn't support referring the same Public IPs on different Frontend IP configurations

**Describe the solutio

[2019-12-05 02:17] feiskyer commented on #267
/area provider/azure
/kind feature
/assign andyliuliming

[2019-12-05 02:17] andyliuliming commented on #267
/assign feiskyer

[2019-12-05 02:18] andyliuliming commented on #267
/assign andyliuliming

[2019-12-07 15:01] #263 closed

[2019-12-09 06:54] feiskyer commented on #265
@ritazh @chewong this is still not fixed yet, right?

[2019-12-09 16:49] chewong commented on #265
No, it's not fixed yet. Looks like it's a duplicate of https://github.com/kubernetes-sigs/cloud-provider-azure/issues/264.

[2019-12-17 02:15] feiskyer commented on #247
/milestone v1.18

[2019-12-17 05:13] nilo19 commented on #247
yeah I think so.

[2019-12-17 06:21] feiskyer opened #271 "Add liveness probe in example manifests"
**What happened**:

Ported from #222. Let's add the example of liveness and health probes in example manifests.

**What you expected to happen**:

**How to reproduce it**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
- OS (e.g. from /etc/os-release):
- Kernel (e.g. `uname -a`):
- Install tools:
- Others:

[2019-12-25 02:10] feiskyer opened #273 "cloud-node-manager failed to update node addresses"
**What happened**:

cloud-node-manager failed to update node addresses because of following error:

[code]

This is because cloud-node-manger is trying to update addresses for all nodes:

https://github.com/kubernetes-sigs/cloud-provider-azure/blob/4ea58667d1785f1cb6318c73db4e77d145e981f6/pkg/nodemanager/nodemanager.go#L127-L137

Since no Azure credential would be provided, cloud-node-manger shoul

[2019-12-25 02:10] feiskyer commented on #273
/assign

[2019-12-26 01:25] #273 closed

[2020-01-06 22:17] chewong commented on #224
With Azure Disk CSI Driver v0.5.0 released, I will open a PR in aks-engine to upgrade the CSI driver version so we can start enabling most of the skipped tests in ci-cloud-provider-azure-multiple-zones.

[2020-01-07 06:53] feiskyer commented on #224
@chewong thanks a lot for the work

[2020-01-09 12:00] feiskyer commented on #233
already done

/close

[2020-01-09 12:00] #233 closed

[2020-01-09 12:00] feiskyer commented on #228
/remove-lifecycle stale

[2020-01-09 18:10] CecileRobertMichon opened #281 "Add support for security group in a separate resource group"
Currently, having a network security group in a different RG as the cluster VMs/Load Balancers (ie. in the same RG as the vnet) results in: `Error syncing load balancer: failed to ensure load balancer: nsg "control-plane-nsg" not found` when trying to expose a service. https://github.com/kubernetes-sigs/cloud-provider-azure/blob/master/docs/cloud-provider-config.md#cluster-config has a `vnetResour

[2020-01-09 18:10] CecileRobertMichon commented on #281
/assign

[2020-01-09 19:35] aramase commented on #271
/assign

[2020-01-09 20:23] justaugustus commented on #281
ref: https://github.com/kubernetes/kubernetes/pull/87035, https://github.com/kubernetes-sigs/cluster-api-provider-azure/issues/356

[2020-01-15 01:21] #281 closed

[2020-01-22 00:47] chewong commented on #224
https://github.com/kubernetes/test-infra/pull/15981 should re-enable most of the tests described above with aks-engine v0.46.0.

On a separate note, I have compiled a list of skipped tests for all Azure-related presubmit & periodics jobs and noticed that we are skipping a lot of unnecessary test cases because either 1) they started passing again or 2) they are already being skipped (with `--ginkgo

[2020-01-22 21:14] craiglpeters commented on #124
https://github.com/kubernetes/enhancements/pull/1406 is the new KEP for Credential Provider Extraction

[2020-01-23 05:59] feiskyer commented on #247
## Status update:  validation results on Kubernetes v1.18

**Validation scenario: scaling one VMSS up and down between 1 node and 100 nodes.**

**Without the fix (v1.18.0-alpha.1):**

- HighCostGetVMScaleSet3Min: allowedRequestCount 180 and measuredRequestCount 1044
- HighCostGetVMScaleSet30Min: allowedRequestCount 900 and measuredRequestCount 6404
- it's hard to recover because of retries in kube

[2020-01-23 17:11] chewong commented on #224
Most of the skipped tests are now enabled (see https://github.com/kubernetes-sigs/cloud-provider-azure/issues/224#issuecomment-540825123). Let's close this issue for now.
/close

[2020-01-23 17:11] #224 closed

[2020-01-28 16:39] julienstroheker opened #287 "processHTTPRetryResponse Panic when deploying ILB with missing permissions"
**What happened**:

When deploying ILB with wrong cloud provider permissions looks like cloud provider is panicing :

[code]

**What you expected to happen**:

Cloud provider should not panic

**How to reproduce it**:

Creating ILB as following with missing permissions such as `Microsoft.Network/networkSecurityGroups/join/action`

ILB Test template used

[code]

Error :
[code]

**Anything else we

[2020-01-29 02:47] feiskyer commented on #255
/remove-lifecycle stale

[2020-01-29 02:55] feiskyer commented on #287
@julienstroheker Thanks for reporting the issue. It has been fixed by https://github.com/kubernetes/kubernetes/pull/68210 and have been included in v1.12.0 and above versions. Have you tried the same things on v1.12+ clusters?

[2020-01-29 03:34] julienstroheker commented on #287
@feiskyer Thanks for your answer !

Good to know, I'll check, but ARO is running openshift 3.11 with mean k8s v1.11 + some cherry-pick.

Closing the issue then.

Thanks

[2020-01-29 03:34] #287 closed

[2020-02-03 02:03] feiskyer commented on #183
/remove-lifecycle stale

[2020-02-05 01:20] craiglpeters commented on #201
@sylr is the way to get the metrics resolved for you? Can we close this issue?

[2020-02-05 01:22] andyzhangx commented on #183
/assign @chewong

[2020-02-05 01:24] chewong commented on #183
[ci-kubernetes-kubemark-100-azure](https://testgrid.k8s.io/provider-azure-cloud-provider-azure#ci-kubernetes-kubemark-100-azure) is failing for a long time without any fix. I will look into this.

[2020-02-05 01:26] chewong commented on #264
[cloud-provider-azure-multiple-zones](https://testgrid.k8s.io/provider-azure-cloud-provider-azure#cloud-provider-azure-multiple-zones) and [cloud-provider-azure-slow-vmss](https://testgrid.k8s.io/provider-azure-cloud-provider-azure#cloud-provider-azure-slow-vmss) are less flaky than before after various test-infra changes. Let's close this issue for now.

/close

[2020-02-05 01:26] #264 closed

[2020-02-05 01:27] feiskyer commented on #183
@nilo19 is also looking at the it

[2020-02-05 01:34] chewong commented on #183
/assign @nilo19

[2020-02-05 01:34] nilo19 commented on #183
/assign

[2020-02-05 09:37] sylr commented on #201
I'm not sure to understand.

This issue will stand as long as there are no metrics exposed about throttled or backed off cloud provider API requests.

[2020-02-05 11:23] feiskyer commented on #201
This is already supporte, see https://github.com/kubernetes/legacy-cloud-providers/blob/b0dccdf763a22dea0844dd23a1c9b4041b975d1c/azure/metrics/azure_metrics.go#L85-L114

[2020-02-05 12:21] sylr commented on #201
Very well then! I'm closing this.

Thanks @feiskyer .

[2020-02-05 12:21] #201 closed

[2020-02-05 17:51] ritazh opened #289 "Implement External Credential Provider"
**Is your feature request related to a problem? Please describe.**

Implement External Credential Provider in KEP https://github.com/kubernetes/enhancements/pull/1406

**Describe the solution you'd like in detail**

**Describe alternatives you've considered**

**Additional context**

[2020-02-11 05:26] nilo19 commented on #183
https://github.com/nilo19/kubemark-performance-tests-on-azure

I've conducted the performance tests in my local environment. Need some time to figure out how it could  be migrated to test-infra because there're many manual hacks.

[2020-02-11 12:51] feiskyer opened #295 "Mixed protocols doesn't work on Azure"
Annotation `service.beta.kubernetes.io/azure-load-balancer-mixed-protocols: "true"` is added to support mixed protocols on Azure. With the annotation set on LoadBalancer services, the LoadBalancer rules are indeed created on Azure LoadBalancer. But iptables rules are only created for the protocol set from service spec (only TCP or UDP iptables rules on each node). Hence, the annotation doesn't act

[2020-02-24 12:14] feiskyer opened #302 "Deprecate service annotation service.beta.kubernetes.io/azure-load-balancer-disable-tcp-reset"
**What happened**:

Annotation `annotation service.beta.kubernetes.io/azure-load-balancer-disable-tcp-reset` is added to disable tcp-reset for SLB loadbalancer rules. However, tcpreset should actually always be enabled, in order to avoid dropping packets silently.

See https://docs.microsoft.com/en-us/azure/load-balancer/load-balancer-tcp-reset for more details about SLB TCP Reset.

**What you exp

[2020-02-25 01:08] feiskyer commented on #302
Keep open until the annotation is removed.

/reopen

[2020-03-06 06:40] feiskyer opened #310 "Improve unit test coverage with mock clients"
Since we have already switched to our own Azure clients with mocks, we should use mock clients to improve our unit test coverage.

/milestone v1.19

[2020-03-06 06:41] feiskyer commented on #247
Since code freeze has been started in kubernetes, the unit tests part would be moved to v1.19 (tracking by #310).

[2020-03-06 06:43] feiskyer commented on #247
most items have been done and the remaining tests (including e2e and unit tests) have been tracked by different issues.

/close

[2020-03-06 06:43] #247 closed

[2020-03-06 06:50] feiskyer commented on #183
Status update: SSH is widely used in kubemark tests, while 22 port is disabled by security policies. Since aks-engine doesn't support customizing SSH port for master nodes, the next step is figuring out how to change 22 to a different port now.

[2020-03-06 17:31] chewong commented on #183
@feiskyer once the test is running in the CNCF upstream subscription, such policy doesn't exist anymore and port 22 should be available. For example, SSH is used in https://testgrid.k8s.io/provider-azure-cloud-provider-azure#cloud-provider-azure-serial with SSH keypair defined [here](https://github.com/kubernetes/test-infra/blob/1a48e1bdde5a8a9c9027a92337463e262334000b/config/jobs/kubernetes-sigs/

[2020-03-07 01:02] nilo19 commented on #183
That would be so nice.

[2020-03-15 02:40] feiskyer commented on #267
/remove-lifecycle stale

[2020-03-17 01:10] aramase opened #314 "Kubectl azure auth module in external credential provider"
As upstream community (sig-auth) is discussing to remove all the auth modules except oidc and exec in kubectl _eventually_, the ask is to migrate the [azure auth module](https://github.com/kubernetes/kubernetes/tree/master/staging/src/k8s.io/client-go/plugin/pkg/client/auth/azure) to [KEP: External credential provider](https://github.com/kubernetes/enhancements/blob/master/keps/sig-auth/20190711-e

[2020-03-17 01:44] feiskyer opened #315 "Cloud provider Azure for kubernetes v1.18"
Meta issues to track kubernetes v1.18 work items.

- [x] Cut the version for v1.18
- [x] Build the release images including Windows images
- [x] Update release notes
- [x] Add out-of-tree cloud provider Azure in aks-engine
  - [x] cloud-controller-manager image and manifests update, which includes images update and Windows daemonset
- [ ] cluster-api-provider-azure support? (not a blocker)

[2020-03-25 18:52] weinong commented on #314
implemented in https://github.com/Azure/kubelogin

[2020-03-26 23:39] CecileRobertMichon commented on #315
@feiskyer we have https://github.com/kubernetes-sigs/cluster-api-provider-azure/issues/456 tracking adding support in capz, might need your help/guidance for it.

Is out-of-tree provider required with 1.18?

[2020-03-27 21:20] jackfrancis opened #326 "Add test coverage for scenarios on multiple node pool clusters"
Let's add a cluster configuration that includes multiple node pools, so that various cloudprovider functional tests can be validated at scale on the node pool vector.

Specifically, LoadBalancer reconciliation is sensitive to the number of VMSS in the cluster. We want to make sure that as this code evolves, it behaves well on clusters with single node pools and multiple node pools.

[2020-03-28 02:29] feiskyer commented on #315
@CecileRobertMichon no, it is not required.  out-of-tree provider is still alpha with 1.18.

[2020-04-02 01:45] nilo19 commented on #183
The test has been enabled https://testgrid.k8s.io/provider-azure-scalability#ci-kubernetes-kubemark-100-azure-test. Shall we close this?

[2020-04-02 01:47] nilo19 commented on #310
/assign
I'm working on it in cloud provider and cluster autoscaler provider azure.

[2020-04-03 11:25] feiskyer commented on #183
thanks @nilo19 for enabling it.

/close

[2020-04-03 11:25] #183 closed

[2020-04-08 19:51] aramase commented on #271
/remove lifecycle-stale

[2020-04-08 19:52] aramase commented on #271
/remove-lifecycle stale

[2020-04-13 23:13] sozercan commented on #255
/close

[2020-04-14 00:24] ritazh commented on #255
/close

[2020-04-14 00:24] #255 closed

[2020-04-17 18:02] chewong opened #331 "Labels of master node aren't set correctly by cloud-node-manager after upgrading"
**What happened**:

**What you expected to happen**:

**How to reproduce it**:
https://github.com/Azure/aks-engine/issues/3090

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
- OS (e.g. from /etc/os-release):
- Kernel (e.g. `uname -a`):
- Install tools:
- Others:

[2020-04-19 02:54] feiskyer commented on #331
The node initialize is only triggered on node register phase. Master node need to unregister and register again to get these labels updated.

[2020-04-23 01:18] feiskyer commented on #315
Already done in aks-engine.

[2020-04-23 01:18] #315 closed

[2020-05-01 08:36] #258 closed

[2020-05-05 01:00] craiglpeters commented on #124
/milestone clear
/milestone v1.19

[2020-05-05 01:01] craiglpeters commented on #124
/milestone v1.19

[2020-05-14 07:44] lhaussknecht opened #334 "Add support for server-side encryption"
**Is your feature request related to a problem? Please describe.**
We need to use our own Azure KeyVault and encrypt disks with it. Therefore all our disks are part of an disk-encryption-set.
Unfortunately when using the dynamic disk provisioner, the disks are not encrypted. Detaching an disk to then add it to the disk-encryption-set is not an easy task and involves downtimes.

**Describe the solu

[2020-05-14 07:48] m-soltani commented on #334
We have the same issue in our organization and we want to be able to have dynamic disk provisioner use the disk-encryption-set feature.

[2020-05-15 13:06] feiskyer commented on #334
does the following storageclass example work for you (note this is only supported since v1.17)?

[code]

[2020-05-15 14:42] m-soltani commented on #334
cool! This is actually what i was looking for, but as we are currently using v1.16, this was not clear to us. We will give this a try. Thanks

[2020-05-19 01:03] ritazh commented on #289
/remove-lifecycle stale

[2020-06-02 22:03] carlwoodhouse opened #337 "when azure-allowed-service-tags is set, an inbound internet rule is still created on public load balancer"
**What happened**:
i set service.beta.kubernetes.io/azure-allowed-service-tags to AzureFrontDoor.BackEnd; this correctly sets an inbound rule in the nsg to my service for the service tag; however it also creates a rule for 0.0.0.0/0 Presumably this is because `loadBalancerSourceRanges` isnt set (which i thought was the point of the annotation ..)

**What you expected to happen**:
Just inbound rule

[2020-06-04 17:54] CecileRobertMichon opened #338 "Allow clusters with different infrastructure "vmType" node pools"
**Is your feature request related to a problem? Please describe.**

It is very limiting to only be able to have nodes of one infrastructure type (vmas or vmss) per cluster. Some projects such as [CAPZ](https://github.com/kubernetes-sigs/cluster-api-provider-azure) allow adding and removing node pools and support both vmas and vmss (and maybe even [orchestration modes](https://docs.microsoft.com/en

[2020-06-04 17:55] CecileRobertMichon commented on #338
cc @devigned @rbitia @feiskyer @andyzhangx

[2020-06-05 04:42] feiskyer commented on #338
setting VMType to "vmss" would support both VMSS and VMAS nodes.

[2020-06-05 11:25] andyzhangx commented on #334
data disk encryption is only supported from v1.17.0

[2020-06-05 11:25] #334 closed

[2020-06-05 17:05] CecileRobertMichon commented on #338
@feiskyer why do we need `vmType` then? if "vmss" supports both, can't we remove that field and _always_ support both? why would you ever want to set it to "vmas"?

[2020-06-09 02:48] feiskyer commented on #338
@CecileRobertMichon it is for ensuring new features won't break old clusters. New features on VMSS should not break VMAS nodes.

[2020-06-09 15:14] CecileRobertMichon commented on #338
Understood thanks for the explanation @feiskyer! So do you recommend using vmType `vmss` for all new clusters?

[2020-06-10 00:40] feiskyer commented on #338
it depends. If there're only VMAS nodes in the cluster, vmType shouldn't be vmss if basic LB is used.

[2020-06-11 02:24] feiskyer commented on #338
@CecileRobertMichon right.

[2020-06-11 15:37] CecileRobertMichon commented on #338
/close

[2020-06-12 22:27] boundingboxes commented on #337
+1, seemingly impacts at least 1.16.8 too.

Any work around would be appreciated?

[2020-06-16 04:37] feiskyer opened #342 "Update GO modules for cloud provider controllers"
**What happened**:

Since PR https://github.com/kubernetes/kubernetes/pull/90976, the cloud provider controllers are moved to `k8s.io/cloud-provider`. Hence, we should update Go modules with these new packages and hopefully simplify Go modules updating in out-of-tree cloud provider.

**What you expected to happen**:

Update GO modules for cloud provider controllers

**How to reproduce it**:

**Any

[2020-06-16 04:38] feiskyer commented on #342
/assign

[2020-06-16 16:56] jsturtevant commented on #338
After this update was made to cluster api I am seeing the following in my logs for the control Manager:

[code]

@feiskyer is this something that is a concern?

[2020-06-27 13:06] feiskyer opened #344 "Add support for InstancesV2 interface"
Refer PR:

* https://github.com/kubernetes/kubernetes/pull/92367 (merged)
* https://github.com/kubernetes/kubernetes/pull/91319 (merged)

After these PR gets merged, we could add InstancesV2 support for Cloud Provider Azure. The codes should be implemented in k/k and vendor into cloud-provider-azure repo.

[2020-06-29 03:02] feiskyer commented on #310
done for cloud provider azure. Unit tests coverage has been improved to 86%

[2020-06-29 03:02] #310 closed

[2020-06-29 03:03] feiskyer commented on #337
thanks for reporting, this is caused by a bug from cloud provider. @nilo19 would work on a fix

before that, could you add add an IP to `loadBalancerSourceRanges` as short term mitigation?

[2020-06-29 03:03] feiskyer commented on #337
/kind bug
/assign @nilo19

[2020-06-29 08:40] carlwoodhouse commented on #337
can confirm this is the workaround i am using too; it does work though clearly not ideal.

[2020-06-30 07:03] #337 closed

[2020-07-06 20:59] CecileRobertMichon commented on #338
/reopen

@feiskyer any ideas on the above error that James posted?

[2020-07-07 04:41] feiskyer commented on #338
@CecileRobertMichon could you set log to --v=3 and check what logs may be related with error?

[2020-07-07 05:02] feiskyer commented on #342
should still wait a while for https://github.com/kubernetes/kubernetes/pull/91218.

[2020-07-13 01:54] feiskyer commented on #344
/assign @nilo19

[2020-07-13 01:55] feiskyer commented on #314
Already been supported in https://github.com/Azure/kubelogin.

/close

[2020-07-13 01:55] #314 closed

[2020-07-15 03:13] nilo19 commented on #342
fixed by #348

[2020-07-15 07:47] #342 closed

[2020-07-20 02:21] nilo19 opened #352 "Decouple cloud-provider-azure from k/k"
**Is your feature request related to a problem?/Why is this needed**

**Describe the solution you'd like in detail**

- [x] Decouple k/k/cmd/controller-manager, [ref]( https://github.com/kubernetes/kubernetes/pull/91014).
- [x] Decouple other minor dependencies to k/k, ([PR](https://github.com/kubernetes-sigs/cloud-provider-azure/pull/350)).
- [x] Duplicate the cloud provider code in k/k to this r

[2020-07-20 03:41] feiskyer commented on #352
/assign @nilo19

[2020-07-20 19:58] alexeldeib commented on #338
I tried with `--v=3` and created a cluster with VMAS control plane and workers. I didn't get a more verbose error than @jsturtevant, upping the verbosity further and will report back.

I did validate that this configuration works fine with LB services, so I'm not sure if there's any real functional impact. @jsturtevant did you see any functional failures besides the errors in the logs?

[2020-07-20 21:49] alexeldeib commented on #338
Looks like we hit https://github.com/kubernetes/kubernetes/blob/5a529aa3a0dd3a050c5302329681e871ef6c162e/staging/src/k8s.io/cloud-provider/controllers/nodelifecycle/node_lifecycle_controller.go#L180-L183

Because this code doesn't get triggered: https://github.com/kubernetes/legacy-cloud-providers/blob/1f0c70db5b78070858ece1ef4d00513917e0a5e0/azure/azure_vmss.go#L192-L200

So we hit: https://githu

[2020-07-21 01:30] alexeldeib commented on #338
With Standard LB we need neither `primaryScaleSetName` nor `primaryAvailabilitySetName` if i'm reading the code correctly? Seems this will only be required for Basic LB (which we don't have in CAPZ)

https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/legacy-cloud-providers/azure/azure_loadbalancer.go#L299
https://github.com/kubernetes/kubernetes/blob/5a529aa3a0dd3a050c53023296

[2020-07-21 02:37] feiskyer commented on #338
Could you make all VMs be part of either VMAS or VMSS in capz?

That's right. All VMs would be added to SLB backend pool.

[2020-07-21 03:09] alexeldeib commented on #338
Thanks for the quick reply. We have an open issue to use availability sets when AZ aren't available.

I think I've figured out most of the rest, a couple more Qs if you dont mind:

resourceGroup <-> vnetResourceGroup:  these can be different if the compute resources live in one resourceGroup, but the vnet lives in another? usually they would be the same

resourceGroup <-> loadBalancerResourceGroup

[2020-07-21 03:18] feiskyer commented on #338
yea, all the above RG could be different.

[2020-07-21 04:05] alexeldeib commented on #338
any comment on the last bit (subnet)? i'm curious how cloud provider uses this with multiple agent pools if they are in different subnets?

[2020-07-21 04:08] alexeldeib commented on #338
seems like it's used for ILB only: https://github.com/kubernetes/kubernetes/blob/1fdd8fb213e0361e8f18b1dd152dddb4c88ad183/staging/src/k8s.io/legacy-cloud-providers/azure/azure_loadbalancer.go#L782

also this can probably be closed, i'm just abusing the issue to clarify the other fields we need 🙂

/close

[2020-07-21 04:09] #338 closed

[2020-08-03 16:35] jsturtevant opened #363 "If nodes are are not in a ready state when the controller manager boots, the cache is stale causing 15 min delay of LB deployment"
**What happened**:
When adding functionality to the e2e tests in https://github.com/kubernetes-sigs/cluster-api-provider-azure/issues/857 for CAPZ, I found the e2e tests would fail if run against a single control plane node cluster.  This would occasionally happen when running multi-node control plane clusters as well.  This was initially reported with some of the message in #338

What happens is

[2020-08-03 17:20] alexeldeib commented on #363
Possibly related to cache read mode? https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/legacy-cloud-providers/azure/azure_vmss.go#L1196 possibly should be `CacheReadTypeUnsafe` or `CacheReadTypeForceRefresh`? Still digging a bit.

[2020-08-03 17:47] aramase commented on #363
- `CacheReadTypeDefault` reads from the cache if TTL not expired. In case of a cache miss, it'll fetch the contents and populate the cache. For VMSS, if VM instance is not found in the cache, then the cache is force refreshed but I think for AS it seems to be slightly different. We should probably align the logic, so it's same for VMSSVM instance or AS.
- `CacheReadTypeUnsafe` means even if the ca

[2020-08-03 19:31] jsturtevant commented on #363
For AS I believe it is because the nodes are stored in the cache as a set.  The set is cached and so the request for a single instance doesn't count as a cache miss and doesn't refresh:

https://github.com/kubernetes/kubernetes/blob/ec560b9737537be8c688776461bc700e8ddedb9d/staging/src/k8s.io/legacy-cloud-providers/azure/azure_vmss_cache.go#L307

[2020-08-06 17:39] julienym opened #365 "Azure Tags should be fowarded downstream"
Actually the cloud provider doesn't have a list of tags that can be set on ressources created by it. (LB, disk, storage account)

Most other K8s cloud provider offer this.

Thanks

[2020-08-07 00:16] andyzhangx commented on #365
@julienym we already added tags support for disk, file drivers, is that what your want?
https://github.com/kubernetes/kubernetes/pull/92825
https://github.com/kubernetes/kubernetes/pull/92356

Also could you list the offering link of other K8s cloud provider? thanks.

[2020-08-07 12:58] julienym commented on #365
Thanks, if I'm wrong, this is available for k8s 1.19+ only ?

For the other cloud provider, one example is AWS LB: https://kubernetes.io/docs/concepts/cluster-administration/cloud-providers/#load-balancers

I mainly need to storage so your links help, thanks!

[2020-08-07 12:58] #365 closed

[2020-08-07 13:05] andyzhangx commented on #365
@julienym tags are supported in 1.19 for the in-tree drivers, and also supported on latest version for Azure File & Disk CSI drivers:
https://github.com/kubernetes-sigs/azurefile-csi-driver/blob/master/docs/driver-parameters.md

[2020-08-14 07:40] feiskyer opened #374 "Support deny internal IPs for LoadBalancer services"
**Is your feature request related to a problem? Please describe.**

When set the loadBalancerSourceRanges field on the service in order to whitelist ip src addresses, although the generated NSG has added the rules for loadBalancerSourceRanges, the default rule (65000) will allow any vnet traffic, basically meaning the whitelist is of no use.

**Describe the solution you'd like in detail**

Add a n

[2020-08-16 06:55] cpanato commented on #271
This is still needed? Can I work on that?

[2020-08-16 06:59] cpanato commented on #302
Can I work on this when we open the branch for 1.20?

[2020-08-16 12:08] feiskyer commented on #302
@cpanato thanks.the annotation should be removed per the todo https://github.com/kubernetes/kubernetes/blob/9fb34eddedca31c9e36b0adfeda6219a0efa6cb4/staging/src/k8s.io/legacy-cloud-providers/azure/azure_loadbalancer.go#L98.

/assign @cpanato

[2020-08-16 12:09] feiskyer commented on #271
@cpanato yep, of course

/unassign @aramase
/assign @cpanato

[2020-08-24 23:42] #326 closed

[2020-08-25 01:06] craiglpeters commented on #124
/milestone clear

[2020-08-25 01:06] craiglpeters commented on #124
/milestone v1.20

[2020-08-25 01:22] craiglpeters commented on #267
/milestone v1.20

[2020-08-25 02:45] feiskyer commented on #374
/kind feature
/milestone v1.20

[2020-08-25 02:46] feiskyer commented on #302
/milestone v1.20

[2020-08-25 02:50] feiskyer opened #380 "Support multiple Standard LoadBalancer in the same cluster"
**Is your feature request related to a problem? Please describe.**

Support multiple Standard LoadBalancer in the same cluster, which would allow us to

* Select different SLB for different node pools
* Support more LoadBalancer services (there is maximum request size of 4 MB limit from ARM)
* Setup different outbound IPs on different SLB

**Describe the solution you'd like in detail**

Allow diff

[2020-08-28 06:31] MarcPow commented on #302
Apologies, @cpanato.  I didn't realize you'd specifically requested this one until I was preparing to post the PR.  My bad - I didn't mean to poach. 😧  [Note: I left references to the annotation in to produce a warning, but the maintainers may want a more complete removal.  If so, I'm happy to step back and leave it to you. 😄]

[2020-08-28 06:59] cpanato commented on #302
@MarcPow  not a problem, you can continue on that

[2020-08-28 07:00] cpanato commented on #302
/unassign
/assign @MarcPow

[2020-08-29 13:00] cpanato commented on #271
/remove-help

[2020-09-01 08:42] aroramanish080282 opened #384 "VMSS Instances are not getting added as part of the backendaddresspool"
Question:
This setup is a self-managed/hosted K8s and CCM changes for Azure vendor support. Existing/New VMSS Instances are not getting added automatically as part of the Kubernetes_internal backendaddresspools.

Setup: VMSS + Kubernetes(Microk8s) + CCM Changes

Problem:

Warning   SyncLoadBalancerFailed    service/nginx-svc    Error syncing load balancer: failed to ensure load balancer: ensure(de

[2020-09-07 05:17] #302 closed

[2020-09-07 07:03] feiskyer commented on #384
@aroramanish080282 I'm not familiar with Microk8s setup, but could you confirm whether NodeName is the same as hostname for all the instances?

[2020-09-07 11:45] #271 closed

[2020-09-09 03:20] feiskyer commented on #295
/remove-lifecycle rotten

[2020-09-09 03:21] feiskyer commented on #295
pending on https://github.com/kubernetes/kubernetes/pull/94028

[2020-09-14 04:30] aroramanish080282 commented on #384
Yes, NodeName are same as the hostname for all the Instance.

MicroK8s is a CNCF certified upstream Kubernetes deployment that runs entirely on your workstation or edge device. Being a snap it runs all Kubernetes services natively (i.e. no virtual machines) while packing the entire set of libraries and binaries needed.

[2020-09-14 05:36] aroramanish080282 opened #393 "Issues with the NATGateway and the loadbalancer on Kubernetes"
This setup is a self-managed/hosted K8s and CCM changes for Azure vendor support.
Azure VM running Microk8s with all the required CCM configuration changes.

This VM is part of the private Subnet and connected with NATGateway. PublicIP is assigned on the NATGateway. I can see on loading kubernetes service launched with the required loadbalancer of basic SKU type and after that it got into Error Co

[2020-09-14 11:28] deepakrbharadwaj commented on #393
On the first Item listed regarding having Standard load balancers, it is important that we support this else, the services exposed by LB cannot be configured for private link and there is no way to share services running on k8s across multiple vNET in a shared services model.

[2020-09-16 04:21] #331 closed

[2020-09-21 21:13] CecileRobertMichon commented on #363
@aramase @jsturtevant @alexeldeib do we have an idea of what is needed to fix this?

[2020-09-23 08:37] nilo19 opened #400 "Support multiple services sharing one IP address"
- [ ] feature PR: https://github.com/kubernetes/kubernetes/pull/94991
- [ ] e2e tests
- [ ] docs

[2020-09-24 01:26] nilo19 commented on #400
/close

duplicates to https://github.com/kubernetes-sigs/cloud-provider-azure/issues/267

[2020-09-24 01:26] #400 closed

[2020-09-24 01:27] nilo19 commented on #267
- [ ] feature PR: https://github.com/kubernetes/kubernetes/pull/94991
- [ ] e2e tests
- [ ] docs

[2020-09-25 08:40] feiskyer opened #401 "Exclude node from LoadBalancer doesn't work as expected"
**What happened**:

Exclude node from LoadBalancer only works when first time a node joins cluster, it doesn't work when apply the node label later.

e.g. when running `kubectl label node k8s-agentpool-86949660-0 node.kubernetes.io/exclude-from-external-load-balancers=true`, the node is still in LoadBalancer backend address pool.

**What you expected to happen**:

The node should be removed from L

[2020-09-27 03:10] nilo19 opened #402 "Different protocols in the same Service definition with type=LoadBalancer"
Ref: https://github.com/kubernetes/enhancements/blob/master/keps/sig-network/20200103-mixed-protocol-lb.md

[2020-09-27 07:56] nilo19 commented on #402
duplicate to #295
/close

[2020-09-27 07:56] #402 closed

[2020-09-30 08:09] feiskyer opened #403 "Breaking changes of Network API version 2020-08-01"
Refer https://azure.microsoft.com/en-us/updates/zone-behavior-change/:

We need to check how to ensure the expected AZ (e.g. from aks-engine and AKS) are set on SLB/PIP when upgrading network API version to 2020-08-01.

[2020-10-10 03:13] nilo19 opened #407 "Design proposal: Support multiple Standard LoadBalancer in the same cluster"
## Scenarios

Currently, there are three ways to determine which basic LB should be used by a load balancer typed service: default mode, auto mode, and `as1,as2` mode (for more information: https://kubernetes-sigs.github.io/cloud-provider-azure/topics/loadbalancer/). However, the standard LB doesn't support the mode selection annotation. The reason is that every vm in the vnet could be added to th

[2020-10-10 03:14] nilo19 commented on #380
design proposal: https://github.com/kubernetes-sigs/cloud-provider-azure/issues/407

[2020-10-10 03:14] #407 closed

[2020-10-13 06:07] nilo19 commented on #352
https://github.com/kubernetes/kubernetes/pull/91014#event-3868499081 has been merged. We could continue to decouple soon.

[2020-10-13 10:52] nilo19 commented on #401
- [ ] pr: https://github.com/kubernetes/kubernetes/pull/95519
- [ ] e2e tests
- [ ] docs

[2020-10-15 08:38] #401 closed

[2020-10-19 02:17] #267 closed

[2020-10-19 02:18] feiskyer commented on #267
https://github.com/kubernetes/kubernetes/pull/94991 would be part of k8s v1.20.0

[2020-10-26 07:13] nilo19 opened #415 "Add E2E test for the service annotation `service.beta.kubernetes.io/azure-pip-name`"
We should add E2E test case for the service annotation `service.beta.kubernetes.io/azure-pip-name`.

Ref: https://github.com/kubernetes/kubernetes/pull/95813

[2020-11-05 07:03] nilo19 opened #416 "Mode selection annotation `service.beta.kubernetes.io/azure-load-balancer-mode` only works when the service is newly created"
**What happened**:
Mode selection annotation `service.beta.kubernetes.io/azure-load-balancer-mode` only works when the service is newly created. It doesn't work if we modify this annotation after the service has been created.

**What you expected to happen**:
The annotation works every time.

**How to reproduce it**:
Create a service and modify the annotation `service.beta.kubernetes.io/azure-load

[2020-11-05 17:25] #380 closed

[2020-11-06 01:22] nilo19 opened #417 "Add E2E test for the feature `support multiple standard load balancer`"
Add E2E test for the feature `support multiple standard load balancer`

[2020-11-09 14:01] nilo19 opened #418 "Update azure.json example"
for new features such as multiple slb and tags.

[2020-11-10 11:19] nilo19 opened #419 "Add docs for recent features"
- [x] multiple slbs
- [x] tags
- [x] custom health probes

[2020-11-12 12:20] nilo19 opened #420 "Fix the route table tagging issue"
**What happened**:
The tags on the route table only updates when the routes are updated.

**What you expected to happen**:
We want it to be updated when the controller manager is started.

**How to reproduce it**:
Config `tags` in `azure.json` and restart the controller manager.

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
- OS (e.g. from /et

[2020-11-13 13:54] #420 closed

[2020-11-15 11:57] #418 closed

[2020-11-15 11:57] #419 closed

[2020-11-16 02:43] feiskyer opened #425 "Add ETAG handling for network interfaces"
Network interfaces support ETAG, we should handle etag conflicts in cloud provider when updating LB backend address pools. This would help us to avoid overriding changes from other services (e.g. AKS RP).

[2020-11-17 02:33] nilo19 commented on #365
All resources created by provider azure are supported to be tagged as configured in the cloud config file. Doc: https://kubernetes-sigs.github.io/cloud-provider-azure/topics/tagging-resources/.

[2020-11-18 02:10] #415 closed

[2020-11-26 09:05] nilo19 commented on #416
This is hard to implement because we don't know it is the annotation update or not that trigger the lb reconcile loop.
Suppose there are two as `as1` and `as2`, and the lb sku is basic. At the very beginning, no lb exists. Then, service1 with the mode annotation set to `as1,as2` is created, the lb of as1 is created and associated with service1. In the next reconcile loop, another lb of as2 would b

[2020-11-26 09:27] nilo19 opened #427 "Potential bug of service annotation `service.beta.kubernetes.io/azure-load-balancer-mode`"
**What happened**:
The current behavior of the service annotation `service.beta.kubernetes.io/azure-load-balancer-mode` is only useful at the creation of service. Reason: https://github.com/kubernetes-sigs/cloud-provider-azure/issues/416#issuecomment-734169999.

**What you expected to happen**:
`service.beta.kubernetes.io/azure-load-balancer-mode` works on the existed services, which means we shou

[2020-12-04 06:08] nilo19 commented on #295
[code]
Shall we close this since it would be supported in 1.20.

[2020-12-04 07:16] feiskyer commented on #295
@nilo19 have you validated it?

[2020-12-05 12:38] nilo19 commented on #295
as discussed, we would remove the mixed protocol annotation.

[2020-12-06 13:56] nilo19 commented on #417
Depends on: https://github.com/Azure/aks-engine/pull/4048

[2020-12-09 06:01] #295 closed

[2020-12-09 11:10] feiskyer opened #430 "Migrate to Microsoft Authentication Library (MSAL)"
per the AAD docs [here](https://docs.microsoft.com/en-us/azure/active-directory/develop/msal-migration), we should migrate ADAL to MSAL:

 ## Dependency

The GO library [AzureAD/microsoft-authentication-library-for-go](https://github.com/AzureAD/microsoft-authentication-library-for-go) is not yet ready for public preview.

[2020-12-16 09:22] TonyDou opened #437 "Support Public IP Address servicePublicIPAddress property through service annotation"
**Is your feature request related to a problem? Please describe.**

We need to specify IPTags and servicePublicIPAddress property when creating the public IPs. Preferably, we want to create the load balancer service together with these IPs.
[code]

**Describe the solution you'd like in detail**

We can consider to add a new Load Balancer service annotation to create with servicePublicIPAddress.
[c

[2020-12-16 09:28] TonyDou opened #438 "IPv6 service throw ServiceIPAddressCannotBeChangedOnUpdate error when ensure load balancer."
**Describe the bug**
If the static IP for the loadbalancer service has the property servicePublicIPAddress, it will fail to ensure load balancer when creating the service with an existing static IP. The issue does not exist in kubernetes 1.18. But it exists in kubernetes 1.20.0-rc.0
[code]

**Steps To Reproduce**
1. using aks-engine to deploy cluster with dual stack enabled.
[code]
2. Create an IP

[2020-12-17 16:47] aramase commented on #438
/assign

[2020-12-17 20:43] aramase commented on #438
@TonyDou Are you using the `1.20-rc.0`? I just tried it on my cluster and wasn't able to repro

[code]

Loadbalancer YAML
[code]

kubectl describe svc output:
[code]

[2020-12-17 20:50] aramase commented on #438
Same with `externalTrafficPolicy: Local` as well

[code]

[2020-12-18 07:40] TonyDou commented on #438
Yes, the Kubernetes version is 1.20-rc.0. The key point to repro this is to create the IPv6 public IP address with property "servicePublicIPAddress" as documented in step 2.
I sent you an email with a repro, you can use that environment to check detail logs.

[2020-12-22 06:42] nilo19 commented on #289
The credential provider has been moving to staging.
Ref: https://github.com/kubernetes/kubernetes/pull/95775#issuecomment-749374200

[2020-12-22 14:36] #416 closed

[2020-12-28 17:10] ialidzhikov opened #454 "./hack/update-dependencies.sh fails with go@1.15"
**What you expected to happen**:
`./hack/update-dependencies.sh` to work with go@1.15.

**How to reproduce it**:

[code]

[2020-12-28 17:21] ialidzhikov commented on #454
/kind bug

[2020-12-28 18:42] cheftako commented on #289
/cc @cheftako

[2020-12-29 02:55] #427 closed

[2020-12-29 13:42] #454 closed

[2021-01-05 15:50] DangerOnTheRanger commented on #289
Hi, I'm the author of that PR, and just wanted to give a quick heads-up concerning the PR and how it might affect implementing an external credential provider in cloud-provider-azure going forward. The scope of the PR could potentially change to only moving out GCP-specific code to staging/, but if there are any potential structs or functions currently contained within pkg/credentialprovider that

[2021-01-06 01:24] andyzhangx commented on #289
for usages of DockerConfigEntry in azure_credentials.go, that's still necessary in Azure's external credential provider, thanks.

[2021-01-09 10:15] nilo19 commented on #344
/remove-lifecycle stale

[2021-01-12 10:29] feiskyer opened #462 "Add CloudCIDRAllocator"
**Is your feature request related to a problem?/Why is this needed**

/kind feature

**Describe the solution you'd like in detail**

Copied from https://github.com/kubernetes/kubernetes/issues/97835:  cloudCIDRAllocator is part of nodeipam, which allows cloud provider to allocate node CIDRs according to IP address aliases:

https://github.com/kubernetes/kubernetes/blob/cea1d4e20b4a7886d8ff65f34c6d

[2021-01-12 10:34] feiskyer opened #463 "Add verbose logging for ARM requests"
**Is your feature request related to a problem?/Why is this needed**

Add verbose logging for ARM get/put body for GET and PUT, so that we could check what's happening when there're issues around ARM api.

**Describe the solution you'd like in detail**

This could be done by adding logs into azureclients.

**Describe alternatives you've considered**

**Additional context**

/milestone v1.21
/assig

[2021-01-13 14:34] #463 closed

[2021-01-14 07:09] feiskyer commented on #295
To be clear, the mixed protocol has been supported since v1.20 from Kubernetes API (no extra annotation is required).

[2021-01-19 23:11] alexeldeib commented on #363
/remove-lifecycle rotten

pretty sure this still exists...need to refresh my memory for a fix

[2021-01-20 02:49] feiskyer opened #481 "Not all node pools are cleaned up on ILB deletion"
**What happened**:

Because the error is returned on each VMSS update, if there're errors happen on first VMSS, then all the following VMSS won't be updated:

https://github.com/kubernetes/legacy-cloud-providers/blob/785692fc4071ffcc2647a3fb8c2c22294db36de6/azure/azure_vmss.go#L1466-L1470
![image](https://user-images.githubusercontent.com/676637/105120246-db2fa500-5b0c-11eb-9dcd-332fbced5d4f.png)

[2021-01-20 02:53] feiskyer commented on #481
/assign @nilo19

[2021-01-21 06:40] feiskyer opened #485 "Basic LoadBalancer e2e tests are failing"
Refer [here](https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/kubernetes-sigs_cloud-provider-azure/482/pull-cloud-provider-azure-e2e-ccm-vmss-basic-lb/1351816215558885376), a set of e2e tests are failing because of underlying LoadBalancer issue. Related errors from cloud provider are:

[code]

And:

[code]

Failing tests include:

![image](https://user-images.githubusercontent.com/67663

[2021-01-21 13:01] #425 closed

[2021-01-21 14:57] #344 closed

[2021-01-23 06:17] #481 closed

[2021-01-23 06:17] #374 closed

[2021-01-25 03:54] nilo19 commented on #437
have you tried this annotation? https://github.com/kubernetes-sigs/cloud-provider-azure/blob/42b9965e8a4dc57b336ab028c3160f8120aaa5c0/pkg/provider/azure_loadbalancer.go#L86

[2021-01-25 23:54] TonyDou commented on #437
I just tried on the latest kubernetes 1.20, the IPTags are supported now. This is awesome.
But to make our scenario work, we need to setup the servicePublicIPAddress for the IPv6 address.

I will update this issue to only focus on servicePublicIPAddress.

[2021-01-28 01:15] feiskyer opened #499 "Add support for system tags"
**Is your feature request related to a problem? Please describe.**

/kind feature

**Describe the solution you'd like in detail**

With "tags" configuration, the shared resources including load balancer, security group and route tables would be updated with provided tags.

However, due to insufficient knowledge, cloud provider doesn't know which tags to delete if the "tags" configuration is update

[2021-01-28 09:44] MirzaSikander commented on #485
This test is failing as well, and is visible in the screen shot above as well, but was missed in the skip pull request.

[code]

[2021-01-28 09:51] MirzaSikander commented on #485
This one also seems problematic:

[code]

[2021-01-28 10:01] MirzaSikander commented on #485
This test is panicing

[code]

[2021-01-28 19:14] MirzaSikander commented on #485
[code]

Are these expected?

[2021-02-05 22:03] jackfrancis opened #505 "ELB Node Label PR (upstream k8s PR 95542) broke Windows + Availability Sets"
**What happened**:

This PR introduced several new flows and requirements for functional ELB behaviors:

https://github.com/kubernetes/kubernetes/pull/95542

I'll copy [this comment](https://github.com/kubernetes/kubernetes/pull/95542#pullrequestreview-584724351) below:

I have test data from 1.21.0-alpha clusters built by aks-engine that suggests this PR broke ELB creation for clusters running Wi

[2021-02-06 13:38] nilo19 commented on #505
/assign

[2021-02-06 14:11] nilo19 commented on #505
It should be fixed by https://github.com/kubernetes/kubernetes/pull/97635

[2021-02-07 03:02] andyzhangx opened #506 "implement csr auto approver in cloud controller manager"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like in detail**

csr auto approver could be used for kubeletServer CSR auto approval, there may be other components needs this auto approver too.

**Describe alternatives you've considered**

**Additional context**

[2021-02-08 19:15] jayunit100 opened #507 "CAPI protective Contract for Azure cloud provider changes"
**Is your feature request related to a problem?/Why is this needed**

Lookin for some guidelines for using `cloud-provider-azure` , that are either test-or semantic oriented / i.e. a CAPI contract that we can enforce/use to review clloud provider changes

**Describe the solution you'd like in detail**

A contract/cloud provider/e2e test that we can run for all CP AZure requiests that prevent CAPZ

[2021-02-08 19:22] CecileRobertMichon commented on #507
cc @feiskyer @nilo19 @craiglpeters
cc @devigned @nader-ziada @jackfrancis

+1 it would be great to start a contract between cloud provider Azure and various infra provisioning tools of k8s on Azure (AKS, AKS Engine, CAPZ, openshift, giantswarm, etc) so we can define:
- the expectations for infra provisioners in terms of what resources they should create and any requirements to be able to use the A

[2021-02-08 19:36] jayunit100 commented on #507
@andrewsykim pointed me at https://github.com/kubernetes/enhancements/tree/master/keps/sig-cloud-provider/1771-versioning-policy-for-external-cloud-providers

maybe its just a matter of getting the adherence to that hardened ?

[2021-02-09 02:04] feiskyer commented on #507
That's a bug that has been fixed by https://github.com/kubernetes/kubernetes/pull/97635.

[2021-02-09 17:35] jackfrancis commented on #505
Thanks @nilo19, confirmed the fix by building from source!

[2021-02-09 17:35] #505 closed

[2021-02-09 17:43] CecileRobertMichon commented on #507
We discussed this issue at the Azure Cloud provider office hours yesterday, pasting notes here for visibility:

    - all resources in the same Azure tenant
    - all VMs should be in VMSS or VMAS
    - VM machine name should be the same as the hostname.

Next steps: @feiskyer will open a PR to add the initial draft of the contract and we will try to get as many stakeholders as possible to review.

[2021-02-11 06:12] #384 closed

[2021-02-11 13:19] #393 closed

[2021-02-12 20:20] MarcPow opened #510 "Artificial limitations exist on the number of Services that we can have sharing a single Public IP"
**What happened**:
I attempted to create a StatefulSet of 100 instances, and then create a LoadBalancer Service for each, on a different port, but sharing a common public ip,

However, rather than ending up with 100 services, I ended up with between 10 and 20, with the rest erroring out with load balancer reconciliation failures.

Warning  CreateOrUpdatePublicIPAddress  4m54s  azure-cloud-provider

[2021-02-14 05:48] nilo19 commented on #510
This is a known issue because the maximum length of the tags on azure resources are 256. We plan to fix this.

[2021-02-17 15:07] #485 closed

[2021-02-18 08:05] nilo19 commented on #438
hi @TonyDou , I wonder how can I repro this in my env. I can't find any docs releated to servicePublicIPAddress and it seems I need to register the feature before I can enable it.

[2021-02-18 08:08] TonyDou commented on #438
Hi @nilo19, yes it's behind two feature flags. aramase is investigating this issue now. If you are interested, I can share those info with you seperately.

[2021-02-18 08:09] nilo19 commented on #438
@TonyDou please share it with me, thanks!

[2021-02-20 13:09] nilo19 commented on #438
This is because there is no "servicePublicIPAddress" in the request body when putting the public IP. Two possible solutions:
1. The nrp could ignore the "servicePublicIPAddress" when it's empty in the request body instead of throw an error.
2. Wait for the API update in azure-sdk-for-go.

[2021-02-22 03:33] feiskyer opened #515 "Cut release v0.7.1"
Cut a new release of cloud provider azure v0.7.1. Tasks:

- [x] Update release notes
- [x] Build and push images to MCR
- [x] Update image references for the new tag

[2021-02-23 23:29] CecileRobertMichon commented on #363
/assign

looking into this

[2021-02-26 01:30] feiskyer opened #521 "RulesUseSameBackendPortProtocolAndPoolAndFrontendIPWithFloatingIPEnabled error when using multiple ports with HA"
**What happened**:

When using mutiple ports in service with annotation `service.beta.kubernetes.io/azure-load-balancer-enable-high-availability-ports: true`, the following error was reported:

[code]

**What you expected to happen**:

Errors shouldn't happen and the service should be created successfully.

**How to reproduce it**:

Create a service with multiple ports and enable HA ports feature.

[2021-02-26 01:30] feiskyer commented on #521
This should be fixed in maser branch and cherry-pick to v1.20.

/milestone v1.20

[2021-02-26 05:42] #515 closed

[2021-03-01 08:19] feiskyer opened #527 "kubenet route table latency causing DNS resolution failure right after node creation"
**What happened**:

When using kubenet network plugin together with cluster-autoscaler, new Pods scheduled to newly created node would get DNS resolution failure.

After talking with Azure Networking team, we confirmed this is because the route updates haven't take effect yet when the async updating returns success.

**What you expected to happen**:

Route updates should take effect when the node

[2021-03-04 01:01] CecileRobertMichon commented on #363
So this fixes it: https://github.com/kubernetes-sigs/cloud-provider-azure/compare/master...CecileRobertMichon:fix-vm-cache

the issue with that solution is that it will cause a force refresh of the VM cache on every run of `isNodeManagedByAvailabilitySet` unnecessarily when the node is indeed VMSS (and so it really should return false).

The previous reasoning for calling it with `CacheReadTypeUns

[2021-03-04 02:35] CecileRobertMichon commented on #363
Here's an attempt at only doing a refresh of the VM cache if the node is new to the cluster: https://github.com/kubernetes-sigs/cloud-provider-azure/compare/master...CecileRobertMichon:fix-vm-cache

This should reduce a lot of the extra refreshes when the node is a known vmss node, and still refresh when the node is new to the cluster and we don't know if it's vm or vmss yet. Haven't tested it wor

[2021-03-04 07:14] #507 closed

[2021-03-04 09:05] feiskyer opened #535 "Get instance public IP from instance metadata service with standard SKU"
**Is your feature request related to a problem?/Why is this needed**

When VM or VMSS is bounded with "standard" LoadBalancer, the instance's public IP address would not be part of `http://169.254.169.254/metadata/instance`. Hence, `kubectl get nodes` would not show public IP address when using "standard" LoadBalancer.

**Describe the solution you'd like in detail**

Azure network now exposes load

[2021-03-05 07:20] feiskyer commented on #521
We need to get this fixed in k/k as well.

[2021-03-05 07:24] #527 closed

[2021-03-05 08:04] jaygridley commented on #527
@feiskyer Is there any ETA when this could be actually available in AKS?

[2021-03-05 08:32] feiskyer commented on #527
since there're some changes required in external cloud provider (including controller and agents), this fix would only be available as part of out-of-tree cloud provider (>=1.20).

[2021-03-07 02:34] nilo19 commented on #417
/remove-lifecycle stale

[2021-03-07 09:59] nilo19 commented on #462
- [x] decouple in-tree node ipam controller and enable range allocator (https://github.com/kubernetes-sigs/cloud-provider-azure/pull/511)
- [ ] implement cloud allocator (VMSS: https://github.com/kubernetes-sigs/cloud-provider-azure/pull/539)
- [ ] docs
- [ ] e2e tests

/reopen

[2021-03-08 03:41] #352 closed

[2021-03-08 03:42] #228 closed

[2021-03-08 03:42] #124 closed

[2021-03-08 09:57] #535 closed

[2021-03-09 07:12] feiskyer commented on #403
For checking whether a region supports the availability zone or not, provider LIST API (https://docs.microsoft.com/en-us/rest/api/resources/providers/list) could be used. Here is an example:

[code]

[code]

[2021-03-09 07:14] feiskyer commented on #403
/milestone v1.21

[2021-03-09 22:46] CecileRobertMichon opened #547 "Speed up Docker build"
Currently `make build-images` takes a really long time. We should consider using Docker BuildKit (https://docs.docker.com/develop/develop-images/build_enhancements/) to improve performance.

In addition, I see cloud provider is using the `golang:1.13.9-stretch` image, wondering if we should bump it to a newer one?

[2021-03-10 02:08] feiskyer commented on #547
yea, I think we should upgrade Go version.

For buildkit, have you observed how much performance would it improve?

[2021-03-10 05:15] CecileRobertMichon commented on #547
In CI, it takes it down by ~2mn but it has to do a "fresh" build every time it runs on a new prow node:

before (a PR from yesterday):

after (from #548):

The real gains happen locally with caching of go build. The first run isn't faster but subsequent runs are much faster.

[2021-03-10 05:19] feiskyer commented on #547
@CecileRobertMichon Awesome! thanks for raising the up and validations.

[2021-03-10 07:11] #363 closed

[2021-03-10 07:24] feiskyer opened #549 "Support sharing the default SLB when enableMultipleStandardLoadBalancers is set to true"
**Is your feature request related to a problem?/Why is this needed**

When enabling `enableMultipleStandardLoadBalancers`, SLB per nodepool (VMAS or VMSS) would be provisioned and the default SLB would put primary scaleSet in its backend address pool.

However, customers don't want to provision too many SLBs when nodepool count is large. Hence, sharing the default SLB should be supported.

**Descr

[2021-03-10 07:27] nilo19 commented on #549
/assign

[2021-03-10 23:49] jsoule6 opened #550 "Azure Cloud Control Manager - nil pointer dereference and Crashbackloop"
**What happened**

When we start the Azure Cloud Control Manager Pod, it seems to run fine at first, but a little ways through the startup, we are seeing this nil pointer error in the log and then the pod starts a crashbackloop. It is actually able to perform its jobs eventually (provisioning load balancers, dynamic provisioning, etc.) in between failures, but fails at the same spot each time and

[2021-03-11 01:28] feiskyer commented on #550
@jsoule6 have you configured `routeTableName` and pre-provisioned the route table? the panic line indicates the routetable is not found .

[2021-03-11 02:01] jsoule6 commented on #550
@feiskyer Hi - I posted the Azure.json parameters that we are using. We aren’t using a routetable so not including a routeTableName. According to the github instructions, that parameter should be optional. — https://kubernetes-sigs.github.io/cloud-provider-azure/install/configs/

Should we include the parameter but set it to “”?

[2021-03-11 03:04] #521 closed

[2021-03-11 03:06] feiskyer commented on #550
then, have you set `"--configure-cloud-routes=false"`? this indicates the route controller shouldn't be run.

[2021-03-11 15:25] jsoule6 commented on #550
That did the trick! We got tripped up because of the comment in the yaml file --

 # "false" for Azure CNI and "true" for other network plugins.

Thanks so much for the help!!

[2021-03-12 07:27] feiskyer commented on #550
@jsoule6 glad to see it works. I would fix the panic issues later.

[2021-03-15 05:46] nilo19 opened #557 "Remove bazel build support"
Since k/k has removed bazel, we should remove it as well.
Ref: https://github.com/kubernetes/enhancements/issues/2420

/kind cleanup

[2021-03-15 10:27] axelgMS opened #559 "LoadBalancerInUseByVirtualMachineScaleSet when the node pool has 0 nodes and we try to delete the k8s service"
**What happened**:
Created an AKS cluster with 2 node pools, and created a k8s service to get an Internal LB.
Scaled down one of the node pool to 0 nodes - and then attempted to delete the service
--> Error LoadBalancerInUseByVirtualMachineScaleSet

**What you expected to happen**:
We should be able to delete the service even if the node pool has 0 nodes.
If we scale that node pool to 1 node and r

[2021-03-16 04:13] feiskyer commented on #403
Let's confirm whether the API version is available in all regions before working on the task.

[2021-03-16 04:23] feiskyer opened #562 "Add support for HA mode on standard load balancer"
**Is your feature request related to a problem?/Why is this needed**

This is a new feature request to add support for HA mode on standard load balancer via service annotation.

**Describe the solution you'd like in detail**

Add a new service annotation `service.beta.kubernetes.io/azure-load-balancer-enable-high-availability-mode`. And when this annotation is set to true, the following configurat

[2021-03-16 04:24] feiskyer commented on #559
/assign @nilo19

[2021-03-17 05:20] feiskyer opened #563 "Add verbose logs for load balancer rule changes"
**Is your feature request related to a problem?/Why is this needed**

On many production deployments, controller manager is usually deployed with log level `--v=1`, which would cause lack of information for troubleshooting when there's something wrong. However, log volume would be too large if increase its log level to 3 or 4.

**Describe the solution you'd like in detail**

We could combine all t

[2021-03-18 03:41] feiskyer commented on #403
Confirmed 2020-08-01 API is available in all regions. @nilo19 we could start this work now.

[2021-03-18 08:27] #499 closed

[2021-03-19 14:09] #559 closed

[2021-03-22 13:09] #550 closed

[2021-03-24 02:22] nilo19 commented on #462
/close

[2021-03-24 02:22] #462 closed

[2021-03-24 02:23] nilo19 opened #570 "Integrate out-of-tree node ipam allocator to aks-engine"
- [ ] integrating with aks-engine
- [ ] e2e tests

[2021-03-25 02:59] #403 closed

[2021-03-25 05:05] feiskyer commented on #562
the new property is not available in Azure Go SDK yet.

/hold

[2021-03-29 07:05] feiskyer commented on #437
@TonyDou I checked network API 2020-08-01 and didn't find the new property `servicePublicIPAddress`. Do you know which network API version supports this feature and when would it be available in Azure Go SDK?

[2021-03-29 08:30] #563 closed

[2021-03-29 16:02] TonyDou commented on #437
2019-09-01 and later versions should support it. But it's a hidden and internal property. Supporting this property in azure-sdk-for-go is tracked in https://github.com/Azure/azure-sdk-for-go/issues/14465

[2021-03-30 01:31] nilo19 opened #573 "User created pip is deleted unexpectedly if the binded service is deleted"
**What happened**:
If we create a service and set the `service.Spec.LoadBalancerIP` to bind an existing pip, the pip would be deleted if the service is deleted, which is not expected.

**What you expected to happen**:

**How to reproduce it**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
- OS (e.g. from /etc/os-release):
- Kernel (e.g. `uname

[2021-03-30 18:35] MarcPow opened #575 "When node pools nodes are exposed via public IP, Network Security Groups are not updated properly"
**What happened**:
- We deployed clusters using [Node Pool Public IPs](https://docs.microsoft.com/en-us/azure/aks/use-multiple-node-pools#assign-a-public-ip-per-node-for-your-node-pools)
- We assigned services using *hostPorts* to that node pool
- These services were not reachable from the internet, until we manually opened the NSG (which does not scale and breaks the managed cluster abstraction).

[2021-03-31 02:28] #573 closed

[2021-03-31 03:44] feiskyer commented on #575
this is working as expected as NodePort typed services are not expected to be exposed on internet by default (secure by default).

[2021-03-31 18:00] TonyDou commented on #438
Tracking the azure-sdk-for-go changes in this issue https://github.com/Azure/azure-sdk-for-go/issues/14465

[2021-04-01 18:26] whihathac commented on #575
hi @feiskyer, some of the services on our cluster want to expose the hostPort on the node's public IP (ILPIP). So how do you recommend we mitigate this automatically?

[2021-04-02 08:47] nilo19 commented on #438
@TonyDou FYI: we don't update the user-created pip anymore. The fix is https://github.com/kubernetes-sigs/cloud-provider-azure/pull/574

[2021-04-02 08:49] TonyDou commented on #438
Great! Do you know which version I should use to test it out?

[2021-04-06 05:59] #549 closed

[2021-04-08 02:29] nilo19 commented on #289
/remove-lifecycle stale

[2021-04-08 09:17] nilo19 opened #581 "Cloud provider azure autoscaling test fails on cluster creation"
**What happened**:
https://testgrid.k8s.io/provider-azure-cloud-provider-azure#cloud-provider-azure-autoscaling
error details:
[code]
I cannot repro it locally. @CecileRobertMichon @chewong  could you help to determine if this could be migrated to capz?

**What you expected to happen**:

**How to reproduce it**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kube

[2021-04-08 09:20] nilo19 commented on #581
cc @feiskyer

[2021-04-08 12:22] feiskyer commented on #581
@CecileRobertMichon @chewong This test has been failing for a long time and not fixed inside aks-engine. Appreciate if you could help to migrate it to capz (though I'm not sure whether capz supports cluster-autoscaler addon or not).

/cc @jackfrancis @craiglpeters

[2021-04-08 16:37] chewong commented on #581
Related to https://github.com/kubernetes-sigs/cluster-api-provider-azure/issues/1279

[2021-04-08 16:40] chewong commented on #581
Meanwhile, to fix the aks-engine autoscaling test, could you try decreasing the length of the API model by removing unnecessary config?

[2021-04-08 17:27] CecileRobertMichon commented on #581
cluster-autoscaler has a cluster-api [provider](https://github.com/kubernetes/autoscaler/tree/master/cluster-autoscaler/cloudprovider/clusterapi) that is cloud agnostic, it does not use the azure cluster-autoscaler provider, so if the goal is to test the azure cluster-autoscaler we wouldn't use CAPZ for that.

[2021-04-09 02:05] feiskyer commented on #581
@CecileRobertMichon do you mean capz is not compatible with cluster-autoscaler on vmss?

[2021-04-09 02:06] feiskyer commented on #581
@chewong we have already tried a few ways, but the generated ARM template is still too large. Could you help to check which part could be dropped for a short term workaround?

[2021-04-09 02:08] nilo19 commented on #581
@CecileRobertMichon behind the cloud-agnostic api there is the cluster autoscaler provider azure, right?

[2021-04-09 02:35] feiskyer opened #582 "Couldn't find network interface for newly created VMSS instances"
**What happened**:

When scaling up Kubernetes nodes on VMSS, the following errors would happen in cloud provider:

[code]

This is because VMSS network interface handling has some delay on creation time. e.g. when cloud provider gets the VMSS instances list, the instances are still in creating state, and network interface hasn't been handled yet. Hence, cloud provider would get the above error wi

[2021-04-09 07:16] nilo19 commented on #570
hold off for this to see if we should integrate it with capz instead of aks-engine

[2021-04-09 07:16] nilo19 commented on #570
/hold

[2021-04-09 16:31] CecileRobertMichon commented on #581
No, the cluster-autoscaler provider CAPI talks directly to the CAPI CRDs (increase/decrease the number of replicas on a MachineDeployment, etc.). The great thing about it is that it makes 0 API calls to Azure since it can get and modify the state of the cluster directly with CRDs.

Currently, it is supported for MachineDeployments (backed by VMs in CAPZ) and work is in progress to add MachinePools

[2021-04-09 19:06] jackfrancis commented on #581
I was able to repro this, and in my tests adding this configuration to the api model `"addons"` array unblocks the testing of this scenario:

[code]

@andyzhangx should we disable that addon by default in aks-engine now that the project is deprecated?

[2021-04-10 00:56] andyzhangx commented on #581
@jackfrancis yes, just go ahead disable `blobfuse-flexvolume` addon

[2021-04-10 08:11] nilo19 commented on #581
https://raw.githubusercontent.com/kubernetes-sigs/cloud-provider-azure/master/tests/k8s-azure/manifest/linux-autoscaler.json
we don't have this addon in our API model manifest.

[2021-04-10 12:05] #557 closed

[2021-04-12 03:25] feiskyer commented on #510
/kind bug

[2021-04-12 07:24] feiskyer commented on #510
From Azure docs [here](https://docs.microsoft.com/en-us/azure/azure-resource-manager/management/tag-resources#limitations), there're a lot of limitations including:

- Each resource, resource group, and subscription can have a maximum of 50 tag name/value pairs. If you need to apply more tags than the maximum allowed number, use a JSON string for the tag value. The JSON string can contain many val

[2021-04-12 07:25] nilo19 commented on #510
will enrich the doc
/assign

[2021-04-12 17:51] jackfrancis commented on #581
@feiskyer your change appears to have restored test signal, should we wait for another few test runs and then close this issue?

[2021-04-13 02:58] feiskyer commented on #581
@jackfrancis yes, it is running though some tests failed. Appreciate the helping.

[2021-04-13 17:07] jackfrancis commented on #581
I vote to close this issue as the custom data error has been fixed.

[2021-04-14 01:10] #581 closed

[2021-04-19 07:19] #570 closed

[2021-04-20 00:12] MarcPow commented on #510
How does BYO PIP work around these issues today?  Even external PIPs are tagged, IIRC.

[2021-04-20 01:47] CecileRobertMichon opened #596 "Ensuring LB fails with ListAgentPoolLBs: failed to get agent pool vmSet names"
**What happened**:

Updated cloud-provider to v0.7.3 and CAPZ test E2E fail with this error:
[code]

https://storage.googleapis.com/kubernetes-jenkins/pr-logs/pull/kubernetes-sigs_cluster-api-provider-azure/1323/pull-cluster-api-provider-azure-e2e-full/1384253528750428160/artifacts/clusters/capz-e2e-7hbnku/kube-system/cloud-controller-manager/cloud-controller-manager.log

This seems to be a regres

[2021-04-20 02:19] nilo19 commented on #510
@MarkPow we don't tag BYO PIP the service names. Ref: https://kubernetes-sigs.github.io/cloud-provider-azure/topics/shared-ip/

[2021-04-20 02:20] #510 closed

[2021-04-22 06:48] #596 closed

[2021-04-26 06:23] feiskyer opened #604 "feature: dynamically reloading configurations from secret"
**Is your feature request related to a problem? Please describe.**

The configuration of cloud provider config file may be changed later after deployment; however, the new configurations won't take effect until the cloud controller manager is restarted. Since the azure cloud provider has already supported [initializing itself from a secret](https://github.com/kubernetes-sigs/cloud-provider-azure/b

[2021-04-26 06:23] feiskyer commented on #604
/kind feature

[2021-04-26 06:35] feiskyer commented on #604
/assign @nilo19

[2021-04-26 07:15] andyzhangx opened #605 "cannot disable cloudProviderRateLimit even it's set as false"
**What happened**:
Apparently `RateLimitEnabled` is not invoked in other places, user cannot disable `cloudProviderRateLimit` even it's set as false, one workaround is set `"cloudProviderRateLimitQPS": 10000`

https://github.com/kubernetes-sigs/cloud-provider-azure/blob/bfc60a7659c734a293baa6d8f96ce56afa8a07b1/pkg/azureclients/azure_client_config.go#L69-L72

[code]

**What you expected to happen**

[2021-04-26 09:18] feiskyer commented on #605
it is checking `config != nil && config.CloudProviderRateLimit` directly below:

https://github.com/kubernetes-sigs/cloud-provider-azure/blob/bfc60a7659c734a293baa6d8f96ce56afa8a07b1/pkg/azureclients/azure_client_config.go#L76-L79

But the logs below are confusing:

https://github.com/kubernetes-sigs/cloud-provider-azure/blob/bfc60a7659c734a293baa6d8f96ce56afa8a07b1/pkg/azureclients/diskclient/azu

[2021-04-27 08:12] feiskyer commented on #605
Found it is actually ARM throttling, instead of client rate limit issues. The rate limiting config logs would be reduced in #608.

[2021-04-28 01:44] #605 closed

[2021-04-28 21:56] CecileRobertMichon commented on #267
@feiskyer @nilo19 how come this one got implemented directly in k/k as a feature without being merged in out of tree first?

cc @jsturtevant

[2021-04-29 02:44] feiskyer commented on #267
@CecileRobertMichon new features are added in k/k <=1.20, while new features are only added in CCM >=1.21.

[2021-04-30 05:01] gauravAggrhari opened #612 "List() method is missing for Network Interface"
**Is your feature request related to a problem?/Why is this needed**
List method is needed to list all the network interfaces.

**Describe the solution you'd like in detail**
We can implement the new List() method to address the above issue.

**Describe alternatives you've considered**
Alternative would be directly make use of Azure SDK which imposes an inconsistency.

**Additional context**
https

[2021-04-30 07:20] feiskyer commented on #612
The clients inside cloud-provider-azure only exposes interfaces that we consume today, and hence not all interfaces are added yet. Would you like to file a PR and add this interface?

[2021-04-30 07:37] gauravAggrhari commented on #612
Yes @feiskyer, I would like to file a PR for this.

[2021-04-30 21:48] CecileRobertMichon commented on #267
Was this one backported in out-of-tree yet? We're seeing https://github.com/kubernetes-sigs/cluster-api-provider-azure/issues/1347 with in-tree but not out-of-tree

[2021-05-01 00:32] nilo19 commented on #267
Yes, it has been supported in out-of-tree as well. https://kubernetes-sigs.github.io/cloud-provider-azure/topics/shared-ip/

[2021-05-04 06:27] brandond commented on #289
AWS and GCP plugin-based providers have landed, we're eager to consume the Azure one as well.

[2021-05-04 13:41] #604 closed

[2021-05-07 23:47] #582 closed

[2021-05-08 02:52] feiskyer opened #618 "test: enhance BYO public IP e2e test"
When validating BYO public IP for LoadBalancer service, the following steps should be validated:

- create PIP with tags
- create service
- wait for service ready
- verify PIP connectivity
- delete service
- verify PIP still exist
- verify PIP tags don't change
- cleanup

[2021-05-08 02:59] feiskyer opened #619 "Add CreateOrUpdateBackendPools() interface to LoadBalancer client"
**Is your feature request related to a problem?/Why is this needed**

Azure cloud provider is using CreateOrUpdate() interface for both LoadBalancer rules and backend address pool updating. However, for a set of new features introduced after network api version 2020-08-01, backend address pool updating requires a separate CreateOrUpdateBackendPools() API call. Hence we should add the new interface

[2021-05-08 09:05] #619 closed

[2021-05-11 06:11] feiskyer opened #624 "Auto-generate and verify mock clients"
**Is your feature request related to a problem?/Why is this needed**

Currently, the mock clients are generated manually when changing azure clients interface, e.g.

https://github.com/kubernetes-sigs/cloud-provider-azure/blob/d585c2031925b39c925624302f22f8856e29e352/pkg/azureclients/interfaceclient/interface.go#L42-L44

we should switch this manual way to go generate and add makefile targets to g

[2021-05-19 05:00] feiskyer opened #634 "Unexpected cloud provider crash when creating LoadBalancer typed service (1.20/1.21)"
**What happened**:

When creating LoadBalancer typed service and the public IP address hasn't allocated yet, cloud provider azure may panic because of missing a [nil pointer check](https://github.com/kubernetes/legacy-cloud-providers/blob/bd05d48678e698ebffe0c34fb1e003d6d6ec2a37/azure/azure_standard.go#L369-L371).

Refer the example panic stack below:

[code]

**Impacted versions**:

- v1.20.0-v1.

[2021-05-19 05:10] feiskyer opened #635 "Unexpected VMSS capacity updates"
**What happened**:

Since the VMSS and instances are cached in cloud provider memory (default TTL is 10 min), if there're some changes on the VMSS capacity (e.g. by autoscaler), then the capacity value would be outdated in memory. However, cloud provider sets `vmss.Sku` when updating network profile, which may cause unexpected capacity change on VMSS.

**Impacted clusters:**

The Kubernetes cluste

[2021-05-26 01:55] #618 closed

[2021-05-27 09:08] feiskyer opened #638 "Re-use http connection for all ARM clients"
**Is your feature request related to a problem?/Why is this needed**

To reduce SNAT port consumptions, all the Azure clients should re-use the same http connection.

**Describe the solution you'd like in detail**

A global `http.Transport` could be added in armclient and then all other clients would reuse the same http.Transport as they're using armclient to make the HTTP requests.

**Describe al

[2021-05-27 09:18] feiskyer opened #639 "Support VMSS with Flexible orchestration"
**Is your feature request related to a problem? Please describe.**

VMSS provides flexible orchestration, which would have different behavior from current uniform orchestration. Some changes are required inside cloud provider to ensure it is supported as well.

**Describe the solution you'd like in detail**

Ensure VMSS Flex virtual machines are characterized as "vmss" type for node pool related f

[2021-05-27 10:11] feiskyer opened #640 "Errors are not logged when zones map refreshed failed"
**What happened**:

Refer the below error:

[code]

**What you expected to happen**:

- Detailed errors should be logged in logs message
- Cloud provider should wait for the first zone map refresh finish on initialization

https://github.com/kubernetes-sigs/cloud-provider-azure/blob/bfc60a7659c734a293baa6d8f96ce56afa8a07b1/pkg/provider/azure.go#L503

**How to reproduce it**:

**Anything else we ne

[2021-05-28 18:52] devigned opened #642 "Consistent Use of Context"
**Is your feature request related to a problem?/Why is this needed**
Much of the context usage in the project is ineffectual. For example, the [Azure DiskClient.Get uses a context](https://github.com/kubernetes-sigs/cloud-provider-azure/blob/18cf8182aa5fa090b2cfa9180bdb3c97dd6c11a7/pkg/azureclients/diskclient/azure_diskclient.go#L92), but the context provided to the method is largely ineffectual.

[2021-05-30 03:53] feiskyer commented on #642
Thanks @devigned for reporting the issue and sharing the ideas to provide better observability. Would you like to contribute the OpenTelemetry support?

[2021-05-31 01:45] nilo19 commented on #634
the fix has been merged.
/close

[2021-05-31 01:45] #634 closed

[2021-05-31 07:55] nilo19 commented on #635
Fixes have been merged.

[2021-05-31 07:55] #635 closed

[2021-06-01 05:06] feiskyer opened #648 "failed to filter frontend IP configs with error: serviceOwnsFrontendIP: wrong parameters""
**What happened**:

pull-cloud-provider-azure-e2e-ccm e2e test is failing with the following error:

[code]

**What you expected to happen**:

E2E tests should pass without any failures.

**How to reproduce it**:

See https://storage.googleapis.com/kubernetes-jenkins/pr-logs/pull/kubernetes-sigs_cloud-provider-azure/647/pull-cloud-provider-azure-e2e-ccm/1399529893540139008/artifacts/k8s-master-428

[2021-06-01 11:28] #648 closed

[2021-06-01 16:59] devigned commented on #642
Definitely a possibility. I'm discussing this with @ritazh.

First thing I wanted to do is open the issue and start the discussion. I'd suspect an enhancement doc would be proper for such a change.

The major items that would need to be changed:
- Pipe `context.Context` from process entry point down through the call hierarchy to any function that may have i/o or an operation that should gracefully

[2021-06-02 01:45] feiskyer commented on #642
@devigned thanks, LGTM

[2021-06-08 01:59] migleeson opened #653 "Editing identically named services in different namespaces from `type: ClusterIP` to `type: LoadBalancer` creates two IPs which point to the same namespace"
**What happened**:

Creating two namespaces (A and B) with identically named `ClusterIP` services, and then using `kubectl edit -n <namespace> svc <svc_name>` to change the type of each service to `LoadBalancer` results in two separate public IP addresses (as expected) which both route to the same service in namespace A (not expected)

**What you expected to happen**:

Expected behaviour is to pro

[2021-06-09 05:39] #640 closed

[2021-06-10 06:44] nilo19 opened #654 "Do not update routes in cloud node manager"
https://github.com/kubernetes-sigs/cloud-provider-azure/blob/47def28466a419b5d917efadafcf48e33f0880e3/pkg/provider/azure.go#L547-L549

We should not update routes in cloud node manager, only cloud controller manager needs this.

[2021-06-11 04:57] feiskyer commented on #653
@migleeson could you share the output of "kubectl describe service" for these two services?

[2021-06-11 15:22] migleeson commented on #653
Sure! I had to regenerate these environments, but here they are:
[code]
and
[code]
These environments auto-destroy after 8 hours of existence but I can recreate them easily.

[2021-06-13 01:15] feiskyer commented on #653
Thanks for sharing the info. I see all their IPs (IP, LoadBalancer Ingress and Endpoints) are different. How do you see **Traffic to those IPs will route to the same namespace incorrectly**?

[2021-06-15 01:23] feiskyer opened #657 "Routes cannot have the same AddressPrefix"
**What happened**:

Because IPv6DualStack becomes a beta feature in 1.21, which is turned on by default, the route naming convention is changed for routes. But the cluster doesn't cleanup the legacy routes correctly, which caused the following errors:

[code]

**What you expected to happen**:

Routes controller should be compatible with legacy routes.

**How to reproduce it**:

Upgrade an older ve

[2021-06-16 01:32] feiskyer opened #658 "tags key is assumed to be case-sensitive"
**What happened**:

According to Azure docs, `A tag name can have a maximum of 512 characters and is case-insensitive`. But the codes below are actually case-sensitive for tags key:

https://github.com/kubernetes-sigs/cloud-provider-azure/blob/f7491146d89d43eecc35ea4fbdcbcd618ffcba4b/pkg/provider/azure_utils.go#L130-L146

**What you expected to happen**:

tags name should be case-insensitive. and

[2021-06-16 14:20] #657 closed

[2021-06-16 17:24] TonyDou commented on #438
This issue is reprod on 1.20.7.
  Type     Reason                         Age                From                  Message
  ----     ------                         ----               ----                  -------
  Normal   EnsuringLoadBalancer           17s (x8 over 10m)  service-controller    Ensuring load balancer
  Warning  CreateOrUpdatePublicIPAddress  16s (x8 over 10m)  azure-cloud-provide

[2021-06-18 07:38] nilo19 commented on #438
/assign

[2021-06-18 07:39] feiskyer commented on #438
/kind bug

[2021-06-21 00:36] #654 closed

[2021-06-25 03:34] daveman1010221 opened #676 "Cloud Controller Manager crashes after initial deployment with nil pointer dereference"
Hello. I've deployed Azure cloud controller manager to my Talos OS cluster, in Azure. The deployment seems to go well, but as the pod is initializing, it dies at runtime. I've never seen it run before, so this could easily be caused by some problem with my configuration, although the nil pointer is rather unexpected. Please let me know if there is anything else I can provide to help. Thanks.

**az

[2021-06-25 16:45] daveman1010221 commented on #676
Been playing around a bit, fixing a few minor things. Got a new nil pointer, thought I'd share:

`E0625 16:43:08.104810       1 runtime.go:78] Observed a panic: "invalid memory address or nil pointer dereference" (runtime error: invalid memory address or nil pointer dereference)
goroutine 310 [running]:
k8s.io/apimachinery/pkg/util/runtime.logPanic(0x1d9a820, 0x3080290)
	/go/src/sigs.k8s.io/cloud-

[2021-06-29 14:45] tjungblu opened #684 "AzureStackHub: panic: runtime error: slice bounds out of range"
Hey there, I'm currently working on getting OpenShift 4.9 running on Azure StackHub. We already have a test cluster running and I'm currently looking into running the [azure-disk-csi-driver-controller](https://github.com/kubernetes-sigs/azuredisk-csi-driver) and making sure all e2e tests in the [CSI suite](https://github.com/kubernetes/kubernetes/blob/588d98440706e317ca0fcc5b510285caaf161e51/test/

[2021-06-29 14:57] andyzhangx commented on #684
cc @songjiaxun

[2021-06-29 15:03] andyzhangx commented on #684
thanks for reporting, I think that's a bug inside disk batch detach operation only on AzureStack. will fix it later.

[2021-07-02 02:10] feiskyer commented on #575
@whihathac I think you need to create such NSG rules manually, or build a controller to do that automatically.

[2021-07-02 02:11] #575 closed

[2021-07-02 07:39] tjungblu commented on #684
Thanks for picking this up so quickly @andyzhangx. I took your changes and ran the e2e test, they pass and there are no crashes anymore. By when can we pull this from upstream? I would love to get this into our next release asap for more testing.

One thing I observed is that when running multiple tests in parallel they are sometimes failing while they run perfectly fine in sequence - there might

[2021-07-03 03:14] andyzhangx commented on #684
@tjungblu I will try to merge this PR into azure disk csi driver next week. About failing cases, are they all related to disk detach? If you could provide controller logs, I could take a look. There could be throttling issues in the tests, so it's better share the controller logs, follow by: https://github.com/kubernetes-sigs/azuredisk-csi-driver/blob/master/docs/csi-debug.md#case1-disk-createdele

[2021-07-03 13:26] #684 closed

[2021-07-07 03:25] feiskyer opened #697 "feat: remove the ipv6 check on ILB"
**Is your feature request related to a problem? Please describe.**

ipv6 on ILB would report an error because of the following check:

https://github.com/kubernetes-sigs/cloud-provider-azure/blob/f8cb009de8b8479baa03343308ed88d434a98131/pkg/provider/azure_loadbalancer.go#L1785-L1790

The check should be removed because ipv6 has been supported now on ILB.

**Describe the solution you'd like in deta

[2021-07-07 13:05] tomkerkhove commented on #697
We are blocked on this so would be nice to have this.

What do you mean by this @feiskyer?

[2021-07-08 02:00] feiskyer commented on #697
@tomkerkhove it means the fixes would also be submitted to kubernetes repo.

[2021-07-08 12:57] keymon opened #698 "Allow define 0.0.0.0/0 as spec.loadBalancerSourceRanges for peered networks"
**Is your feature request related to a problem? Please describe.**

We are peering our private network with some external third party network.

When peering, we can add the flag `AllowVirtualNetworkAccess`, but that means that they can reach every resource in our network, including the AKS nodes.

The solution is to set `AllowVirtualNetworkAccess=false` and get the service controller adding the NS

[2021-07-08 12:58] keymon commented on #698
The solution would be as simple as remove `servicehelpers.IsAllowAll(sourceRanges)`.

Is there any reason why that is there?

[2021-07-10 13:40] grosren opened #699 "LoadBalancer Services with same name on different clusters cant be assigned to static IP adresses in same resource-group"
Setup:
- 1 resource group with 2 static PIPs `ece-XXX-pipaddress-3` and `ece-XXX-pipaddress-4`
- 2 AKS clusters in same subscription
- Both clusters use ISTIO for the ingress gateway with a LB service (default naming convention) `istio-ingressgateway`

We have two almost identical cluster for blue/green deployments and we have two static IP addresses in an already existing resource-group.

**What

[2021-07-14 15:44] aramase opened #704 "Add e2e tests for dual-stack"
**Is your feature request related to a problem? Please describe.**

- Add e2e tests for dual-stack

**Describe the solution you'd like in detail**

**Describe alternatives you've considered**

**Additional context**

[2021-07-14 17:12] jsturtevant opened #705 "Add e2e tests for Load Balancers with Windows Clusters"
**Is your feature request related to a problem?/Why is this needed**

Currently the e2e tests for load balancers are run against Linux clusters but they do not run against Windows.

Possible list of the tests we should enable against Windows:

pull-cloud-provider-azure-e2e-ccm                
pull-cloud-provider-azure-e2e-ccm-capz                   
pull-cloud-provider-azure-e2e-ccm-vmss
pull-clou

[2021-07-14 18:33] CecileRobertMichon opened #706 "In tree 1.21.2 Windows ELB fails to reconcile"
**What happened**:

With standalone VMs (CAPZ cluster) using vmType "vmss", can repro 100% of the time using in tree cloud provider k8s 1.21.2:

Linux ILB + ELB and Windows ILB reconcile successfully:
`I0714 13:08:21.026400       1 azure_loadbalancer.go:1502] reconcileLoadBalancer for service(default/webroha7z-ilb): lb(capz-e2e-3k3e35-internal) finished`
`I0714 13:08:43.680525       1 azure_loadba

[2021-07-14 20:59] CecileRobertMichon commented on #706
The same errors happens with k8s 1.20.8

[2021-07-19 00:54] #697 closed

[2021-07-20 02:23] #638 closed

[2021-07-20 08:00] chetanugale commented on #624
/assign

[2021-07-20 13:04] lobziik opened #715 "Cloud controller manger crashes during startup on Azure Stack because of no zones"
**What happened**:
Recent version of Azure cloud controller manager panicing during startup because of no zones support on Azure Stack
Error comes from this line: https://github.com/kubernetes-sigs/cloud-provider-azure/blob/13f66db1f3eb7dd00f7e35d0b281d4ca17965c61/pkg/provider/azure.go#L579

**What you expected to happen**:
It should starts up successfully.

**How to reproduce it**:
Try to run CCM

[2021-07-21 01:50] feiskyer commented on #715
@lobziik could you share the error logs? I think we could skip the sync logic when the API detects zone is not supported.

[2021-07-21 11:14] lobziik commented on #715
@feiskyer, yup, think the only way is to skip this check for Stack.

Log, stripped a bit:
[code]

[2021-07-21 16:53] m-deepakraja opened #717 "Deploy Cloud Controller Manager"
https://kubernetes-sigs.github.io/cloud-provider-azure/install/example/out-of-tree.md link doesn't exist.

But it is supposed to show sample deployment examples for cloud provider

[2021-07-22 01:39] feiskyer commented on #717
@m-deepakraja All the links could be found in docs https://kubernetes-sigs.github.io/cloud-provider-azure/example/out-of-tree/.

Where did you find that link? let's fix the links if it is broken somewhere.

[2021-07-23 19:33] m-deepakraja commented on #717
I found the link here
https://kubernetes-sigs.github.io/cloud-provider-azure/install/azure-ccm/#azuredisk-and-azurefile

"Please refer examples "here" for sample deployment manifests for above components."

"here" link is broken

[2021-07-26 02:04] feiskyer commented on #717
thanks for the info. I would fix the links

[2021-07-26 04:27] #717 closed

[2021-07-26 18:08] CecileRobertMichon commented on #706
/assign @nilo19

[2021-07-26 20:47] m-deepakraja commented on #717
https://kubernetes-sigs.github.io/cloud-provider-azure/install/azure-ccm/#azure-cloud-node-manager
Sorry, the link is broken for azure-cloud-node-manager

![image](https://user-images.githubusercontent.com/11572323/127056882-0b599151-c71e-40d3-aeae-b05679f33e9d.png)

[2021-07-26 21:08] m-deepakraja commented on #717
Also, I have a question about the version matrix : https://github.com/kubernetes-sigs/cloud-provider-azure#current-status

I see that cloud-provider-azure has been GA since v1.0.0.
Lets say I want to use, kubernetes with 1.19, can I use the latest cloud-provider-azure(v1.0.3) or should I only use v0.6.0 ?
Is it backward compatible ?

[2021-07-27 00:39] feiskyer commented on #717
v1.0.3 should be used. We don't guarantee backward compatibility.

[2021-07-27 02:36] nilo19 commented on #706
Can we add a windows + standalone vm check-in or regular test?

[2021-07-27 04:28] nilo19 commented on #706
@CecileRobertMichon could you test out-of-tree ccm, which contains the fix. https://github.com/kubernetes-sigs/cloud-provider-azure/blob/e69e42bf118e76a95f4c8cdd30f208eaf429d7b5/pkg/provider/azure_vmss.go#L1375

[2021-07-27 04:28] nilo19 commented on #706
If it works, I will cherry pick it into k/k.

[2021-07-27 18:19] CecileRobertMichon commented on #706
opened https://github.com/kubernetes-sigs/cloud-provider-azure/issues/705

[2021-07-29 00:06] CecileRobertMichon commented on #706
@nilo19 I can confirm I cannot repro this with out-of-tree. This only happens with in-tree. Please go ahead and cherry-pick in k/k.

[2021-07-29 16:34] CecileRobertMichon commented on #706
@nilo19 we can also repro this with Linux

[code]

[2021-07-29 23:43] CecileRobertMichon commented on #705
@nilo19 @feiskyer I don't see anything in https://github.com/kubernetes-sigs/cloud-provider-azure/blob/master/tests/e2e/network/ensureloadbalancer.go that tests Windows services specifically, can we add some tests for deployments with os selector "windows"?

[2021-07-30 05:06] feiskyer commented on #705
@CecileRobertMichon agreed to add Windows service tests. Does capz support Windows nodes now? if so, we could add one and use capz to validate the Windows service connectivity.

[2021-07-30 05:15] feiskyer commented on #612
/remove-lifecycle stale

[2021-07-30 07:21] #706 closed

[2021-07-30 16:24] CecileRobertMichon commented on #706
@nilo19 @feiskyer would it be possible to also cherry pick this to 1.20 and 1.21?

[2021-07-30 20:09] CecileRobertMichon commented on #705
It does. I opened https://github.com/kubernetes-sigs/cluster-api-provider-azure/pull/1563 so we can use it to test out of tree with Windows.

[2021-07-31 01:03] rajdhandus commented on #438
I am facing the same issue in an aks-engine cluster(v1.20.8).. Not able to create a kubernetes service with a static IPv6 address with an associated IPv4 servicePublicIPAddress. Is there a workaround for this issue? Please let me know..

[code]

[code]

[2021-08-02 06:52] feiskyer commented on #289
/remove-lifecycle stale

[2021-08-02 07:20] nilo19 commented on #438
Workaround: build the ccm image from master. If you provision the cluster by aks-engine, please turn off the out-of-tree node ipam controller by setting `--allocate-node-cidrs=false` in `/etc/kubernetes/manifests/cloud-provider-azure.yaml` after logging into the master.

[2021-08-04 18:27] jsturtevant commented on #706
for reference:

https://github.com/kubernetes/kubernetes/pull/104066
https://github.com/kubernetes/kubernetes/pull/104068
https://github.com/kubernetes/kubernetes/pull/104029

[2021-08-05 05:34] feiskyer opened #735 "Update k8s.io dependencies to v1.22.0"
**Is your feature request related to a problem?/Why is this needed**

Kubernetes v1.22.0 has [released](https://github.com/kubernetes/kubernetes/releases/tag/v1.22.0), we should upgrade k8s.io dependencies to it.

**Describe the solution you'd like in detail**

**Describe alternatives you've considered**

**Additional context**

[2021-08-05 12:35] #715 closed

[2021-08-05 17:49] m-deepakraja commented on #717
@feiskyer : Thanks for the response.
I have two more questions  :
1.Upgrade story : Is it compatible for upgrades?  for eg: I have kubernetes 1.20.x with v0.7.6 cloud provider, then I upgrade the kubernetes to 1.21.x and upgrade the cloud provider to v1.0.3. Will it work ? Like at some point during the upgrade, few control plane nodes will be @ 1.21 with v1.0.3 and some control plane nodes will be

[2021-08-06 02:32] feiskyer commented on #717
1. yes, it would work
2. yes, it is also a stable version (and it is also actively maintained as you can see the new changes in release branch).

[2021-08-07 10:27] #735 closed

[2021-08-09 02:39] feiskyer opened #740 "FindSecurityRule should compare protocol with case-insensitive"
**What happened**:

Although cloud provider is always using `network.ProbeProtocolTCP` in security rule's protocol property, the protocol may still be changed manually by other clients to `TCP`. When this happens, the security rule would be deleted because the protocol is compared in a case-sensitive way:

https://github.com/kubernetes-sigs/cloud-provider-azure/blob/d3647067a2ee6de73bca2ab97e9b47a

[2021-08-09 07:03] feiskyer opened #742 "VMSS instance with powerstate stopped may be still under creating"
**What happened**:

From Azure Virtual Machine [docs](https://docs.microsoft.com/en-us/azure/virtual-machines/states-billing), stopped power state means:

This means the provisioning state should also be checked to determine a VM is stopped or not in `InstanceShutdownByProviderID()`.

https://github.com/kubernetes-sigs/cloud-provider-azure/blob/884b6c1124e6a18ef723b050dee00b19230c1c5f/pkg/provider

[2021-08-09 12:42] feiskyer commented on #740
need cherry-pick the fix to kubernetes repo and old releases

[2021-08-09 16:19] ialidzhikov opened #744 "`--version` flag reports incorrect version"
**What happened**:

`--version` flag reports incorrect version.

**What you expected to happen**:

`--version` to report the correct component version.

**How to reproduce it**:

[code]

`Major`, `Minor`, `GitTreeState` fields are empty. `GitVersion`, `GitCommit` are wrongly set to latest.

**Anything else we need to know?**:

**Environment**:
aws-cloud-controller-manager version: v1.0.3

[2021-08-09 21:07] ialidzhikov commented on #744
/kind bug

[2021-08-10 05:39] feiskyer commented on #744
thanks for reporting the issue. It should be caused by some issues in build scripts

/assign

[2021-08-10 13:21] #742 closed

[2021-08-10 14:06] ialidzhikov commented on #744
The output of `--version=raw` can be still improved after #745:

[code]

`Major`, `Minor`, `GitTreeState` fields are still empty.

/reopen

[2021-08-11 03:48] feiskyer commented on #744
Sorry, I didn't notice this issue. Let's fix with a follow PR.

[2021-08-12 01:27] #744 closed

[2021-08-12 18:28] m-deepakraja commented on #717
@feiskyer : Thanks for the response. One last question about the doc.
In this doc, I see that while deploying cloud controller manager, it is suggesting to disable cloud-node controller.
https://kubernetes-sigs.github.io/cloud-provider-azure/install/azure-ccm/#azure-cloud-controller-manager

why does it needs to be disabled? Is this the in-built node controller which is being disabled ?

and we de

[2021-08-12 23:55] feiskyer commented on #717
1. cloud-node-manager needs to be deployed on all nodes (including Windows), while cloud-controller-manager only needs to be deployed on master
2. It is because we switch node controller to a daemonset cloud-node-manager

[2021-08-18 06:45] nilo19 opened #755 "Cloud provider should not tag user-managed route table"
**What happened**:

The cloud provider will tag the route table if the tags are explictly set in the configuration file. However, the cloud provider should not touch the user-managed route table.

**What you expected to happen**:

**How to reproduce it**:

Create a aks kubenet cluster with byo route table.

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl ve

[2021-08-18 17:41] m-deepakraja opened #756 "Cloud controller manager crashes when a new non-master node is added"
**What happened**:
Cloud controller manager is started in the master node and is running. When a new node(non-master) is added, cloud controller manager crashes with null pointer exception during update routes.
**Cloud controller branch/version - v0.7.6**

Following is the call stack :
2021-08-18T17:29:35.371478564Z stderr F I0818 17:29:35.371402       1 controller.go:708] Detected change in list

[2021-08-18 22:58] m-deepakraja commented on #756
Cloud config :
{
    "cloud": "AzurePublicCloud",
    "tenantId": "xxx",
    "subscriptionId": "xxx",
    "resourceGroup": "xxx",
    "location": "eastus",
    "vmType": "vmss",
    "subnetName": "default",
    "securityGroupName": "xxx",
    "securityGroupResourceGroup": "xxx",
    "vnetName": "xxx",
    "vnetResourceGroup": "xxx",
    "cloudProviderBackoffMode": "v2",
    "cloudProviderBackoff":

[2021-08-19 06:22] feiskyer commented on #756
An error should be reported in the logs instead of panic.

However, could you set `routeTableName` in the cloud config file and retry again?

[2021-08-19 07:17] #740 closed

[2021-08-20 03:54] m-deepakraja commented on #756
Hi @feiskyer
creating a routetable and passing it via config worked. I did see cloud controller manager logs to verify that it worked as expected.

[2021-08-20 15:48] andyzhangx opened #758 "fix incorrect userAgent of cloud controller manager"
**What happened**:
it's now
[code]

**What you expected to happen**:

**How to reproduce it**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
- OS (e.g. from /etc/os-release):
- Kernel (e.g. `uname -a`):
- Install tools:
- Others:

/kind bug

[2021-08-25 00:04] #758 closed

[2021-08-25 02:18] feiskyer commented on #658
/assign @nilo19

Still need cherry-picking to kubernetes repo

[2021-08-25 13:05] feiskyer commented on #639
/remove-lifecycle stale

[2021-08-25 13:06] feiskyer commented on #639
this is still pending on new VMSS Flex APIs (together with Go SDK)

[2021-08-31 18:54] brandond commented on #289
I see that the v1.2 milestone isn't due until the end of December, do you realistically think it'll be that long before we have a working credential provider plugin for Azure?

[2021-09-01 02:01] nilo19 opened #787 "More detailed error log about "instance not found""
#### What would you like to be added:

When the cloud provider reports cloudprovider.InstanceNotFound, the corresponding information is not enough in the error message. For example:

[code]

#### Why is this needed:

It will make the debug a lot easier with the low log level.

[2021-09-01 04:02] feiskyer commented on #787
/milestone v1.1

[2021-09-01 04:05] feiskyer opened #788 "Add "k8s-azure-" prefix for cloud provider managed tags"
#### What would you like to be added:

As lots of customers are using Azure Policy to apply their own tags on various Azure resources, to avoid conflicts with them, cloud provider should add "k8s-azure-" prefix for all its managed tags. A list of tags should also be published as well.

Legacy Tag | New Tag | Comment
-- | -- | --
service | k8s-azure-service | Applied on public IP
kubernetes-cluster

[2021-09-01 04:07] feiskyer commented on #289
@brandond the milestone is used for tracking what would be delivered next. It doesn't mean a single task would need a few months.

/kind feature

[2021-09-01 05:19] nilo19 opened #789 "Ignore the instance not found error when cleaning up unwanted nodes from LB backend pool"
#### What happened:

https://github.com/kubernetes-sigs/cloud-provider-azure/blob/2e6c2a25045d3fdb0c6727cd1eff7b1b79657c48/pkg/provider/azure_loadbalancer.go#L1889

We should ignore the instance not found error when cleaning up unwanted nodes from LB backend pool.

#### What you expected to happen:

#### How to reproduce it (as minimally and precisely as possible):

#### Anything else we need to k

[2021-09-02 04:56] feiskyer commented on #658
Refer https://github.com/kubernetes/kubernetes/pull/104705

[2021-09-02 16:35] jackfrancis opened #792 "SyncLoadBalancerFailed due to etag mismatch"
#### What happened:

I've been testing out large cluster scenarios, and validating that I can create basic svc resources as the number of nodes increases. In increments of 500, I've been able to successfully create a basic LoadBalancer-backed svc with 500, 1000, 1500, 2000, 2500, and 3000 nodes. This is the svc definition I'm using:

[code]

However, once I scaled out to 3500 nodes, I observe that

[2021-09-02 16:35] jackfrancis commented on #792
Easier to read here:

Warning  SyncLoadBalancerFailed  104s                 service-controller  Error syncing load balancer: failed to ensure load balancer: Retriable: false, RetryAfter: 0s, HTTPStatusCode: 429, RawError: Retriable: false, RetryAfter: 0s, HTTPStatusCode: 429, RawError: {"Error":{"Details":[{"Code":"GatewayError","Message":"Error occurred in resource provider infrastructure service

[2021-09-02 16:36] jackfrancis commented on #792
And more information:

"error": {
    "details": [
      {
        "code": "RetryableErrorDueToAnotherOperation",
        "message": "Operation ValidateVMScaleSetOperation (f28918c7-228c-47ce-a71b-3e06ca542012) is updating resource /subscriptions/<sub id>/resourceGroups/KUBERNETES-WESTUS2-12602/providers/Microsoft.Compute/virtualMachineScaleSets/k8s-agentpool1-35287130-vmss/validate. The call can

[2021-09-02 18:37] jackfrancis commented on #792
I will try to repro using `mcr.microsoft.com/oss/kubernetes/azure-cloud-controller-manager:v1.1.1` today. Will report back...

[2021-09-02 23:09] jackfrancis commented on #792
I can repro this with the latest out of tree cloud-provider-azure as well:

[code]

[2021-09-02 23:10] jackfrancis commented on #792
But, it looks to be temporary with the latest code! LB eventually reconciled.

[2021-09-06 01:50] feiskyer commented on #642
@devigned are you still available to work on this?

[2021-09-06 14:24] #789 closed

[2021-09-07 14:41] devigned commented on #642
Yes, but it there are a couple things ahead of this. I think I'll be able to start it toward the end of the month.

/remove-lifecycle stale

[2021-09-10 13:53] JoelSpeed opened #800 "Support running Cloud Node Manager as a Windows Service"
#### What would you like to be added:

Other components that run on Windows nodes (eg Kubelet or Kube-Proxy) have the ability to be run as a Windows service.
[Flags are added](https://github.com/kubernetes/kubernetes/blob/5be7bb413d15b7ba302b65517746d98cbe9a4081/cmd/kube-proxy/app/init_windows.go) that adjust the init process and optionally, initialise the compiled exe as a Windows service.
The ac

[2021-09-16 13:47] elmiko commented on #800
we discussed this a little bit at the sig cloud provider meeting last night, there aren't any notes in the agenda but the meeting was recorded ([agenda](https://docs.google.com/document/d/1OZE-ub-v6B8y-GuaWejL-vU_f9jsjBbrim4LtTfxssw/edit)).

my general takeaway is that there is a need for the windows specific binary to be made, and there is some specialized initialisation logic that is currently u

[2021-09-18 05:44] feiskyer opened #809 "feat: support platformSubFaultDomain as node labels"
#### What would you like to be added:

IMDS API version 2021-10-21 would add support platformSubFaultDomain and cloud provider should fetch it and expose as a node label `topology.kubernetes.azure.com/sub-fault-domain`.

IMDS API format:

[code]

Sample response:

[code]

#### Why is this needed:

[2021-09-21 01:04] andrewsykim commented on #800
@feiskyer to share more details

[2021-09-21 01:39] feiskyer commented on #792
etag mismatch is an expected error when the LB is changed from other services (e.g. PUT VMSS may change LB configuration when adding or removing backend address pools). Azure network and VMSS teams are working together to improve the general performance and we could expect less errors and less reconciling time in the future.

[2021-09-21 01:39] #792 closed

[2021-09-21 01:43] feiskyer commented on #800
The image `mcr.microsoft.com/oss/kubernetes/azure-cloud-node-manager:v1.1.1` supports both Windows and Linux nodes:

[code]

This is also reasonable; we could add it in the next release.

@JoelSpeed before the new flag is added, is it possible for you to run cnm as daemonsets on both Windows and Linux nodes?

[2021-09-21 09:44] JoelSpeed commented on #800
Unfortunately we have a requirement that means we cannot run the CNM as a daemonset on Windows nodes, so we need support for the Windows service initialisation code to run the CNM directly on the Windows host

[2021-09-24 01:55] feiskyer opened #814 "Add support for dualstack service"
#### What would you like to be added:

Only single stack service (either ipv4 or ipv6) is supported today as `service.Spec.ClusterIP` is used to determine the public IP family. We should add support for dualstack services and allocate both ipv4 and ipv6 public IPs.

#### Why is this needed:

[2021-09-24 06:34] feiskyer commented on #658
cherry-pick PR has been merged.

[2021-09-24 06:34] #658 closed

[2021-09-24 06:34] feiskyer commented on #624
Added in #748.

[2021-09-24 06:34] #624 closed

[2021-09-26 04:56] #788 closed

[2021-09-26 06:47] #787 closed

[2021-09-26 09:58] #756 closed

[2021-09-28 11:24] JoelSpeed commented on #800
I've implemented a PR to add support for this, it didn't take very long as it's mainly copy/paste, but perhaps we can continue the conversation on the PR, it's relatively small

[2021-09-29 03:40] #800 closed

[2021-09-29 06:35] nilo19 commented on #417
Will test it in AKS clusters.

[2021-09-29 06:35] #417 closed

[2021-09-29 15:31] lobziik commented on #676
Might worth to check credentials, I have feeling that smth wrong with is it. Worth try to put it into cloud-config for test if there are no credentials.

Namely parameters:
- aadClientId
- aadClientSecret

Doc: https://kubernetes-sigs.github.io/cloud-provider-azure/install/configs/

[2021-10-01 22:08] m-deepakraja commented on #717
@feiskyer
Question about this config : allocate-node-cidrs
According to this doc : https://github.com/kubernetes-sigs/cloud-provider-azure/blob/19228b1629f36b6ac63b07128275435f67a8ebb0/site/content/en/topics/ipam.md#configurations

We have to set **allocate-node-cidrs**  to false in kube-controller-manager to disable the in-tree node IPAM controller.

But in this example for out-of-tree,
kube-cont

[2021-10-03 06:14] #755 closed

[2021-10-06 21:26] keymon commented on #698
/remove-lifecycle stale

On Wed, 6 Oct 2021, 14:25 Kubernetes Triage Robot, ***@***.***>
wrote:

[2021-10-08 00:49] mainred opened #829 "arm64 support for Windows cloud node manager image and refine the dev doc"
#### What would you like to be added:
support build and push windows arm64 docker images and refine the dev doc or code so that it's friendly to build windows docker images through Makefile target by one shot.

Also, we want to `make push` to push a multi-arch and multi-os node image.

#### Why is this needed:

[2021-10-11 01:10] mainred opened #833 "flakey tests in pull-cloud-provider-azure-e2e-ccm-capz"
#### Which jobs are failing:
pull-cloud-provider-azure-e2e-ccm-capz

#### Which test(s) are failing:
TestAzureTest
1. Cloud provider Azure e2e suite: Ensure LoadBalancer should support updating internal IP when updating internal service
2. Cloud provider Azure e2e suite: [StandardLoadBalancer] Standard load balancer should make outbound IP of pod same as in SLB's outbound rules

#### Since when ha

[2021-10-11 01:46] feiskyer opened #834 "Switch to versioned cluster-api-provider-azure (capz)"
#### Which jobs are failing:

Refer #833, pull-cloud-provider-azure-e2e-ccm-capz has been failed because of changes from capz master branch. As the test here is aiming to validate functionalities of cloud-provider-azure instead of capz, the released/stable capz should be used in the test.

[2021-10-11 02:16] Shuanglu opened #838 "CCM sends deletion request regarding the LB which doesn't exist during the reconciling"
#### What happened:
We have a cluster with UDR outbound type and has "tags" in the azure.json.
When we provision the internal LB, there are two reconciling operations. 1st one is to ensure the internal LB and 2nd one flips the internal LB annotation to ensure again.
https://github.com/kubernetes/kubernetes/blob/v1.21.2/staging/src/k8s.io/legacy-cloud-providers/azure/azure_loadbalancer.go#L211
In t

[2021-10-11 02:18] feiskyer commented on #838
/assign @nilo19

[2021-10-12 07:28] #833 closed, assigned to nobody

[2021-10-12 08:27] #676 closed

[2021-10-13 01:29] #834 closed

[2021-10-15 08:40] feiskyer opened #851 "VMSS virtual machines in creating state may be removed from SLB backend address pool and added back later"
#### What happened:

The VMSS virtual machines in creating state may be removed from SLB backend address pool even if it is desired. This is because to support https://kubernetes-sigs.github.io/cloud-provider-azure/topics/loadbalancer/#exclude-nodes-from-the-load-balancer, the following logics are used to check whether a node should be PUT in LB backend pool or not:

https://github.com/kubernetes-

[2021-10-19 13:18] #838 closed, assigned to nilo19

[2021-10-21 03:40] djsly commented on #851
@feiskyer quick last questions, should we expect this to hit upstream and if yes, which version will it be cherry picked into ?

Finally, since the fix touches mostly the Controller-Manager, will AKS perform a hit fix on this side or will the users have to upgrade to a specific version of the K8S (AKS) ?

thanks!

[2021-10-25 04:11] feiskyer opened #872 "Add support for Private Link Service when exposing service as LoadBalancer"
#### What would you like to be added:

Add support for Private Link Service when exposing service as LoadBalancer with a new annotation `service.beta.kubernetes.io/azure-private-link-service: enabled`

Without this, customers have to perform the following steps manually:

step 1): ILB service creation: https://docs.microsoft.com/en-us/azure/aks/internal-lb#create-an-internal-load-balancer
step 2):

[2021-10-25 05:24] feiskyer opened #873 "Add e2e tests for mixed protocols services"
Refer https://kubernetes.io/docs/concepts/services-networking/service/#load-balancers-with-mixed-protocol-types, e2e tests for mixed protocols services should be added.

[2021-10-25 21:05] m-deepakraja opened #874 "v1.1.2 release doc says windows service support for node manager is supported, but seems like that change is not cherry-picked"
windows service support for node manager change is missing in 1.1.2

cherry pick to 1.1.2 is missing
The file in master : https://github.com/kubernetes-sigs/cloud-provider-azure/blob/master/cmd/cloud-node-manager/app/init_windows.go
this file is initializing windows service.

is missing in v1.1.2

https://github.com/kubernetes-sigs/cloud-provider-azure/tree/v1.1.2/cmd/cloud-node-manager/app

Can y

[2021-10-26 01:14] nilo19 opened #875 "Outdated ipv4 route will not be cleaned if the corresponding node is removed when enabling dual-stack"
#### What happened:

Although the dual-stack is enabled by default since v1.21.0, there could be outdated ipv4 routes in the route table. In this case, removing a node will not trigger the deletion of the outdated ipv4 route.

#### What you expected to happen:

The ipv4 route should be removed.

#### How to reproduce it (as minimally and precisely as possible):

Create a 1.20.x AKS cluster and upg

[2021-10-26 05:20] feiskyer opened #878 "Publish release notes automatically with github actions"
When cutting new releases, the following commands could be used to generate the release notes:

[code]

The same commands could be executed in github actions and hence the release notes could be published automatically.

[2021-10-26 05:24] feiskyer opened #879 "Publish cloud-node-manager binaries for new releases"
With scenarios like https://github.com/kubernetes-sigs/cloud-provider-azure/pull/823, cloud-node-manager couldn't be run as daemonsets, hence cloud-node-manager.exe is required to run it as Windows services.

To avoid asking customers to build the binaries themselves, the binaries for cloud-node-manager should be built and published for new releases.

[2021-10-26 13:31] #875 closed, assigned to nobody

[2021-10-27 20:29] bridgetkromhout opened #881 "version skew/matching k8s releases"
Request from sig cloud provider: can we match the release versions for the sig cloud provider to the k8s versions? The current version skew is in https://github.com/kubernetes-sigs/cloud-provider-azure#current-status but the version numbers don't match k8s versions.

[2021-10-29 04:15] feiskyer opened #887 "Support special characters in tags"
#### What would you like to be added:

Refer https://kubernetes-sigs.github.io/cloud-provider-azure/topics/tagging-resources/, because of the configuration format  `"tags": "a=b,c=d",`, special characters `=` and `,` couldn't be used directly the tags configuration.

To support random characters in the tags, key-value pairs should be allowed in the configuration `tags` and `systemTags`.

#### Why

[2021-11-09 01:46] #887 closed

[2021-11-10 02:53] #653 closed

[2021-11-12 07:20] Shuanglu opened #900 "Avoid adding tags on the BYO PIP or clean up the tag once delete the svc"
#### What happened:
When user creates the LB svc with BYO PIP and add the DNS name annotation, KCM tagged the service but didn't clean up once the service is deleted
https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/legacy-cloud-providers/azure/azure_loadbalancer.go#L745

there was commit to avoid tagging BYO PIP but it looks like the tag field is still changed. I might miss

[2021-11-13 00:30] #873 closed

[2021-11-16 03:40] feiskyer commented on #900
Thanks for reporting the issue. Though other tags have been removed for BYO PIP scenario, but `kubernetes-dns-label-service` is a  special one because it would also change the configuration public IP address (while all others are only changing `tags` property).

To keep tracking the dns configuration of a PIP, I think this one is still required. or else it may be changed to a different dns later b

[2021-11-17 07:35] Shuanglu commented on #900
Thanks for the explanation. Maybe it's better to directly mention that there might be conflict 'tag' on the BYO PIP when we return the error? Most of users would check if they have existing service using the DNS instead of checking the tags according to the error message
https://github.com/kubernetes-sigs/cloud-provider-azure/blob/master/pkg/provider/azure_loadbalancer.go#L1161

[2021-11-19 05:24] veezhang opened #908 "Does it support EnableMultipleStandardLoadBalancers now on aks"
Does it support EnableMultipleStandardLoadBalancers now on aks?
I found that there only support 8 Private Link Server per Load Balance(`kubernetes-internal`).
But I want to add more Private Link Server per aks.

[2021-11-19 07:34] feiskyer commented on #908
Not supported yet

[2021-11-24 13:04] PSanetra opened #914 "Static IP is deleted when service is deleted"
#### What happened:
We had a service with a static `loadBalancerIP`. The ip resource was located in a special resource group using the annotation `service.beta.kubernetes.io/azure-load-balancer-resource-group`.

After deleting the service temporarily, the cloud provider deleted the ip resource although it was not created by the provider but instead via terraform.

#### What you expected to happen:

[2021-11-25 02:08] feiskyer commented on #914
Thanks for reporting the issue. The [fix](https://github.com/kubernetes/kubernetes/pull/100691) has been included in 1.20.6+, 1.21.1+ or >=1.22.0. Could you upgrade the cluster to newer versions?

And please notice that if you are using versions 1.20.0-1.20.5, or have used these versions with BYO public IP, you also need to remove Tags (service, kubernetes-cluster-name) from BYO public IP even if

[2021-11-25 10:19] PSanetra commented on #914
@feiskyer thank you. Removing the tag has solved our issue.

[2021-11-25 10:19] #914 closed

[2021-11-29 02:47] feiskyer opened #917 "Feature: add support for loadBalancerClass"
#### What would you like to be added:

Add support for https://kubernetes.io/docs/concepts/services-networking/service/#load-balancer-class:

#### Why is this needed:

[2021-11-29 04:11] #908 closed

[2021-11-29 07:33] nilo19 opened #919 "Deprecate aks-engine e2e test"
#### What would you like to be added:

Deprecate aks-engine based e2e test and migrate to use capz.

#### Why is this needed:

[2021-11-29 22:10] CecileRobertMichon commented on #881
@feiskyer any idea of when this could be done?

[2021-11-30 02:43] feiskyer commented on #881
We would cut a new version after 1.23.0 comes out (would need to update go modules to 1.23).

[2021-12-05 07:34] nilo19 opened #923 "Create the primary SLB if it does not exist when sharing it"
#### What happened:

Some cluster provisioning tools such as aks-engine creates an outbound rule in the SLB, so it will not be deleted when no service is referring to it. However, others like capz does not manage the outbound configuration and the primary SLB can be deleted. In this scenario, it should be created when some agent pools are supposed to share the primary SLB.

#### What you expected

[2021-12-05 08:12] nilo19 opened #924 "ListManagedLBs should always include the primary load balancer"
#### What happened:

If all nodes in an agent pool are excluded from load balancers, the corresponding agent pool LB will be treated as an unmanaged LB. We should always include the primary SLB in ListManagedLBs and remove orphaned ones.

#### What you expected to happen:

#### How to reproduce it (as minimally and precisely as possible):

#### Anything else we need to know?:

#### Environment:

-

[2021-12-06 03:39] MartinForReal commented on #872
/assign

[2021-12-06 06:14] MartinForReal commented on #872
IMHO, we should divide these feature into two parts: integration setup and PLS/PE lifecycle management. Because PLS can be shared between different services and event between difference resource instances. Thus, PLS should not be maintained in service object lifecycle. However,  I think it's reasonable to create a PE object for the service object when appropriate PLS resources is specified because

[2021-12-06 07:23] feiskyer commented on #872
No, PE is not involved here. The feature here only needs to create a new PLS for the service associated ILB frontend configurations.

And by the way, PLS couldn't be shared by multiple services (PLS is associated to ILB frontend configurations, and ILB frontend configuration is 1:1 map to k8s service).

[2021-12-06 07:30] MartinForReal commented on #872
Thanks for pointing out!

[2021-12-06 07:51] MSSedusch commented on #872
can we also somehow include the approval process into K8s? It would be nice to update the K8s object if there is a connection request(s), along with the required information to decide if the connection request can be approved (request message, source resource ID), and a way to approve/decline the request.

Also, should this feature be Azure only or can this be a generic extension that Azure, AWS,

[2021-12-06 16:40] pierluigilenoci commented on #430
@feiskyer so what happens to this issue?

[2021-12-07 15:44] #699 closed

[2021-12-08 09:55] MartinForReal commented on #430
related: https://github.com/Azure/azure-sdk-for-go/issues/14920

[2021-12-09 05:52] nilo19 opened #933 "Categorize 404 error code instead of ignoring all of them"
#### What happened:

The 404 is ignored when [removing load balancer](https://github.com/kubernetes-sigs/cloud-provider-azure/blob/master/pkg/provider/azure_loadbalancer.go#L185) because we don't want to block the service deletion if the end user proactively removes the azure resources. But sometimes the cluster autoscaler will trigger the deletion of VM/VMSS VM instances, and the cloud provider w

[2021-12-09 12:58] feiskyer commented on #872
@MSSedusch PLS connection approval is a different topic. Both its API and approval process are different from k8s service objects. I think it's better for customer to use PLS API for that since PLS API is required anyway to create a PE.

[2021-12-09 13:53] MSSedusch commented on #872
I think the PE creation is outside of the scope of Kubernetes, I assume in this scenario, the person that creates the PE would not be the operator of the K8s cluster but rather a customer that uses a service that is hosted on K8s.

Approving the connection on PLS side updates the PLS resource and since K8s creates the PLS resource, it feels like a good idea to also approve the connection inside K8

[2021-12-14 17:17] jackfrancis commented on #851
@nilo19 @feiskyer when was this bug introduced? Are there previous versions of Kubernetes that don't have this error?

cc @Michael-Sinz

[2021-12-16 07:21] delulu commented on #851
From the description above, it seems this bug is introduced in v.1.20.0 to support "Excluding nodes from Azure LoadBalancer".

[2021-12-16 11:29] feiskyer commented on #851
yes, the issue was introduced in v1.20.0

[2021-12-17 10:24] ialidzhikov opened #943 "Help text of `--feature-gates` flag is wrong"
#### What happened:
The help text of `--feature-gates` flag lists irrelevant feature gates and does not list the relevant ones - like `IPv6DualStack`.

#### What you expected to happen:
The help text of `--feature-gates` flag to list only feature gates that are relevant for the azure CCM.

#### How to reproduce it (as minimally and precisely as possible):
[code]

#### Environment:

- Kubernetes ve

[2021-12-18 10:00] #923 closed

[2021-12-21 06:35] nilo19 commented on #943
@ialidzhikov it has been gradurated and removed since v1.23.0. https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG/CHANGELOG-1.23.md#ipv4ipv6-dual-stack-networking-graduates-to-ga

[2021-12-21 06:36] #924 closed

[2021-12-21 06:36] nilo19 commented on #881
released v1.23.0.

[2021-12-21 06:36] #881 closed

[2021-12-21 07:11] ialidzhikov commented on #943
Still the `--help` output for feature gates is quite wrong and lists kube-apiserver feature gates that have no handling in the azure CCM code. In the `-help` output I would like to see only feature gates that are supported by azure CCM.

/reopen

[2021-12-21 08:10] nilo19 commented on #943
We don't have dedicated feature gates and this option is not managed by us as well.

[2021-12-21 08:44] ialidzhikov commented on #943
Instead of reusing the FeatureGates from the apiserver pkg, you can create your own FeatureGate and add only the cloud-provider feature gates (not sure whether there is already such interface like `SetupCurrentKubernetesSpecificFeatureGates`  https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/controller-manager/pkg/features/kube_features.go for CCM features specific feature ga

[2021-12-21 08:46] nilo19 commented on #943
@ialidzhikov we control the feature by config file and I don't think the feature gate is needed.

[2021-12-21 08:51] ialidzhikov commented on #943
You say that `--feature-gates` flag is not needed at all?

[2021-12-21 08:53] nilo19 commented on #943
I mean we don't need dedicated feature gates to control the features of the cloud provider.

[2021-12-22 07:15] MartinForReal opened #948 "Add more parameters support to annotations in order to customize probe behavior."
#### What would you like to be added:

Add  numOfProbe and probeInterval annotation to supported annotation list in order to customize probe behavior.

#### Why is this needed:
Customer may want to customize health probe behavior rather than using default configuration when they are running mission critical workloads.

[2021-12-22 10:15] MartinForReal opened #949 "Health probe configuration should be applied to specific port."
#### What happened:

Health probe configurations are applied to all ports of the service.

#### What you expected to happen:

Health probe configuration should be applied to specific port.

#### How to reproduce it (as minimally and precisely as possible):

[code]

#### Anything else we need to know?:

Nothing else

#### Environment:
 Not needed.

[2021-12-22 12:17] MartinForReal commented on #949
we may need to alter the annotation pattern to
[code]
And to keep the provider backward compatible, We could apply health probe configuration to the first port.

@feiskyer @nilo19 Could you please give some advice?

[2021-12-23 07:47] nilo19 opened #951 "Refine hack/update-mock-clients.sh"
#### What happened:

There are two kinds of problems in `hack/update-mock-clients.sh`:
1. the local source path will show up in the code, e.g.,
[code]
2. many unnecessary changes about punctuation due to different versions of mockgen binary.

I thinks it would be better if the mockgen is performed from a container.

#### What you expected to happen:

#### How to reproduce it (as minimally and prec

[2021-12-24 01:16] feiskyer commented on #951
What about installing a fixed version inside "hack/update-mock-clients.sh" script? (so that it could be run on MacOS/WSL without docker)

[2021-12-24 01:28] feiskyer commented on #814
/remove-lifecycle stale

[2021-12-24 03:43] feiskyer commented on #949
Agreed, because no port is defined in the annotation, the protocol is applied to all ports. +1 to add a new annotation for overwriting the protocol for a specific port.

[2021-12-24 04:06] MartinForReal opened #952 "Default value of health probe interval is not consistent with azure default"
#### What happened:

As documented in [Azure docs](https://docs.microsoft.com/en-us/rest/api/load-balancer/load-balancers/create-or-update#probe), default Probe Interval is 15 seconds. Minimum interval allowed is 5 second. And default probe interval in cloud provider is 5 seconds. Should we keep align with azure default value policy or add extra docs for the  difference?

#### What you expected to

[2021-12-24 04:07] MartinForReal commented on #949
/assign

[2021-12-27 02:29] feiskyer commented on #948
Reopen because we still need to do the cherry-picking.

[2021-12-27 02:33] MartinForReal commented on #948
related: #949

[2021-12-27 07:25] MartinForReal commented on #949
Following parameter should be per-port specific and should be depreciated later.

https://github.com/kubernetes-sigs/cloud-provider-azure/blob/bb44e05c22914dddb2009871ea79b5e7577553c6/pkg/consts/consts.go#L258-L273

In order to keep backward compatible, probe configuration is applied only when there is only one port defined in service. Otherwise, the provider should reject the input params and thr

[2021-12-27 07:32] nilo19 commented on #949
sgtm

[2021-12-27 07:48] feiskyer commented on #949
Why introducing this limitation? Could we fallback to port number if the name is not defined?

[2021-12-27 07:51] nilo19 commented on #949
I think that's because of the new annotation pattern

[code]

[2021-12-27 07:56] MartinForReal commented on #951
Source Path is hard to change if we don't use container.
https://github.com/golang/mock/blob/aba2ff9a6844d5e3289e8472d3217d5b3090f083/mockgen/mockgen.go#L695

https://github.com/golang/mock/blob/aba2ff9a6844d5e3289e8472d3217d5b3090f083/mockgen/parse.go#L620-L642

How about adding an extra step in ci process to validate whether stub files are up to date?

[2021-12-27 08:15] feiskyer commented on #949
OK, that makes sense

[2021-12-27 08:22] MartinForReal commented on #951
How about using relative path instead?

https://github.com/kubernetes-sigs/cloud-provider-azure/blob/bb44e05c22914dddb2009871ea79b5e7577553c6/hack/update-mock-clients.sh#L20

Value of Source would be ```./pkg/azureclients/armclient/interface.go ```

[2021-12-27 08:27] MartinForReal commented on #949
Exactly!

I will raise a pr later. Thanks for your time!

[2021-12-27 11:49] Darshnadas commented on #878
Can I take this issue?

[2021-12-27 11:49] Darshnadas commented on #878
/assign

[2021-12-27 11:55] Darshnadas commented on #878
Can someone tell me that these commands, shall be written in a new script?

[2021-12-28 04:45] feiskyer commented on #878
Thanks for taking this. Yes, `release-notes` could be installed and invoked in a new script

[2021-12-28 10:12] MartinForReal commented on #949
One more scenario we should consider is HA mode of routing rule in internal SLB.

When HA mode in routing rule is enabled, traffic on all ports of frontend IP is load balanced.  Should we support this mode? Because lb accepts traffic from unmanaged port range which is different from what is expected from kubernetes service object and It also makes sensitive ports of VM hosts exposed to vnet and ma

[2021-12-29 02:29] feiskyer commented on #949
Refer HA ports annotation`service.beta.kubernetes.io/azure-load-balancer-enable-high-availability-ports`. But for health probe, you should only setup one port in one probing rule. Hence, I think it should be supported similar as normal LB rules.

[2021-12-29 14:21] MartinForReal commented on #949
Since service port is unique and we can use instead

[2021-12-30 03:12] nilo19 opened #956 "Support nodeIP in LB backend pool for existing clusters"
#### What would you like to be added:

The LB backendpool type `nodeIP` has been supported by https://github.com/kubernetes-sigs/cloud-provider-azure/pull/918 for new clusters. We need to support it for existing clusters as well.

#### Why is this needed:

[2021-12-30 08:35] #438 closed

[2021-12-31 08:43] MartinForReal opened #962 "Default probe rule for HealthCheckNodePort when externaltrafficpolicy=local doesn't work with k8s implementation."
#### What happened:

When the service object with externaltrafficpolicy=local is created, lb should create probe rule for HealthCheckNodePort.

https://github.com/kubernetes/kubernetes/blob/master/pkg/proxy/healthcheck/service_health.go#L223-L250

ServiceHealthServer is a simple http server which serves request from /

And when there is no endpoint on the node, it returns StatusServiceUnavailable

[2022-01-04 06:16] nilo19 commented on #917
What classes do we support?

[2022-01-04 06:17] nilo19 commented on #933
A possible solution is to check the existence of the resource group before returning the 404 error. In this way, the resource group client should be added to the repo.

[2022-01-06 07:01] mainred commented on #829
/remove-lifecycle stale